-extends "base.haml"

-load bootstrap3

-block content
  %h2 Mes classes

  %table.table.table-bordered
    -for lesson in lessons
      %tr
        %td
          %a{href: "{% url 'professor_lesson_detail_view' lesson.pk %}"}
            =lesson.name
        %td
          =lesson.stage
        %td
          -if lesson.students__count
            =lesson.students__count
            élève{{ lesson.students__count|pluralize }}
          -else
            pas encore d'élèves

  %hr

  .center
    %a.btn.btn-primary{href: ""}
      Ajouter une nouvelle classe

  -#
    %h2 Ajouter une classe :

    %form.form{action: "", method: "post"}
      -csrf_token
      -bootstrap_form add_lesson_form
      {% buttons %}
        %button.btn.btn-primary{type: "submit"}
          Ajouter
      {% endbuttons %}
