-extends "base.haml"

-load bootstrap3

-block content
  %h2 Mes classes

    %a.btn.btn-primary.pull-right{href: "{% url 'professor:lesson_add' %}"}
      Ajouter une nouvelle classe

  %table.table
    -for lesson in lessons
      %tr
        %td
          %h5
            %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
              =lesson.name|capfirst
        %td
          =lesson.stage
        %td
          -if lesson.students__count
            =lesson.students__count
            élève{{ lesson.students__count|pluralize }}
          -else
            pas encore d'élèves
        %td.center{width: "20px"}
          %a.btn.btn-sm.btn-default{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
            Vue Globale
        %td.center{width: "20px"}
          %a.btn.btn-sm.btn-default{href: "{% url 'professor:lesson_test_list' lesson.pk %}"}
            Liste des tests
        %td.center{width: "20px"}
          %a.btn.btn-sm.btn-default{href: "{% url 'professor:lesson_test_add' lesson.pk %}"}
            Création d'un test
