-extends "base.haml"

-load bootstrap3

-block content
  .row
    .col-md-5
      %a{type: "button", class: "btn btn-default btn-circle btn-xl", href: "/professor/skill/"}
        %img{src: "http://i68.tinypic.com/332szu9.png", class: "buttonimg"}
        .buttontxt
          Compétences
          %br
          et ressources

    .col-md-7
      %ul.nav.orange.nav-tabs
        <li role="presentation" class="active"><a href="#">Mes classes</a></li>

      .ligneorange

      .container-fluid.boxclassetitle

        .pull-right
          %a{href: "{% url 'professor:lesson_add' %}"}
            %img{src: "images/new.classe.png"}
          %a{href: "{% url 'professor:skill_list' %}"}
            %img{src: "images/new.classe.png"}

      .ligneorangefine

      .container-fluid.boxclasse
        %table.table
          -for lesson in lessons
            %tr
              %td
                %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
                  =lesson.name|capfirst
