-extends "base.haml"

-load bootstrap3

-block content
  .row
    .col-md-5
      %a{type: "button", class: "btn btn-default btn-circle btn-xl", href: "{% url 'professor:main-education' %}"}
        %img{src: "http://i68.tinypic.com/332szu9.png", class: "buttonimg"}
        .buttontxt
          Compétences
          %br
          et ressources

    .col-md-7
      %ul.nav.orange.nav-tabs
        %li.active{role: "presentation"}
          %a{href: "#"}
            Mes classes
        -# hidden tab for style
        %li{role: "presentation", style: "visibility: hidden"}
          %a{href: ""}
            Mes classes

      .ligneorange

      .container-fluid.boxclassetitle

        .pull-right
          %a.icon.new-class{href: "{% url 'professor:lesson_add' %}", data-toggle: "tooltip", data-placement: "top", title: "Ajouter une classe"}

      .ligneorangefine

      .container-fluid.boxclasse
        .list-group
          -for lesson in lessons
            %a.list-group-item{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
              =lesson.name|capfirst

          -empty
            Vous n'avez pas encore de classe, <a href="{% url 'professor:lesson_add' %}">cliquez ici pour en ajouter une</a>.
