-extends "base.haml"
-load static

-load bootstrap3

-block head
  %script{type: "text/javascript", src: "{% static 'js/professor_lesson.js' %}"}

  :javascript
    context = {
      lessonId: {{ lesson.id }}
    };

-block content
  %ol.breadcrumb
    %li= lesson.stage.name
    %li.active
      Classe
      =lesson.name

  -include "professor/lesson/lesson_detail_students.haml"

  -include "professor/lesson/lesson_detail_heatmap.haml"
