-extends "base.haml"

-block content
  %h1 Réponse de <a href="{% url 'professor_student_detail_view' student.pk %}">{{ student }}</a> au test <a href="{% url 'professor_test_detail' student_test.test.pk %}">{{ student_test.test }}</a> de type <i>{{ student_test.test.display_test_type }}</i>
  %hr

  -if student_test.started_at
    %table.table.table-bordered
      %thead
        %th
          Exercice
        %th
          Réponse de l'élève
        %th
          Réponse attendu
      %tbody
        -for i in student_test.answer_set.all
          %tr
            %td
              =i

  -else
    %p L'élève n'a pas encore commencé le test.
