-extends "base.haml"

-block content
  %h1 Réponse de <a href="{% url 'professor_student_detail_view' student.pk %}">{{ student }}</a> au test <a href="{% url 'professor_test_detail' student_test.test.pk %}">{{ student_test.test }}</a> de type <i>{{ student_test.test.display_test_type }}</i>
  %hr

  -if student_test.started_at
    %table.table.table-bordered
      %thead
        %th
          Exercice
        %th
          Réponse de l'élève
        %th
          Réponse attendu
      %tbody
        -for i in student_test.answer_set.all
          %tr{class: "{% if i.correct %}success{% elif i.correct == False %}warning{% endif %}"}
            %td
              -if not i.automatic
                =i.test_exercice.exercice.file_name|default:"[pas d'exercice]"
                sur la compétence
                =i.test_exercice.skill
              -else
                Inféré depuis les autres réponses sur la compétence
                =i.test_exercice.skill
            %td
              -if i.raw_answer
                =i.raw_answer
            %td
              -if i.test_exercice.exercice.content
                =i.test_exercice.exercice.content

  -else
    %p L'élève n'a pas encore commencé le test.
