-extends "base.haml"
-load static

-block head
  %script{type: "text/javascript", src: "{% static 'js/professor_student.js' %}"}

-block javascript
  :javascript
    $(function () {
      $('[data-toggle="popover"]').popover({
        html: true
      })

      $('.skill').each(function(index, node) {
        node.setAttribute("data-content", node.nextSibling.nextSibling.innerHTML);
      })
    })


-block content
  %div{ng-app: "oscar"}

    %ol.breadcrumb
      -with lesson=student.lesson_set.first
        %li= lesson.stage.name
        %li
          %a{href: "{% url 'professor_lesson_detail_view' lesson.id %}"}
            Classe
            =lesson.name
      %li.active
        Élève
        =student.user.first_name
        =student.user.last_name

    %h1
      =student.user.first_name|title
      =student.user.last_name|title

    %hr

    %ul
      %li Nom d'utilisateur:
        =student.user.username
      %li Courriel:
        =student.get_email

    %h2 Authentification de l'élève

    %div{ng-controller: "regeneratePasswordController", ng-init: "studentId={{ student.id }}"}
      %form{ng-submit: "askForNewPassword()"}
        %p{ng-hide: "!password"}
          Générer un nouveau mot de passe pour cet élève:
          %span.label.label-default
            {& password &}

        %input.btn.btn-primary{type: "submit", value: "Générer un nouveau mot de passe pour cet élève"}

    %h2 Classe:

    %ul
      -for lesson in student.lesson_set.all
        %li
          %a{href: "{% url 'professor_lesson_detail_view' lesson.pk %}"}= lesson.name

    %h2 Tests soumis à l'élève:

    %ul
      -for test_student in student.teststudent_set.all
        %li
          %i.fa.fa-desktop{aria-hidden: "true"}
          \-
          %a{href: "{% url 'professor_test_detail' test_student.test.pk %}"}
            =test_student.test.name
          -if test_student.test.display_test_type
            %i
              =test_student.test.display_test_type
          %span.label{class: "label-{% if test_student.get_state == 'fini' %}success{% elif test_student.get_state == 'started' %}warning{% else %}danger{% endif %}"}= test_student.get_state

    %h2
      %a{name: "skills"}
      Vue synthétique:

    -regroup student.skills_map by skill.stage as levels

    -for level in levels
      %h5
        Niveau {{ level.grouper }}

      %table
        -for student_skill in level.list
          -if forloop.first
            <tr>
          -elif forloop.counter0|divisibleby:12
            </tr><tr>
          %td{style: "text-align: center; width: 100px; padding: 10px;"}
            %a{type: "button", data-toggle: "popover", data-container: "body", data-placement: "bottom", tabindex: "0", data-trigger: "focus", title: "", data-content: '', style: '{% if student_skill.tested or student_skill.acquired %}color: white;{% endif %}; width: 100%{% if student_skill.recommanded_to_learn %}; border: black solid;{% endif %}', class: "btn btn-{% if student_skill.acquired %}success{% elif student_skill.tested %}warning{% else %}default{% endif %} skill"}
              %abbr{title: "{{ student_skill.skill.name }}", style: "cursor: default; border: none"}= student_skill.skill.code
            %div{style: "display: none"}
              %center
                %p
                  %a{href: "{% url 'professor_skill_detail_view' student_skill.skill.code %}"} Détails de la compétence
                %p
                  %form{action: "{% url 'professor_validate_student_skill' student_skill.id %}", method: "post"}
                    -csrf_token
                    %input.btn.btn-success{type: "submit", value: "Marquer comme acquise"}
                %p
                  %form{action: "{% url 'professor_unvalidate_student_skill' student_skill.id %}", method: "post"}
                    -csrf_token
                    %input.btn.btn-warning{type: "submit", value: "Marquer comme non acquise"}
                %p
                  %form{action: "{% url 'professor_default_student_skill' student_skill.id %}", method: "post"}
                    -csrf_token
                    %input.btn.btn-default{type: "submit", value: "Marquer comme non testée"}

          -if forloop.last
            </tr>

    %br
    %br
    %br
