.panel.panel-default
  .panel-heading{id: "heading{{ stage.id }}", role: "tab"}
    %h4.panel-title
      %a.collapsed{role: "button", data-toggle: "collapse", data-parent: "#accordion", href: "#collapse{{ stage.id }}", aria-expanded: "false", aria-controls: "collapse{{ stage.id }}"}
        =title

  .panel-collapse.collapse{role: "tabpanel", aria-labelledby: "heading{{ stage.id }}", id: "collapse{{ stage.id }}"}
    %table.table
      %col
      %col
      %col{width: "200px"}
      %col
      %col
      %col
      -for skill in stage.skills_with_exercice_count
        %tr
          %td
            %a.btn.btn-default{href: "{% url 'professor:skill_detail' skill.code %}"}= skill
          %td
            =skill.name
          %td
            -if skill.exercice__count
              =skill.exercice__count
              question{{ skill.exercice__count|pluralize }}
            -else
              %i Pas de questions disponibles.
          %td
            %a.btn.btn-primary{href: "{% url 'professor:exercice_validation_form' %}#?code={{ skill.code }}"}
              Ajouter une question
          %td
            %a.btn.btn-primary{href: "{% url 'professor:skill_update_pedagogical_ressources' skill.code %}"}
              Ajouter une ressource
          %td
            %a.btn.btn-sm.btn-warning{href: "mailto:support@oscar.education?subject=Problème avec la compétence [{{ skill.code }}] {{ skill.name }}"}
              Signaler un problème
              %br
              avec cette compétence
