-load lesson_tags

.panel.panel-default
  .panel-heading.subpanel{id: "heading{{ stage.id }}", role: "tab"}
    %h4.panel-title
      %a.collapsed{role: "button", data-toggle: "collapse", data-parent: "#accordion", href: "#collapse{{ stage.id }}", aria-expanded: "false", aria-controls: "collapse{{ stage.id }}"}
        =title

  .panel-collapse.collapse{role: "tabpanel", aria-labelledby: "heading{{ stage.id }}", id: "collapse{{ stage.id }}"}
    .panel-body
      -regroup stage.skills_by_id by section_id as sections
      -for section in sections
        %table.table.table-bordered.table-hover
          %col
          %col
          %col{width: "200px"}
          %col
          %tbody
            %tr.active.clickable{data-toggle: "collapse", data-target: "#collapse-{{ stage.id }}-{{ section.grouper|slugify }}", id: "accordion-{{ stage.id }}-{{ section.id }}", role: "tablist", aria-multiselectable: "true"}
              -with code=section.list|first
                %th.center{role: "tab", width: "68px"}= code.code|slice:":2"
              %th{colspan: 5} {% get_section_name section.grouper %}
          %tbody.collapse{id: "collapse-{{ stage.id }}-{{ section.grouper|slugify }}"}
            %tr
              %td.center{colspan: 4}
                %a.btn.btn-info{href: "{% url 'professor:update_pedagogical_ressources' 'section' section.grouper %}"} Ajouter une ressource
            -for skill in section.list
              %tr
                %td.center
                  %a.btn.btn-default{href: "{% url 'professor:skill_detail' skill.code %}"}= skill.code|slice:"2:"
                %td
                  %a{href: "{% url 'professor:skill_detail' skill.code %}"}= skill.name
                %td
                  -if skill.skills_with_exercice_count
                    %a{href: "{% url 'professor:skill_detail' skill.code %}"}
                      =skill.skills_with_exercice_count
                      question{{ skill.skills_with_exercice_count|pluralize }}
                  -else
                    %i Pas de questions disponibles.
                %td.center
                  %a.btn.btn-primary{href: "{% url 'professor:exercice_validation_form' %}#?code={{ skill.code }}"}
                    Ajouter une question
                  %br
                  %br
                  %a.btn.btn-primary{href: "{% url 'professor:update_pedagogical_ressources' 'skill' skill.id %}"}
                    Ajouter une ressource
                  %br
                  %br
                  %a.btn.btn-sm.btn-warning{href: "mailto:support@oscar.education?subject=Problème avec la compétence [{{ skill.code }}] {{ skill.name }}"}
                    Signaler un problème
                    %br
                    avec cette compétence
