-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' object.lesson.id %}"}
        Classe
        =object.lesson.name
    %li.active
      Évaluation libre
      =object.name

-block content
  %h3 Évaluation libre <i>{{ object.name }}</i>  pour la classe <a href="{% url 'professor:lesson_detail' object.lesson.pk %}">{{ object.lesson.name }}</a>
  %hr

  .ligneorange

  .container-fluid.boxclassetitle
    .pull-left
      %td.center{width: "20px"}
        %a.btn.btn-primary{href: "{% url 'professor:lesson_test_list' lesson.pk %}"}
          Retour aux tests

    .pull-right
      %td.center{width: "20px"}
        %a.btn.btn-primary{href: "{% url 'professor:lesson_test_from_class_fill' lesson.pk object.pk %}"}
          Encoder
      %td.center{width: "20px"}
        %a.btn.btn-default{href: "{% url 'professor:lesson_test_from_class_modify' lesson.pk object.pk %}"}
          Modifier
      %td.center{width: "20px"}
        %a.btn.btn-danger{href: "{% url 'professor:lesson_test_delete' lesson.pk object.pk %}"}
          Effacer

  .ligneorangefine

  .boxclasse.container-fluid
    %h5 Compétences sélectionnées
    %ul.heatmap-list
      -for skill in object.skills.all
        %li
          %a.btn.btn-default.skill{type: "button", href: "{% url 'professor:lesson_skill_detail' object.lesson.pk skill.code %}"}
            %abbr{title: "{{ skill.name }}", style: "cursor: default; border: none"}= skill.code

          =skill.name

    %h5 Résultats par élèves

    -if object.testskillfromclass_set.exists
      %table.table.table-bordered
        %thead
          %th{width: "20%"}
            Élève / Compétences
          -for i in object.skills.all
            %th.center
              =i.code
              %br
              =i.name
        -for student, skills in object.get_skills_with_encoded_values
          %tr
            %td
              %a{href: "{% url 'professor:lesson_student_detail' lesson.pk student.pk %}"}
                =student
            -for skill, encoded_value in skills
              %td{class: "{% if encoded_value.result == 'good' %}success{% elif encoded_value.result == 'bad' %}warning{% endif %}"}

    -else
      %p Vous n'avez pas encore encodé cette évaluation libre.
      %p
        %a{href: "{% url 'professor:lesson_test_from_class_fill' lesson.pk object.pk %}"}
          Le faire maintenant.
