-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Remplir l'évaluation libre

-block content
  %h3
    Sélectionner les compétences résultantes de l'évaluation libre
    %i= test_from_class.name
  %hr

  %form{method: "post", action: ""}
    -csrf_token
    %table.table.table-striped.table-bordered
      %col{width: "120px"}
      -for skill in test_from_class.skills.all
        %col{width: "1"}
      %tr
        %th Élèves
        -for skill in test_from_class.skills.all
          %th
            .center
              =skill.code
              %br
              =skill.name
      -for student, skills in test_from_class.get_skills_with_encoded_values
        %tr
          %td= student
          -for skill, encoded_value in skills
            %td
              .center
                .btn-group-vertical{data-toggle: "buttons"}
                  -if encoded_value and encoded_value.result == "good"
                    %label.btn.btn-default.good.active
                      %input{type: "radio", name: "{{ student.id }}_{{ skill.id }}", value: "good_{{ student.id }}_{{ skill.id }}", autocomplete: "off", checked: "checked"}
                      acquise
                  -else
                    %label.btn.btn-default.good
                      %input{type: "radio", name: "{{ student.id }}_{{ skill.id }}", value: "good_{{ student.id }}_{{ skill.id }}", autocomplete: "off"}
                      acquise

                  -if encoded_value and encoded_value.result == "bad"
                    %label.btn.btn-default.bad.active
                      %input{type: "radio", name: "{{ student.id }}_{{ skill.id }}", value: "bad_{{ student.id }}_{{ skill.id }}", autocomplete: "off", checked: "checked"}
                      non acquise
                  -else
                    %label.btn.btn-default.bad
                      %input{type: "radio", name: "{{ student.id }}_{{ skill.id }}", value: "bad_{{ student.id }}_{{ skill.id }}", autocomplete: "off"}
                      non acquise

                  -if not encoded_value or encoded_value.result == "unknown"
                    %label.btn.btn-default.unknown.active
                      %input{type: "radio", name: "{{ student.id }}_{{ skill.id }}", value: "unknown_{{ student.id }}_{{ skill.id }}", autocomplete: "off", checked: "checked"}
                      non testée
                  -else
                    %label.btn.btn-default.unknown
                      %input{type: "radio", name: "{{ student.id }}_{{ skill.id }}", value: "unknown_{{ student.id }}_{{ skill.id }}", autocomplete: "off"}
                      non testée

    %button.btn.btn-primary{type: "submit"}
      Valider
    %a.btn.btn-default{href: "{% url 'professor:lesson_test_from_class_detail' lesson.pk test_from_class.pk %}"}
      Encoder plus tard

-block javascript
  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}

  :javascript
    $(function() {
      var color_good = function() {
        var btn = $(this)
        btn.addClass("btn-success");

        var td = btn.parent().parent().parent();
        td.addClass("success");
        td.removeClass("warning");

        var bad_btn = btn.parent().find(".bad");
        bad_btn.removeClass("btn-warning");
      }

      var color_bad = function() {
        var btn = $(this)
        btn.addClass("btn-warning");

        var td = btn.parent().parent().parent();
        td.addClass("warning");
        td.removeClass("success");

        var good_btn = btn.parent().find(".good");
        good_btn.removeClass("btn-success");
      }

      var color_unknown = function() {
        var btn = $(this)

        var td = btn.parent().parent().parent();
        td.removeClass("success");
        td.removeClass("warning");

        var good_btn = btn.parent().find(".good");
        good_btn.removeClass("btn-success");

        var bad_btn = btn.parent().find(".bad");
        bad_btn.removeClass("btn-warning");
      }

      $(".good").click(color_good);
      $(".bad").click(color_bad);
      $(".unknown").click(color_unknown);

      $(".good.active").each(color_good);
      $(".bad.active").each(color_bad);
      $(".unknow.active").each(color_unknow);
    })
