-extends "base.haml"

-block content
  %h1 Réponse de <a href="{% url 'professor:lesson_student_detail' lesson.pk student.pk %}">{{ student }}</a> au test <a href="{% url 'professor:lesson_test_detail' lesson.pk student_test.test.pk %}">{{ student_test.test }}</a> de type <i>{{ student_test.test.display_test_type }}</i>
  %hr

  -if student_test.started_at
    %table.table.table-bordered
      %thead
        %th
          Compétence / exercice
        %th
          Réponse de l'élève
        %th
          Réponse attendue
      %tbody
        -for i in student_test.answer_set.all
          %tr
            %td{class: "{% if i.correct %}success{% elif i.correct == False %}warning{% endif %}"}
              %p
                %b Compétence :
                =i.test_exercice.skill
                %br
                %b Exercice :
                =i.test_exercice.exercice.file_name|default:"pas d'exercice disponible"
            %td{colspan: 2}
              -if not i.test_exercice.exercice.file_name and not i.automatic
                %i pas d'exercice disponible
              -elif not i.automatic
                %table.full-width
                  %tr
                    %td{colspan: 2}
                      -if i.test_exercice.exercice.content
                        %i= i.test_exercice.exercice.content|safe
                  -for question, answer in i.get_answers.items
                    %tr
                      %td{colspan: 2}
                        .answers-panel.panel{class: "{% if answer.is_correct %}panel-success{% else %}panel-warning{% endif %}"}
                          .panel-heading
                            =question|safe
                          .panel-body.answers-panel
                            %table.answers-table
                              -if answer.type == "checkbox"
                                %tr
                                  %td.right-border{width: "50%"}
                                    %ul
                                      -for j in answer.answer
                                        %li= j
                                  %td{width: "50%"}
                                    %ul
                                      -for j in answer.correct
                                        %li= j
                              -elif answer.type == "text"
                                %tr
                                  %td.right-border{width: "50%"}
                                    =answer.answer
                                  %td{width: "50%"}
                                    %ul
                                      -for j in answer.correct
                                        %li= j
                              -else
                                -# radio
                                %tr
                                  %td.right-border{width: "50%"}
                                    =answer.answer
                                  %td{width: "50%"}
                                    =answer.correct
              -else
                %i Déduit depuis les autres réponses


  -else
    %p L'élève n'a pas encore commencé le test.
