-extends "base.haml"

-load student_tags
-load lesson_tags

-block content
  -with lesson=user.student.lesson_set.first
    %ol.breadcrumb
      %li= lesson.stage.name
      %li.active
        Classe
        =lesson.name

    %div.pull-right
      %a.btn.btn-info{href: "{% url 'student_test_finished' %}"}
        Voir les anciens tests

    -if user.student.has_recommanded_skills
      %h3 Compétences recommandées
      %hr

      -for stage in lesson.stages_in_unchronological_order
        -get_students_skills of user.student at stage as "student_skills"
        -for student_skill in student_skills
          -if student_skill.recommanded_to_learn
            %ul.legend-list
              %li.legend
                %a.right-space{type: "button", style: "width: 75px; border: black solid;", href: '{% url "student_skill_pedagogic_ressources" student_skill.skill.code %}', class: "btn btn-warning"}
                  %i{class: "fa fa-{{ student_skill.skill.image }}", title: "{{ student_skill.skill.name }}"}
                %a{href: '{% url "student_skill_pedagogic_ressources" student_skill.skill.code %}'}
                  {{ student_skill.skill.name }}

    -if user.student.teststudent_set.all|keep_unfinished_tests|remove_closed_tests
      %hr
      .panel.panel-default
        .panel-heading Test{{ user.student.teststudent_set.all|keep_unfinished_tests|pluralize }} à passer

        %ul.list-group
          -for student_test in user.student.teststudent_set.all|keep_unfinished_tests|remove_closed_tests
            -if not student_test.finished
              %li.list-group-item
                %span.badge= student_test.test.created_at|date:"d/m/Y"
                %a{href: "{% url 'student_pass_test' student_test.id %}"}= student_test.test.name

    %h3 Mon empreinte

    -for stage in lesson.stages_in_unchronological_order
      .panel.panel-default
        .panel-heading
          Niveau {{ stage.name }}

        .panel-body
          -get_students_skills of user.student at stage as "student_skills"
          -if forloop.first
            -regroup student_skills by skill.section as sections
            -for section in sections
              %h5= section.grouper

              %ul.legend-list
                -for student_skill in section.list
                  %li.legend
                    %a{type: "button", style: '{% if student_skill.tested or student_skill.acquired %}color: white;{% endif %}; width: 75px{% if student_skill.recommanded_to_learn %}; border: black solid;{% endif %}', href: '{% url "student_skill_pedagogic_ressources" student_skill.skill.code %}', class: "btn btn-{% if student_skill.acquired %}success{% elif student_skill.tested %}warning{% else %}default{% endif %} skill"}
                      %i{class: "fa fa-{{ student_skill.skill.image }}", title: "{{ student_skill.skill.name }}"}
                    %a{href: '{% url "student_skill_pedagogic_ressources" student_skill.skill.code %}'}
                      {{ student_skill.skill.name }}
          -else
            %table
              -for student_skill in student_skills|strip_untested_skills
                -if forloop.first
                  <tr>
                -elif forloop.counter0|divisibleby:12
                  </tr><tr>
                %td{style: "text-align: center; width: 100px; padding: 10px;"}
                  %a{type: "button", style: '{% if student_skill.tested or student_skill.acquired %}color: white;{% endif %}; width: 100%{% if student_skill.recommanded_to_learn %}; border: black solid;{% endif %}', href: '{% url "student_skill_pedagogic_ressources" student_skill.skill.code %}', class: "btn btn-{% if student_skill.acquired %}success{% elif student_skill.tested %}warning{% else %}default{% endif %} skill"}
                    %i{class: "fa fa-{{ student_skill.skill.image }}", title: "{{ student_skill.skill.name }}"}

                -if forloop.last
                  </tr>

    %hr
    %h3 Légende

    .row
      .col-md-6
        %ul.legend-list
          %li.legend
            .btn.btn-default.right-space
              %i.fa.fa-plus-square
            nombres
          %li.legend
            .btn.btn-default.right-space
              %i.fa.fa-cube
            solides et figures
          %li.legend
            .btn.btn-default.right-space
              %i.fa.fa-arrows-v
            grandeurs
          %li.legend
            .btn.btn-default.right-space
              %i.fa.fa-bar-chart
            traitement de données
      .col-md-6
        %ul.legend-list
          %li.legend
            .btn.btn-default.right-space
              %i.fa.fa-area-chart
            fonctions
          %li.legend
            .btn.btn-default.right-space
              %i.fa.fa-pie-chart
            probabilités et statistiques
          %li.legend
            .btn.btn-default.right-space
              %i.fa.fa-gears
            compétences transversales

    %br
    %br
    %br
