-extends "base.haml"

-load static
-load student_tags
-load lesson_tags

-block breadcrumb
  -with lesson=user.student.lesson_set.first
    %ol.breadcrumb
      %li.active
        Classe
        =lesson.name

-block content-student
  .container-fluid.boxclassetitle
    .center
      %span.green
        <img class='icon student-skill' src='/static/img/icons/mastered.png' /> = maîtrisé,
      %span.orange
        <img class='icon student-skill' src='/static/img/icons/not-mastered.png' /> = non maîtrisé,
      %span.gris
        <img class='icon student-skill' src='/static/img/icons/not-tested.png' /> = pas encore testé,
      %span.orange
        <img class='icon student-skill' src='/static/img/icons/recommended.png' /> = compétence recommandée non maîtrisée.

  %br

  -with lesson=user.student.lesson_set.first
    .row
      .col-md-6
        -for stage in lesson.stages_in_unchronological_order
          -get_students_skills of user.student at stage rename "student_skills"
          -if forloop.first
            .container-fluid.boxclassetitle
              %h5
                Mon empreinte
                Niveau {{ stage.name }}

            .ligneorangefine

            .container-fluid.boxclasse
              -regroup student_skills by skill.section as sections
              -for section in sections
                .panel.panel-default
                  .panel-heading.student-section-round
                    =section.grouper
                    -with student_skill=section.list|first
                      %i.round-section-icon{class: "fa fa-{{ student_skill.skill.image }}", title: "{{ student_skill.skill.name }}"}
                      %span{style:'float:right;'}
                        %a{href: '{% url "student_skill_pedagogic_ressources" "section" section.grouper.id %}'}
                          %img.icon{src: "{% static 'img/icons/ressource-white.png' %}", title: "Accéder aux ressources du chapitre" }

                %table.table-hover.table
                  -for student_skill in section.list
                    %tr.legend-list
                      %td.legend
                        -if student_skill.acquired
                          %img.icon.student-skill{src: "{% static 'img/icons/mastered.png' %}"}
                        -elif student_skill.tested
                          -if student_skill.recommended_to_learn
                            %img.icon.student-skill{src: "{% static 'img/icons/recommended.png' %}"}
                          -else
                            %img.icon.student-skill{src: "{% static 'img/icons/not-mastered.png' %}"}
                        -else
                          %img.icon.student-skill{src: "{% static 'img/icons/not-tested.png' %}"}
                      %td.legend
                        %a{href: '{% url "student_skill_pedagogic_ressources" "skill" student_skill.skill.code %}'}
                          {{ student_skill.skill.name }}

            %br
          -else
            -if forloop.counter == 2
              .container-fluid.boxclassetitle
                %h5 Années précédentes

              .ligneorangefine

              <div class="container-fluid boxclasse">
            .panel.panel-default
              .panel-heading
                Niveau {{ stage.name }}
              .panel-body
                %table
                  -for student_skill in student_skills|strip_untested_skills
                    -if forloop.first
                      <tr>
                    -elif forloop.counter0|divisibleby:5
                      </tr><tr>
                    %td{style: "text-align: center; width: 100px; padding: 10px;"}
                      %a{type: "button", style: '{% if student_skill.tested or student_skill.acquired %}color: white;{% endif %}; width: 100%{% if student_skill.recommended_to_learn %}; border: black solid;{% endif %}', href: '{% url "student_skill_pedagogic_ressources" "skill" student_skill.skill.code %}', class: "btn btn-{% if student_skill.acquired %}success{% elif student_skill.tested %}warning{% else %}default{% endif %} skill"}
                        %i{class: "fa fa-{{ student_skill.skill.image }}", title: "{{ student_skill.skill.name }}"}

                    -if forloop.last
                      </tr>
            -if forloop.last
              </div>


        %h5 Légende

        .row
          .col-md-6
            %ul.legend-list
              %li.legend
                .btn.btn-default.right-space
                  %i.fa.fa-plus-square
                nombres
              %li.legend
                .btn.btn-default.right-space
                  %i.fa.fa-cube
                solides et figures
              %li.legend
                .btn.btn-default.right-space
                  %i.fa.fa-arrows-v
                grandeurs
              %li.legend
                .btn.btn-default.right-space
                  %i.fa.fa-bar-chart
                traitement de données
          .col-md-6
            %ul.legend-list
              %li.legend
                .btn.btn-default.right-space
                  %i.fa.fa-area-chart
                fonctions
              %li.legend
                .btn.btn-default.right-space
                  %i.fa.fa-pie-chart
                probabilités et statistiques
              %li.legend
                .btn.btn-default.right-space
                  %i.fa.fa-gears
                compétences transversales

      .col-md-6
        -if user.student.has_recommended_skills
          .container-fluid.boxclassetitle
            %h5 Compétences recommandées

          .ligneorangefine

          .container-fluid.boxclasse

            %table.table.table-hover
              -for stage in lesson.stages_in_unchronological_order
                -get_students_skills of user.student at stage rename "student_skills"
                -for student_skill in student_skills
                  -if student_skill.recommended_to_learn
                    %tr.legend-list
                      %td.legend
                        %i.round-section-icon.recommended{class: "fa fa-{{ student_skill.skill.image }}", title: "{{ student_skill.skill.name }}", data-toggle: "tooltip", data-placement: "right", section: "{{ student_skill.skill.section }}"}
                      %td.legend
                        %img.icon.student-skill{src: "{% static 'img/icons/recommended.png' %}"}
                      %td
                        %a{href: '{% url "student_skill_pedagogic_ressources" "skill" student_skill.skill.code %}'}
                          {{ student_skill.skill.name }}

        -if user.student.teststudent_set.all|keep_unfinished_tests|remove_closed_tests
          -if user.student.has_recommended_skills
            %br

          .container-fluid.boxclassetitle
            %h5 Test{{ user.student.teststudent_set.all|keep_unfinished_tests|pluralize }} à passer

          .ligneorangefine

          .container-fluid.boxclasse

            .list-group
              -for student_test in user.student.teststudent_set.all|keep_unfinished_tests|remove_closed_tests
                -if not student_test.finished
                  %a.list-group-item{href: "{% url 'student_pass_test' student_test.id %}"}
                    %span.badge= student_test.test.created_at|date:"d/m/Y"
                    =student_test.test.name
