-extends "base.haml"

-load i18n
-load bootstrap3

-block content
  %form#login-form{action: "{{ app_path }}", method: "post", role: "form"}
    -csrf_token

    .form-group{class: "{% if form.id_username.errors %}has-error{% elif form.data and form.id_username %}has-success{% endif %}"}
      %label.control-label{for: "id_username"}
        Nom d'utilisateur
      %input#id_username.form-control{type: "text", required: "", placeholder: "Nom d´utilisateur", name: "username"}
      -for error in form.id_username.errors
        %span.help-block= error

    .form-group{class: "{% if form.id_password.errors %}has-error{% elif form.data and form.id_password %}has-success{% endif %}"}
      %label.control-label{for: "id_password"}
        Mot de passe
      %input#id_password.form-control{type: "password", required: "", placeholder: "Mot de passe", name: "password"}
      -for error in form.id_password.errors
        %span.help-block= error

    -url 'admin_password_reset' as password_reset_url
    -if password_reset_url
      .password-reset-link
        %a{href: "{{ password_reset_url }}"}
          -trans 'Forgotten your password or username?'
    .submit-row
      %label
        &nbsp
      %input.btn.btn-primary{type: "submit", value: "Connexion"}
