-extends "base.haml"

-block content
  %h2 Compétence
    =object.code
    %small= object.name
  %hr

  .well
    %h3 Synthèse <span style="color: #F58025">O</span>scar
    %hr

    =object.oscar_synthese|default:""|safe

  .well
    %h3 Vidéos
    %hr

    %ul
      -for video in object.videoskill_set.all
        %li
          %a{href: "{{ video.url }}"}
            =video.title
          \-
          =video.duration
          \-
          difficulté:
          =video.difficulty

  .well
    %h3 Exercices
    %hr

    %ul
      -for exercice in object.exerciceskill_set.all
        %li
          %a{href: "{{ MEDIA_URL }}{{ exercice.questions }}"}
            =exercice.title
          \-
          =exercice.duration
          \-
          difficulté:
          =exercice.difficulty
          -if exercice.answers
            \-
            %a{href: "{{ MEDIA_URL }}{{ exercice.answers }}"}
              réponses

  .well
    %h3 Liens externes
    %hr

    %ul
      -for external_link in object.externallinkskill_set.all
        %li
          %a{href: "{{ external_link.url }}"}
            =external_link.title
          \-
          =external_link.duration
          \-
          difficulté:
          =external_link.difficulty

  :css
    h3 {
      margin-top: 5px;
      margin-bottom: 20px;
    }
