-extends "professor/skill/detail.haml"

-block after
  %table.table.table-bordered
    %colgroup
      %col{span: 1, style: "width: 25%"}
    %tr
      %th
        =skill.code
        \-
        =skill.name
      %th.center
        Maitrisé
      %th.center
        Non maitrisé
      %th.center
        Non testé

    -for student_skill in student_skills
      %tr
        %td
          %a{href: "{% url 'professor:lesson_student_detail' lesson.pk student_skill.student.pk %}"}= student_skill.student
        -if student_skill.acquired
          %td.success
          %td
          %td
        -elif student_skill.tested
          %td
          %td.danger
          %td
        -else
          %td
          %td
          %td.warning

    %tr
      %td
        %b Total
      %td.center
        %b
          =number_acquired
          \/
          =number_of_students
      %td.center
        %b
          =number_not_acquired
          \/
          =number_of_students
      %td.center
        %b
          =number_not_tested
          \/
          =number_of_students
