-load crispy_forms_tags
%li.link.hidden.list-group-item
	.row
		.col-md-4
			%div.form-group=resource_form.link|as_crispy_field
		.col-md-4
			%div.form-group=resource_form.type|as_crispy_field
		.col-md-4
			%div.form-group=resource_form.name|as_crispy_field

		%button.btn.btn-danger.remove.btn-files{type: "button", "data-target":"link"}
			%span.glyphicon.glyphicon-trash
