-extends "base.haml"

-load bootstrap3

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Ajouter une classe

  %h2 Ajouter une nouvelle classe

  %form.form{action: "", method: "post"}
    -csrf_token
    -bootstrap_form add_lesson_form
    {% buttons %}
      %button.btn.btn-primary{type: "submit"}
        Ajouter
    {% endbuttons %}
