-extends "base.haml"

-load bootstrap3
-load lesson_tags

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Ajouter une classe

  .panel.panel-default
    .panel-heading
      Ajouter une nouvelle classe

    .panel-body
      %form.form{action: "", method: "post"}
        -csrf_token
        .form-group{class: "{% if form.name.errors %}has-error{% elif form.data and form.name %}has-success{% endif %}"}
          %label.control-label{for: "id_name"}
            Nom de la classe
          %input#id_name.form-control{type: "text", required: "", placeholder: "Nom de la classe", name: "name", value: '{{ form.name.value|default:"" }}'}
          -for error in form.name.errors
            %span.help-block= error

        .form-group{class: "{% if form.stage.errors %}has-error{% elif form.data and form.stage %}has-success{% endif %}"}
          %b Socles de compétences :
          %ul
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '1e' %}"} étape I (1er degré primaire)


            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '2e' %}"} étape II (2ème et 3ème degrés primaire)


            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '3e' %}"} étape III (1er degré secondaire)




          %b 3ème année
          %ul
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '2p' %}"} enseignement professionnel (2ème degré)
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '2d2' %}"} enseignement technique 2 périodes par semaine (2ème degré)
              -#
                enseignement technique
                %ul
                  %li
                    .radio
                      %label
                        %input{type: "radio", name: "stage", value: "{% get_stage_id '2d2' %}"} 2 périodes par semaine (2ème degré)
                -#
                  %li
                    .radio
                      %label
                        %input{type: "radio", name: "stage", value: "{{ stage.id }}"} 4 périodes par semaine
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '3t' %}"} enseignement de transition




          %b 4ème année
          %ul
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '2p' %}"} enseignement professionnel (2ème degré)
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '2d2' %}"} enseignement technique 2 périodes par semaine (2ème degré)
              -#
                enseignement technique
                %ul
                  %li
                    .radio
                      %label
                        %input{type: "radio", name: "stage", value: "{% get_stage_id '2d2' %}"} 2 périodes par semaine (2ème degré)
                -#
                  %li
                    .radio
                      %label
                        %input{type: "radio", name: "stage", value: "{{ stage.id }}"} 4 périodes par semaine
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '4t' %}"} enseignement de transition





          %b 5ème année
          %ul
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '3p' %}"} enseignement professionnel (3ème degré)
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '3d2' %}"} enseignement technique 2 périodes par semaine (3ème degré)
              -#
                enseignement technique
                %ul
                  %li
                    .radio
                      %label
                        %input{type: "radio", name: "stage", value: "{% get_stage_id '3d2' %}"} 2 périodes par semaine (3ème degré)
                -#
                  %li
                    4 périodes par semaine
                    %ul
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} agronomie
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} construction
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} économie
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} industrie
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} industrie orientation électrotechnique
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} sciences appliquées
            %li
              enseignement de transition
              %ul
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '5tb' %}"} mathématiques de base
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '5tg' %}"} mathématiques générales
                -#
                  %li
                    .radio
                      %label
                        %input{type: "radio", name: "stage", value: "{{ stage.id }}"} mathématiques pour scientifiques





          %b 6ème année
          %ul
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '3p' %}"} enseignement professionnel (3ème degré)
            %li
              .radio
                %label
                  %input{type: "radio", name: "stage", value: "{% get_stage_id '3d2' %}"} enseignement technique 2 périodes par semaine (3ème degré)
              -#
                enseignement technique
                %ul
                  %li
                    .radio
                      %label
                        %input{type: "radio", name: "stage", value: "{% get_stage_id '3d2' %}"} 2 périodes par semaine (3ème degré)
                -#
                  %li
                    4 périodes par semaine
                    %ul
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} agronomie
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} construction
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} économie
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} industrie
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} industrie orientation électrotechnique
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} sciences appliquées
            %li
              enseignement de transition
              %ul
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '6tb' %}"} mathématiques de base
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '6tg' %}"} mathématiques générales
                -#
                  %li
                    .radio
                      %label
                        %input{type: "radio", name: "stage", value: "{{ stage.id }}"} mathématiques pour scientifiques




        {% buttons %}
          %button.btn.btn-primary{type: "submit"}
            Ajouter
        {% endbuttons %}

  :css
    li {
      list-style-type: none;
    }

    ul {
      padding-left: 30px;
    }
