-extends "base.haml"

-load bootstrap3
-load lesson_tags

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Ajouter une classe

-block content
  .panel.panel-default
    .panel-heading
      Ajouter une nouvelle classe

    .panel-body
      %form.form{action: "", method: "post"}
        -csrf_token
        .form-group{class: "{% if form.name.errors %}has-error{% elif form.data and form.name %}has-success{% endif %}"}
          %label.control-label{for: "id_name"}
            Nom de la classe
          %input#id_name.form-control{type: "text", required: "", placeholder: "Nom de la classe", name: "name", value: '{{ form.name.value|default:"" }}'}
          -for error in form.name.errors
            %span.help-block= error

        .form-group{class: "{% if form.stage.errors %}has-error{% elif form.data and form.stage %}has-success{% endif %}"}
          .panel.panel-default
            .panel-heading
              %b Primaire
            .panel-body
              %ul
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '1e' %}"} 2e cycle (1-2 primaire)


                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '2e' %}"} 3e et 4e cycles (3-6 primaire)


          .panel.panel-default
            .panel-heading
              %b Secondaire
            .panel-body
              %b 1ère et 2e année
              %ul
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '3e' %}"} 5e cycle (1-2 secondaire)




              %b 3e année
              %ul
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '2p' %}"} enseignement professionnel (2e degré)
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '2d2' %}"} enseignement technique 2 périodes par semaine (2e degré)
                  -#
                    enseignement technique
                    %ul
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{% get_stage_id '2d2' %}"} 2 périodes par semaine (2e degré)
                    -#
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} 4 périodes par semaine
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '3t' %}"} enseignement de transition




              %b 4e année
              %ul
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '2p' %}"} enseignement professionnel (2e degré)
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '2d2' %}"} enseignement technique 2 périodes par semaine (2e degré)
                  -#
                    enseignement technique
                    %ul
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{% get_stage_id '2d2' %}"} 2 périodes par semaine (2e degré)
                    -#
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} 4 périodes par semaine
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '4t' %}"} enseignement de transition





              %b 5e année
              %ul
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '3p' %}"} enseignement professionnel (3e degré)
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '3d2' %}"} enseignement technique 2 périodes par semaine (3e degré)
                  -#
                    enseignement technique
                    %ul
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{% get_stage_id '3d2' %}"} 2 périodes par semaine (3e degré)
                    -#
                      %li
                        4 périodes par semaine
                        %ul
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} agronomie
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} construction
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} économie
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} industrie
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} industrie orientation électrotechnique
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} sciences appliquées
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '5tb' %}"} enseignement de transition mathématiques de base
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '5tg' %}"} enseignement de transition mathématiques générales
                    -#
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} mathématiques pour scientifiques





              %b 6e année
              %ul
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '3p' %}"} enseignement professionnel (3e degré)
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '3d2' %}"} enseignement technique 2 périodes par semaine (3e degré)
                  -#
                    enseignement technique
                    %ul
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{% get_stage_id '3d2' %}"} 2 périodes par semaine (3e degré)
                    -#
                      %li
                        4 périodes par semaine
                        %ul
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} agronomie
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} construction
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} économie
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} industrie
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} industrie orientation électrotechnique
                          %li
                            .radio
                              %label
                                %input{type: "radio", name: "stage", value: "{{ stage.id }}"} sciences appliquées
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '6tb' %}"} enseignement de transition mathématiques de base
                %li
                  .radio
                    %label
                      %input{type: "radio", name: "stage", value: "{% get_stage_id '6tg' %}"} enseignement de transition mathématiques générales
                    -#
                      %li
                        .radio
                          %label
                            %input{type: "radio", name: "stage", value: "{{ stage.id }}"} mathématiques pour scientifiques




        {% buttons %}
          %button.btn.btn-primary{type: "submit"}
            Ajouter
        {% endbuttons %}

  :css
    li {
      list-style-type: none;
    }

    ul {
      padding-left: 30px;
    }
