-extends "base.haml"
-load static
-load bootstrap3
-load compress

-block head
  -compress js
    %script{type: "text/javascript", src: "{% static 'js/professor_student.js' %}"}

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      supprimer la classe

-block content
  .center
    %form.form{method: "POST", action: ""}
      -csrf_token
      %p
        %button.btn.btn-danger.btn-lg{type: "submit"}
          Supprimer la classe
          =lesson.name

    %p
      %a.btn.btn-lg.btn-default{href: "{% url 'professor:lesson_detail' lesson.id %}"}
        Annuler
