-extends "base.haml"
-load static

-load bootstrap3

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Classe
      =lesson.name

-block content
  %h3
    =lesson.name
    .pull-right
      %a{href: "{% url 'professor:lesson_update' lesson.pk %}"}
        %img.icon{src: "{% static 'img/icons/modify.png' %}", data-toggle: "tooltip", data-placement: "top", title: "modifier"}
      %a{href: "{% url 'professor:lesson_delete' lesson.pk %}"}
        %img.icon{src: "{% static 'img/icons/delete.png' %}", data-toggle: "tooltip", data-placement: "top", title: "supprimer"}
  %hr

  %ul.menu-tabs.nav.orange.nav-tabs
    %li.active{role: "presentation"}
      %a{href: "#students"}
        Mes élèves
    %li{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_test_list' lesson.pk %}"}
        Mes Tests
    %li{role: "presentation"}
      %a{href: "#heatmap"}
        Vue globale de la classe


  .tab-content
    #students.tab-pane.active
      .ligneorange

      .container-fluid.boxclassetitle
        .pull-left
          %ul{class:"messages"}
            {% if messages %}
              {%for message in messages %}
              %li  {{ message }}
              {% endfor %}
            {% endif %}

        .pull-right
          -#
            %a.btn.btn-primary{href: "{% url 'professor:lesson_student_list' lesson.pk %}"}
              Gérer mes élèves
          %a{target:"_blank", href: "{% url 'professor:lesson_student_password_page' lesson.pk %}"}
            %img.icon{src: "{% static 'img/icons/multy-mdp.png' %}", data-toggle: "tooltip", data-placement: "top", title: "générer les mots de passe pour toute la classe"}
          %a{href: "{% url 'professor:lesson_student_add' lesson.pk %}"}
            %img.icon{src: "{% static 'img/icons/add-student.png' %}", data-toggle: "tooltip", data-placement: "top", title: "ajouter des élèves"}

      .ligneorangefine

      .container-fluid.boxclasse
        -if lesson.students.count
          .panel.panel-default
            %table.table
              -for student in lesson.students.all
                %tr
                  %td{width: "250px"}
                    %a{href: "{% url 'professor:lesson_student_detail' lesson.pk student.pk %}"}= student
                    .pull-right
                      %a{href: "{% url 'professor:lesson_student_update' lesson.pk student.pk %}"}
                        %img.icon{src: "{% static 'img/icons/modify.png' %}", data-toggle: "tooltip", data-placement: "top", title: "modifier l´élève"}
                      %a{href: "{% url 'professor:lesson_student_detail' lesson.pk student.pk %}"}
                        %img.icon{src: "{% static 'img/icons/detail.png' %}", data-toggle: "tooltip", data-placement: "top", title: "détails de l´élève"}
                      %a{target:"_blank", href: "{% url 'professor:single_student_password_page' lesson.pk student.pk %}"}
                        %img.icon{src: "{% static 'img/icons/multy-mdp.png' %}", data-toggle: "tooltip", data-placement: "top", title: "regénérer un code pour l´élève"}

                  %td
                    .pull-right
                      %a{href: "{% url 'professor:lesson_student_delete' lesson.pk student.pk %}"}
                        %img.icon{src: "{% static 'img/icons/delete.png' %}", data-toggle: "tooltip", data-placement: "top", title: "supprimer"}
                  -#
                    .pull-right
                      -with student_test=student.get_last_test
                        -if student_test
                          %a{href: "{% url 'professor:lesson_student_test' lesson.pk student.pk student_test.pk %}"}
                            =student_test.test
                          <span class="label {% if not student_test.started_at %}label-warning{% elif not student_test.finished_at %}label-success{% else %}label-info{% endif %}">{{ student_test.get_state }}</span>
                          -if not student_test.test.running
                            %span.label.label-danger
                              clôturé

        -else
          %p
            %i
              Vous n'avez pas encore d'élèves dans cette classe.
            %a{href: "{% url 'professor:lesson_student_add' lesson.pk %}"}
              Ajouter un élève
            .

    #heatmap.tab-pane
      -include "professor/lesson/detail/heatmap.haml"

  -block javascript
    :javascript
      $(function () {
        $('[data-toggle="popover"]').popover({
          html: true
        })

        $('#legend').each(function(index, node) {
          node.setAttribute("data-content", node.nextSibling.nextSibling.innerHTML);
        })

        if (document.location.hash) {
            hash = document.location.hash;
            document.location.hash = '';
            console.log(hash);
            $('.nav-tabs a[href="' + hash + '"]').tab('show');
        }
      })
