-extends "base.haml"
-load static

-load bootstrap3

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li= lesson.stage.name
    %li.active
      Classe
      =lesson.name

  %h3 Élèves de {{ lesson.name }}
    .pull-right
      %a.btn.btn-primary
        modifier la classe
      %a.btn.btn-primary{href: "{% url 'professor:lesson_student_list' lesson.pk %}"}
        gérer mes élèves
      %a.btn.btn-primary{href: "{% url 'professor:lesson_test_list' lesson.pk %}"}
        liste des tests
      %a.btn.btn-primary{href: "{% url 'professor:lesson_test_add' lesson.pk %}"}
        ajouter un test

  -if lesson.students.count
    %table.table.table-bordered.table-striped
      -for student in lesson.students.all
        %tr
          %td
            %a{href: "{% url 'professor:student_detail' student.pk %}"}= student
          %td
            status du dernier test
            %span.label.label-warning
              pas commencé

  -else
    %p
      %i
        Vous n'avez pas encore d'élèves dans cette classe.

  -include "professor/lesson/detail/heatmap.haml"
