-load bootstrap3

%h3 Élèves :
  .pull-right
    %a.btn.btn-primary
      modifier la classe
    %a.btn.btn-primary
      ajouter un test

-if lesson.students.count
  %table.table.table-bordered.table-striped
    -for student in lesson.students.all
      %tr
        %td
          %a{href: "{% url 'professor_student_detail_view' student.pk %}"}= student
        %td
          status du dernier test
          %span.label.label-warning
            pas commencé

-else
  %p
    %i
      Vous n'avez pas encore d'élèves dans cette classe.

-#
  .panel.panel-default
    .panel-heading
      Ajouter un élève

    .panel-body
      %form.form{action: "", method: "post"}
        -csrf_token

        .row
          .col-md-6
            .form-group{class: "{% if add_student_form.id_last_name.errors %}has-error{% elif add_student_form.data and add_student_form.id_last_name %}has-success{% endif %}"}
              %label.control-label{for: "id_last_name"}
                Nom
              %input#id_last_name.form-control{type: "text", required: "", placeholder: "Nom de famille", name: "last_name"}
              -for error in add_student_form.id_last_name.errors
                %span.help-block= error

          .col-md-6
            .form-group{class: "{% if add_student_form.id_first_name.errors %}has-error{% elif add_student_form.data and add_student_form.id_first_name %}has-success{% endif %}"}
              %label.control-label{for: "id_first_name"}
                Prénom
              %input#id_first_name.form-control{type: "text", required: "", placeholder: "Prénom", name: "first_name"}
              -for error in add_student_form.id_first_name.errors
                %span.help-block= error

        .form-group{class: "{% if add_student_form.id_email.errors %}has-error{% elif add_student_form.data and add_student_form.id_email %}has-success{% endif %}"}
          %label.control-label{for: "id_email"}
            Courriel (optionnel)
          %input#id_email.form-control{type: "text", placeholder: "Courriel", name: "email"}

          -for error in add_student_form.id_email.errors
            %span.help-block= error

        {% buttons %}
          %button.btn.btn-primary{type: "submit"}
            Ajouter
        {% endbuttons %}


-#
  %h3 Autre :

  %ul
    %li
      %form{method: "POST", action: "{% url 'professor_students_password_page' lesson.pk %}"}
        -csrf_token
        %p
          Générer une page à imprimer avec les informations de connexion pour tous les élèves.
        %p
          %b
            Attention! Cela modifiera le mot de passe de TOUS les élèves.
        %input.btn.btn-danger{type: "submit", value: "Générer"}
