-if number_of_students >= 2
  %h3 Vue Synthétique

  -regroup skills by stage as levels

  -for level in levels
    %h4
      Niveau {{ level.grouper }}

    -regroup level.list by section as sections


    -for section in sections
      %h5= section.grouper

      %ul.heatmap-list
        -for skill in section.list
          %li
            %a.btn.btn-default.skill{type: "button", class: "{{ skill.heatmap_class }}", href: "{% url 'professor_lesson_skill_detail_view' lesson.pk skill.code %}"}
              %abbr{title: "{{ skill.name }}", style: "cursor: default; border: none"}= skill.code

            =skill.name
