-extends "base.haml"

-block content
  %ol.breadcrumb
    %li= lesson.stage.name
    %li
      %a{href: "{% url 'professor_lesson_detail_view' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Liste des tests

  %h3 Tests pour la classe {{ lesson.name }}

  -if tests.exists
    %table.table
      -for test in tests
        %tr
          %td{width: "30px"}
            =test.created_at|date:"d/m/Y"
          %td{width: "8px"}
            %i.fa.fa-desktop
          %td
            %a{href: "{% url 'professor_test_detail' test.pk %}"}
              =test
          %td.center{width: "20px"}
            %a.btn.btn-sm.btn-default
              Clôturer
          %td.center{width: "20px"}
            %a.btn.btn-sm.btn-default
              Éditer
          %td.center{width: "20px"}
            %a.btn.btn-sm.btn-default
              Effacer

  -else
    %p
      Cette classe ne comporte pas encore de tests.
