-if number_of_students >= 2
  %h3 Vue Synthétique

  -regroup skills by stage as levels

  #accordion.panel-group{role: "tablist", aria-multiselectable: "true"}
    -for level in levels
      .panel.panel-default
        .panel-heading{role: "tab", id: "heading{{ level.grouper|slugify }}"}
          %h4.panel-title
            %a{role: "button", data-toggle: "collapse", data-parent: "#accordion", href: "#collapse{{ level.grouper|slugify }}", aria-expanded: "{% if forloop.counter == 1 %}true{% else %}false{% endif %}", aria-controls: "collapse{{ level.grouper|slugify }}"}
              Niveau {{ level.grouper }}

        -regroup level.list by section as sections


        .panel-collapse.collapse{id: "collapse{{ level.grouper|slugify }}", role: "tabpanel", aria-labelledby: "heading{{ level.grouper|slugify }}", class: "{% if forloop.counter == 1 %}in{% endif %}"}
          .panel-body
            -for section in sections
              %h5= section.grouper

              %ul.heatmap-list
                -for skill in section.list
                  %li
                    %a.btn.btn-default.skill{type: "button", class: "{{ skill.heatmap_class }}", href: "{% url 'professor:lesson_skill_detail' lesson.pk skill.code %}"}
                      %abbr{title: "{{ skill.name }}", style: "cursor: default; border: none"}= skill.code

                    =skill.name
