-if number_of_students >= 2
  %h3 Vue Synthétique
    .pull-right
      %a#legend.btn.btn-sm.btn-info{type: "button", data-toggle: "popover", title: "Légende", data-placement: "left"}
        Légende
      %div{style: "display: none"}
        %table.table
          %tr
            %td
              %a.btn.btn-default.skill.mastered_100{type: "button", href: "#"}
                %abbr{title: "", style: "cursor: default; border: none"} 100%
            %td
              des élèves qui ont été testé maitrisent cette compétence
          %tr
            %td
              %a.btn.btn-default.skill.mastered_75{type: "button", href: "#"}
                %abbr{title: "", style: "cursor: default; border: none"} 75%
            %td
              des élèves qui ont été testé maitrisent cette compétence
          %tr
            %td
              %a.btn.btn-default.skill.mastered_50{type: "button", href: "#"}
                %abbr{title: "", style: "cursor: default; border: none"} 50%
            %td
              des élèves qui ont été testé maitrisent cette compétence
          %tr
            %td
              %a.btn.btn-default.skill.mastered_25{type: "button", href: "#"}
                %abbr{title: "", style: "cursor: default; border: none"} 25%
            %td
              des élèves qui ont été testé maitrisent cette compétence
          %tr
            %td
              %a.btn.btn-default.skill.mastered_not_enough{type: "button", href: "#"}
                %abbr{title: "", style: "cursor: default; border: none"} -
            %td
              Il n'y a pas assez d'élèves qui ont été testé
      %hr

  #accordion.panel-group{role: "tablist", aria-multiselectable: "true"}
    -for stage in lesson.stages_in_unchronological_order
      .panel.panel-default
        .panel-heading{role: "tab", id: "heading{{ stage.name|slugify }}"}
          %h4.panel-title
            %a{role: "button", data-toggle: "collapse", data-parent: "#accordion", href: "#collapse{{ stage.name|slugify }}", aria-expanded: "{% if forloop.counter == 1 %}true{% else %}false{% endif %}", aria-controls: "collapse{{ stage.name|slugify }}"}
              Niveau {{ stage.name }}

        -regroup stage.skills.all by section as sections


        .panel-collapse.collapse{id: "collapse{{ stage.name|slugify }}", role: "tabpanel", aria-labelledby: "heading{{ stage.name|slugify }}", class: "{% if forloop.counter == 1 %}in{% endif %}"}
          .panel-body
            -for section in sections
              %h5= section.grouper

              %ul.heatmap-list
                -for skill in section.list
                  %li
                    %a.btn.btn-default.skill{type: "button", class: "{{ skill.heatmap_class }}", href: "{% url 'professor:lesson_skill_detail' lesson.pk skill.code %}"}
                      %abbr{title: "{{ skill.name }}", style: "cursor: default; border: none"}= skill.code

                    =skill.name
