-extends "base.haml"
-load static

-block javascript
  %script{src: "{% static 'js/mermaid.full.js' %}"}

-block content
  %h2
    =skill.name
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:skill_update_pedagogical_ressources' skill.code %}"}
        Matériel éducatif

  %hr

  .row
    .col-md-9
      %p
        %b Rubrique:
        =skill.section

      %p
        =skill.description

      .row
        .col-md-6
          .panel.panel-default
            .panel-heading
              Compétence(s) prérequise(s)

            -if skill.depends_on.all
              .list-group
                -for dependance in skill.depends_on.all
                  %a.list-group-item{href: "{% url 'professor:skill_detail' dependance.code %}"}
                    {{ dependance.code }} - {{ dependance.name }}
            -else
              .panel-body
                Cette compétence n'a pas de prérequis.

        .col-md-6
          .panel.panel-default
            .panel-heading
              Compétence(s) dépendante(s)

            -if skill.skill_set.all
              .list-group
                -for dependance in skill.skill_set.all
                  %a.list-group-item{href: "{% url 'professor:skill_detail' dependance.code %}"}
                    {{ dependance.code }} - {{ dependance.name }}
            -else
              .panel-body
                Aucune compétence ne dépend de celle-ci.

      -block after

    .col-md-3
      -if skill.skill_set.exists or skill.depends_on.exists
        .mermaid
          graph BT;
            -for i in skill.mermaid_graph
              =i
