-extends "base.haml"

-load static

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    -if lesson
      %li
        %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
          Classe
          =lesson.name
    -else
      %li
        %a{href: "{% url 'professor:main-education' %}"} Compétences
    %li.active
      =skill.code

-block javascript
  %script{src: "{% static 'js/mermaid.full.js' %}"}

-block content
  %h3
    =skill.name
  %hr
  %h4
    =skill.code

  .ligneorange

  .container-fluid.boxclassetitle
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:update_pedagogical_ressources' 'skill' skill.id %}"}
        Ressources

  .ligneorangefine

  .boxclasse.container-fluid
        %p
          %b Rubrique:
          =skill.section

        %p
          =skill.description

        .row
          .col-md-6
            .panel.panel-default
              .panel-heading
                -if skill.get_prerequisites_skills.count
                  Compétence{{ skill.get_prerequisites_skills.count|pluralize }} prérequise{{ skill.get_prerequisites_skills.count|pluralize }}
                -else
                  Compétence prérequise

              -if skill.get_prerequisites_skills
                .list-group
                  -for dependance in skill.get_prerequisites_skills
                    -if lesson
                      %a.list-group-item{href: "{% url 'professor:lesson_skill_detail' lesson.pk dependance.code %}"}
                        {{ dependance.code }} - {{ dependance.name }}
                    -else
                      %a.list-group-item{href: "{% url 'professor:skill_detail' dependance.code %}"}
                        {{ dependance.code }} - {{ dependance.name }}
              -else
                .panel-body
                  Cette compétence n'a pas de prérequis.

          .col-md-6
            .panel.panel-default
              .panel-heading
                -if skill.get_depending_skills.count
                  Compétence{{ skill.get_depending_skills.count|pluralize }} dépendante{{ skill.get_depending_skills.count|pluralize }}
                -else
                  Compétence dépendante

              -if skill.get_depending_skills.all
                .list-group
                  -for dependance in skill.get_depending_skills.all
                    -if lesson
                      %a.list-group-item{href: "{% url 'professor:lesson_skill_detail' lesson.pk dependance.code %}"}
                        {{ dependance.code }} - {{ dependance.name }}
                    -else
                      %a.list-group-item{href: "{% url 'professor:skill_detail' dependance.code %}"}
                        {{ dependance.code }} - {{ dependance.name }}
              -else
                .panel-body
                  Aucune compétence ne dépend de celle-ci.

        %h3 Questions
        %ul.list-group
          -for exercice in skill.context_set.all
            %li.list-group-item
              %a{href: "{% url 'professor:exercice_detail' exercice.id %}"}
                Question n°
                =exercice.id
              -if not exercice.approved
                %span.badge.badge-warning
                  en attente d'approbation
          -empty
            %p
              %i Il n'y a pas de questions disponibles pour cette compétence pour l'instant.