-extends "base.haml"

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Compétences

  %h2 Compétences
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:exercice_validation_form' %}"}
        Ajouter une question
      %a.btn.btn-default{href: "{% url 'professor:exercice_list' %}"}
        Questions
  %hr

  #accordion.panel-group{role: "tablist", aria-multiselectable: "true"}
    .panel.panel-default
      .panel-heading
        %b
          Socles de compétences

      .panel-body{style: "padding-top: 10px"}
        -with stage=1e title="1er degré primaire"
          -include "professor/skill/list/panel.haml"

        -with stage=2e title="2ème et 3ème degrés primaire"
          -include "professor/skill/list/panel.haml"

        -with stage=3e title="1er degré secondaire"
          -include "professor/skill/list/panel.haml"

    .panel.panel-default
      .panel-heading
        %b
          Enseignement professionnel

      .panel-body
        %h5.color-title{style: "background-color: #C20000"} Mathématiques de base
        -with stage=2p title="Deuxième degré (MB22)"
          -include "professor/skill/list/panel.haml"

        -with stage=3p title="Troisième degré (MB32)"
          -include "professor/skill/list/panel.haml"

    .panel.panel-default
      .panel-heading
        %b
          Enseignement technique et artistique de qualification

      .panel-body
        %h5.color-title{style: "background-color: #2BA72B"} Mathématiques actives dans la formation qualifiante
        -with stage=2d2 title="Deuxième degré (MQ22)"
          -include "professor/skill/list/panel.haml"

        -with stage=3d2 title="Troisième degré (MQ32)"
          -include "professor/skill/list/panel.haml"

    .panel.panel-default
      .panel-heading
        %b
          Enseignement de transition

      .panel-body
        %h5.color-title{style: "background-color: #C20000"} Deuxième degré de transition
        -with stage=3t title="Troisième année"
          -include "professor/skill/list/panel.haml"

        -with stage=4t title="Quatrième année"
          -include "professor/skill/list/panel.haml"

        %h5.color-title{style: "background-color: #AA0040"} Troisième degré de transition - Mathématiques de base
        -with stage=5tb title="Cinquième année"
          -include "professor/skill/list/panel.haml"

        -with stage=6tb title="Sixième année"
          -include "professor/skill/list/panel.haml"

        %h5.color-title{style: "background-color: #C991D2"} Troisième degré de transition - Mathématiques générales
        -with stage=5tg title="Cinquième année"
          -include "professor/skill/list/panel.haml"

        -with stage=6tg title="Sixième année"
          -include "professor/skill/list/panel.haml"

  :css
    .exercices {
      padding-left: 0;
    }

    .exercices li {
      list-style-type: none;
    }

    .color-title {
      padding: 5px;
      color: white;
      font-weight: bold;
    }

    .panel-body {
      padding-top: 0px;
    }
