-extends "base.haml"

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Compétences

  %h2 Compétences
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:exercice_validation_form' %}"}
        Ajouter une question
      %a.btn.btn-default{href: "{% url 'professor:exercice_list' %}"}
        Questions
  %hr

  #accordion.panel-group{role: "tablist", aria-multiselectable: "true"}
    -with stage=2p
      -include "professor/skill/list/panel.haml"

    -with stage=3p
      -include "professor/skill/list/panel.haml"

    -with stage=2d2
      -include "professor/skill/list/panel.haml"

    -with stage=3d2
      -include "professor/skill/list/panel.haml"

    -with stage=3t
      -include "professor/skill/list/panel.haml"

    -with stage=4t
      -include "professor/skill/list/panel.haml"

    -with stage=5tb
      -include "professor/skill/list/panel.haml"

    -with stage=6tb
      -include "professor/skill/list/panel.haml"

    -with stage=5tg
      -include "professor/skill/list/panel.haml"

    -with stage=6tg
      -include "professor/skill/list/panel.haml"

  :css
    .exercices {
      padding-left: 0;
    }

    .exercices li {
      list-style-type: none;
    }
