-extends "base.haml"
-load crispy_forms_tags

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Compétences et ressources

-block content
  %h3 Compétences et ressources
  %hr

  .ligneorange

  .container-fluid.boxclassetitle
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:exercice_validation_form' %}"}
        Ajouter une question
      %a.btn.btn-default{href: "{% url 'professor:exercice_list' %}"}
        Questions

  .ligneorangefine

  .container-fluid.boxclasse
    #accordion.panel-group{role: "tablist", aria-multiselectable: "true"}
      .panel.panel-default
        .panel-heading
          %b
            Socles de compétences - S1 S2 S3

        .panel-body{style: "padding-top: 10px"}
          -with stage=1e title="2e cycle (1-2 primaire)"
            -include "professor/skill/list/panel-socles.haml"

          -with stage=2e title="3e et 4e cycles (3-6 primaire)"
            -include "professor/skill/list/panel-socles.haml"

          -with stage=3e title="5e cycle (1-2 secondaire)"
            -include "professor/skill/list/panel-socles.haml"

      %br

      .panel.panel-default
        .panel-heading
          %b
            Enseignement professionnel

        .panel-body
          -with color="#962424"
            -with stage=2p title="Deuxième degré - P2D"
              %h5.color-title Mathématiques de base
              -include "professor/skill/list/panel.haml"

            -with stage=3p title="Troisième degré - P3D"
              -include "professor/skill/list/panel.haml"

      %br

      .panel.panel-default
        .panel-heading
          %b
            Enseignement technique et artistique de qualification

        .panel-body
          -with color="#318631"
            -with stage=2d2 title="Deuxième degré - Q22"
              %h5.color-title Mathématiques actives dans la formation qualifiante
              -include "professor/skill/list/panel.haml"

            -with stage=3d2 title="Troisième degré - Q32"
              -include "professor/skill/list/panel.haml"

      %br

      .panel.panel-default
        .panel-heading
          %b
            Enseignement de transition

        .panel-body
          -with color="#962424"
            -with stage=3t title="Troisième année - T3"
              %h5.color-title Deuxième degré de transition
              -include "professor/skill/list/panel.haml"

            -with stage=4t title="Quatrième année - T4"
              -include "professor/skill/list/panel.haml"

          %br

          -with color="#B02459"
            -with stage=5tb title="Cinquième année - TB5"
              %h5.color-title Troisième degré de transition - Mathématiques de base
              -include "professor/skill/list/panel.haml"

            -with stage=6tb title="Sixième année - TB6"
              -include "professor/skill/list/panel.haml"

          %br

          -with color="#C991D2"
            -with stage=5tg title="Cinquième année - TG5"
              %h5.color-title Troisième degré de transition - Mathématiques générales
              -include "professor/skill/list/panel.haml"

            -with stage=6tg title="Sixième année - TG6"
              -include "professor/skill/list/panel.haml"

      %br

      .panel.panel-info
        #global_resources.panel-heading
          Ressources générales

        .panel-body
          %ul
            -for gr in global_resources
              %li
                %a{href: "{{ MEDIA_URL }}{{ gr.file }}"}
                  =gr.title
                mis en ligne par
                =gr.added_by
                -if gr.added_by == request.user
                  %a.btn.btn-xs.btn-danger.remove-global-resource{href: "{% url 'professor:global_resources_delete' gr.pk %}"}
                    supprimer

          #global_resources_form{style: "display: none"}
            -crispy form

          %button#global_resources_form_show.btn.btn-primary{onclick: "javascript:$(\"#global_resources_form\").show(); $(\"#global_resources_form_show\").hide()"}
            Rajouter une ressource générale

  :css
    .exercices {
      padding-left: 0;
    }

    .exercices li {
      list-style-type: none;
    }

    .color-title {
      padding: 5px;
      /*
      color: white;
      font-weight: bold;
      text-shadow: 0 0 4px rgba(1, 1, 1, 0.3);
      */
      margin-top: 0px;
    }

    .collapsing {
      transition-duration: 0 !important;
    }

    .clickable {
      cursor: pointer;
    }

-block javascript
  :javascript
    $(".remove-global-resource").click(function(event) {
      var yes = confirm("Êtes-vous sûr de vouloir supprimer cette ressource ?");
      if (yes != true) {
        event.preventDefault();
      }
    })
