-extends "base.haml"

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Compétences

  %h2 Compétences
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:exercice_validation_form' %}"}
        Ajouter une question
      %a.btn.btn-default{href: "{% url 'professor:exercice_list' %}"}
        Questions
  %hr

  #accordion.panel-group{role: "tablist", aria-multiselectable: "true"}
    .panel.panel-default
      .panel-heading
        %b
          Socles de compétences

      .panel-body{style: "padding-top: 10px"}
        -with stage=1e
          -include "professor/skill/list/panel.haml"

        -with stage=2e
          -include "professor/skill/list/panel.haml"

        -with stage=3e
          -include "professor/skill/list/panel.haml"

    .panel.panel-default
      .panel-heading
        %b
          Enseignement professionnel

      .panel-body
        %h5.color-title{style: "background-color: red"} Mathématiques de base
        -with stage=2p
          -include "professor/skill/list/panel.haml"

        -with stage=3p
          -include "professor/skill/list/panel.haml"

    .panel.panel-default
      .panel-heading
        %b
          Enseignement technique et artistique de qualification

      .panel-body
        %h5.color-title{style: "background-color: green"} Mathématiques actives dans la formation qualifiante
        -with stage=2d2
          -include "professor/skill/list/panel.haml"

        -with stage=3d2
          -include "professor/skill/list/panel.haml"

    .panel.panel-default
      .panel-heading
        %b
          Enseignement de transition

      .panel-body
        %h5.color-title{style: "background-color: red"} Deuxième degré de transition
        -with stage=3t
          -include "professor/skill/list/panel.haml"

        -with stage=4t
          -include "professor/skill/list/panel.haml"

        %h5.color-title{style: "background-color: pink"} Troisième degré de transition - Mathématiques de base
        -with stage=5tb
          -include "professor/skill/list/panel.haml"

        -with stage=6tb
          -include "professor/skill/list/panel.haml"

        %h5.color-title{style: "background-color: purple"} Troisième degré de transition - Mathématiques générales
        -with stage=5tg
          -include "professor/skill/list/panel.haml"

        -with stage=6tg
          -include "professor/skill/list/panel.haml"

  :css
    .exercices {
      padding-left: 0;
    }

    .exercices li {
      list-style-type: none;
    }

    .color-title {
      padding: 5px;
      color: white;
      font-weight: bold;
    }

    .panel-body {
      padding-top: 0px;
    }
