-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Compétences et ressources

-block content
  .row

    %h3 Choisissez votre type d'enseignement
    %hr

    %body
      %ul.socles
        %li
          %a{:href => "{% url 'professor:socles-competence' %}"}
            %span
              Socles de
              %br/
              compétences -
              %br/
              S1 S2 S3
        %li
          %a{:href => "{% url 'professor:enseign-pro' %}"}
            %span
              Enseignement
              %br/
              professionnel
        %li
          %a{:href => "{% url 'professor:enseign-techart' %}"}
            %span
              Enseignement
              %br/
              technique et
              %br/
              artistique
              %br/
              de qualification
        %li
          %a{:href => "{% url 'professor:enseign-trans' %}"}
            %span
              Enseignement
              %br/
              de transition
    :css
      ul.socles {
          clear:both;
          margin: 0;
          padding: 0;
      }
      ul.socles li {
          display:block;
          position: relative;
          float: left;
          height: 20px;
          width: 150px;
          padding: 0;
          margin-left: 10px;
          list-style: none;
          text-align: center;
          white-space: nowrap;
      }
      ul.socles li:first-child {
          margin: 0;
      }
      ul.socles li a {
          display:block;
          margin: 10px auto;
          height: 150px;
          width: 150px;
          border-radius: 100%;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          background: #ffffff;
          color: #f58025
       }



      ul.socles li a span {

         /* -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;*/

      }


       ul.socles li a:hover {

          background-color: #f58025;

      }

      ul.socles li a:hover span {

         color: #ffffff;
         top: 50px;
      }


      ul.socles li a span {
          position: absolute;
          top: 40px;
          left:0;
          z-index: 1;
          display: block;
          width: 100%;
           text-align: center;
          color: #f58025
          transform: translate(0, 60px);
          transition: all 300ms ease;
          font-size:0.89em;
          font-weight:bold;

      }
