-extends "base.haml"


-block content
  .container
    #skillTab.row
      %ul.nav.nav-pills
        %li.active
          %a{:data-toggle => "tab", :href => "#1a"}
            Troisième année
            (2
            %sup ème
            degré)
        %li
          %a{:data-toggle => "tab", :href => "#2a"}
            Quatrième année
            (2
            %sup ème
            degré)
        %li
          %a{:data-toggle => "tab", :href => "#3a"}
            Cinquième année
            (3
            %sup ème
            degré - math. de base)
        %li
          %a{:data-toggle => "tab", :href => "#4a"}
            Sixième année
            (3
            %sup ème
            degré - math. de base)
        %li
          %a{:data-toggle => "tab", :href => "#5a"}
            Cinquième année
            (3
            %sup ème
            degré - math. générales)
        %li
          %a{:data-toggle => "tab", :href => "#6a"}
            Sixième année
            (3
            %sup ème
            degré - math. générales)
      %a.btn.btn-primary{href: "{% url 'professor:main-education' %}"}
        Précédent

      .tab-content.clearfix
        #1a.tab-pane.active
          .accordion.panel-group{:aria-multiselectable => "true", :role => "tablist"}
            .panel-body{style: "padding-top: 10px"}
            -with stage=3t
              -include "professor/skill/list/new-panel.haml"

        #2a.tab-pane
          .accordion.panel-group{:aria-multiselectable => "true", :role => "tablist"}
            .panel-body{style: "padding-top: 10px"}
            -with stage=4t
              -include "professor/skill/list/new-panel.haml"

        #3a.tab-pane
          .accordion.panel-group{:aria-multiselectable => "true", :role => "tablist"}
            .panel-body{style: "padding-top: 10px"}
            -with stage=5tb
              -include "professor/skill/list/new-panel.haml"

        #4a.tab-pane
          .accordion.panel-group{:aria-multiselectable => "true", :role => "tablist"}
            .panel-body{style: "padding-top: 10px"}
            -with stage=6tb
              -include "professor/skill/list/new-panel.haml"

        #5a.tab-pane
          .accordion.panel-group{:aria-multiselectable => "true", :role => "tablist"}
            .panel-body{style: "padding-top: 10px"}
            -with stage=5tg
              -include "professor/skill/list/new-panel.haml"

        #6a.tab-pane
          .accordion.panel-group{:aria-multiselectable => "true", :role => "tablist"}
            .panel-body{style: "padding-top: 10px"}
            -with stage=6tg
              -include "professor/skill/list/new-panel.haml"
