-extends "base.haml"
-load static

-block javascript
  %script{src: "{% static 'js/mermaid.full.js' %}"}

-block content
  %h1 Arbre des compétences
  %hr

  .mermaid
    graph BT;
    -for skill in skill_list
      {{ skill.code }}[<a href="{% url 'professor:skill_detail' skill.code %}" style="color: white">{{ skill.code }}</a>]
      -for top_skill in skill.skill_set.all
        {{ skill.code }}-->{{ top_skill.code }}
