-extends "base.haml"
-load static
-load bootstrap3
-load compress

-block breadcrumb
  %div{ng-app: "oscar"}
    %ol.breadcrumb
      %li
        %a{href: "{% url 'professor:dashboard' %}"} Oscar
      %li.active
        Compétence
        =base
-block content
    %h4
      Compétence
      =base
    %hr
    %h5= base
    -if type == "skill"
      -if user.professor
        %a.btn.btn-xs.btn-primary{href:"{% url 'professor:update_pedagogical_ressources' 'section' base.section_id %}"}
          Consulter les ressources du chapitre en cours

      -else
        %a.btn.btn-xs.btn-primary{href: "{% url 'student_skill_pedagogic_ressources' 'section' base.section_id %}"}
          Consulter les ressources du chapitre en cours
    .well
      -with type=type
        -include "professor/skill/update_pedagogical_resources/my_resource.haml"
    .well
      -with type=type
        -include "professor/skill/update_pedagogical_resources/lesson_resource.haml"
    .well
      -with type=type
        -include "professor/skill/update_pedagogical_resources/exercice_resource.haml"
    .well
      -with type=type
        -include "professor/skill/update_pedagogical_resources/other_resource.haml"

  -# TODO : Move CSS !
  :css
      .level2 {
        padding-left: 10px;
      }

      .level3 {
        padding-left: 20px;
      }

      .level4 {
        padding-left: 30px;
      }

      .dropdown-menu {
        float: none;
        max-width: 100%;
        width: 5000px;
      }
      .dropdown-submenu {
          position:relative;
      }
      .dropdown-submenu>.dropdown-menu {
          top:0;
          left:100%;
          margin-top:-6px;
          margin-left:-1px;
          -webkit-border-radius:0 6px 6px 6px;
          -moz-border-radius:0 6px 6px 6px;
          border-radius:0 6px 6px 6px;
      }
      .dropdown-submenu:hover>.dropdown-menu {
          display:block;
      }
      .dropdown-submenu>a:after {
          display:block;
          content:" ";
          float:right;
          width:0;
          height:0;
          border-color:transparent;
          border-style:solid;
          border-width:5px 0 5px 5px;
          border-left-color:#cccccc;
          margin-top:5px;
          margin-right:-10px;
      }
      .dropdown-submenu:hover>a:after {
          border-left-color:#ffffff;
      }
      .dropdown-submenu.pull-left {
          float:none;
      }
      .dropdown-submenu.pull-left>.dropdown-menu {
          left:-100%;
          margin-left:10px;
          -webkit-border-radius:6px 0 6px 6px;
          -moz-border-radius:6px 0 6px 6px;
          border-radius:6px 0 6px 6px;
      }
      .dropdown-menu > li > a {
        white-space: normal;
      }

      .remove-form {
        display: inline;
      }

      h3, h4 {
        margin-top: 0px;
      }

      .well hr {
        margin-top: 35px;
        margin-bottom: 35px;
      }

      .remove {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0px;
        border-bottom-left-radius: 3px;
        padding: 2px 6px;
      }

      .khan-well {
        background-color: rgba(159, 182, 59, .4);
        border-color: rgba(159, 182, 59, .8);
      }

      .sesamath-well {
        background-color: rgba(229, 105, 10, .2);
        border-color: rgba(229, 105, 10, .6);

-block javascript
  -compress js
    %script{src: "{% static 'js/professor_update_pedagogical_resources.js' %}"}
  :javascript
    $(".show-form").click(function(event) {
      $(event.currentTarget).hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    $(".show-synthese-form").click(function(event) {
      $(event.currentTarget).hide();
      $(".synthese").hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    function selectionSesamathReference(ref_pk, title, url, kind) {
      $("#ref_pk_title_" + kind).val(title);
      $("#ref_pk_" + kind).val(ref_pk);
      $("#sesamath_verify_" + kind).removeClass("disabled");
      $("#sesamath_verify_" + kind).attr("href", url);

      var sesamath_pdf = $("#sesamath_pdf_" + kind);
      sesamath_pdf.find("object").attr("data", url);
      sesamath_pdf.find("iframe").attr("src", url);
      sesamath_pdf.find("a").attr("href", url);
      sesamath_pdf.show();
    }
    function selectKhanReference(ref_pk, title, url) {
      $("#khan_ref_pk_title").val(title);
      $("#khan_ref_pk").val(ref_pk);
      $("#khan_verify").removeClass("disabled");
      $("#khan_verify").attr("href", url);
    }
    $(".delete").click(function(event) {
      var yes = confirm("Êtes-vous sûr de vouloir supprimer cette ressource ?");
      if (yes != true) {
        event.preventDefault();
      }
    })
      


