-extends "base.haml"
-load static
-load bootstrap3
-load compress

-block breadcrumb
  %div{ng-app: "oscar"}
    %ol.breadcrumb
      %li
        %a{href: "{% url 'professor:dashboard' %}"} Oscar
      %li.active
        Compétence
        =skill.code
-block content
    %h4 Compétence
      =skill.code
    %hr
    %h5= skill.name
    .well
      -if user.professor
         
        -include "professor/skill/update_pedagogical_resources/my_resource.haml"
        -include "professor/skill/update_pedagogical_resources/exercice_resource.haml"
        -include "professor/skill/update_pedagogical_resources/lesson_resource.haml"
        -include "professor/skill/update_pedagogical_resources/other_resource.haml"
      
      -else
        %h5 Ressources de ma classe
-block javascript
  -compress js
    %script{src: "{% static 'js/professor_update_pedagogical_resources.js' %}"}
  :javascript
    $(".show-form").click(function(event) {
      $(event.currentTarget).hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    $(".show-synthese-form").click(function(event) {
      $(event.currentTarget).hide();
      $(".synthese").hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    function selectionSesamathReference(ref_pk, title, url, kind) {
      $("#ref_pk_title_" + kind).val(title);
      $("#ref_pk_" + kind).val(ref_pk);
      $("#sesamath_verify_" + kind).removeClass("disabled");
      $("#sesamath_verify_" + kind).attr("href", url);

      var sesamath_pdf = $("#sesamath_pdf_" + kind);
      sesamath_pdf.find("object").attr("data", url);
      sesamath_pdf.find("iframe").attr("src", url);
      sesamath_pdf.find("a").attr("href", url);
      sesamath_pdf.show();
    }
    function selectKhanReference(ref_pk, title, url) {
      $("#khan_ref_pk_title").val(title);
      $("#khan_ref_pk").val(ref_pk);
      $("#khan_verify").removeClass("disabled");
      $("#khan_verify").attr("href", url);
    }
    $(".delete").click(function(event) {
      var yes = confirm("Êtes-vous sûr de vouloir supprimer cette ressource ?");
      if (yes != true) {
        event.preventDefault();
      }
    })
      


