-extends "base.haml"
-load static
-load compress

-block head
  -compress js
    %script{type: "text/javascript", src: "{% static 'js/professor_lesson.js' %}"}

  :javascript
    context = {
      lessonId: {{ lesson.id }}
    };

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Ajouter un test

-block content
  %div#alerts

  %div{ng-app: "oscar", ng-controller: "createTestController"}
    .panel.panel-default
      .panel-heading
        Ajouter un test

      .panel-body
        %form.form
          .row
            .col-md-6
              .form-group
                %label.control-label{for: "test_name"} Nom du test
                %input#test_name.form-control{type: "text", ng-model: "name"}

              .form-group
                %label.control-label Ce test portera sur :
                .radio
                  %label
                    %input{ng-model: "testType", type: "radio", value: "skills"} les compétences sélectionnées
                .radio
                  %label
                    %input{ng-model: "testType", type: "radio", value: "dependencies"} les prérequis des compétences sélectionnées
                .radio
                  %label
                    %input{ng-model: "testType", type: "radio", value: "skills-dependencies"} les compétences sélectionnées et leurs prérequis

              %p
                %b
                  Compétences sélectionnées :

              .well
                %span{ng-repeat: "skill in toTestSkills"}
                  %button.btn.btn-primary.selected-skill{type: "button", title: "{& skill.name &}", ng-click: "removeSkill(skill)"}
                    {& skill &}

            .col-md-6
              %h
              -for stage in stages
                -if forloop.counter == 3
                  <div class="panel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Compétences antérieures</a>
                        </h4>
                      </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">

                .form-group
                  %label.control-label= stage.name
                  .form-group
                    %select.form-control{ng-model: "stage{{ stage.id }}SelectedSkill"}
                      -regroup stage.skills_by_id by section as sections
                      -for section in sections
                        %optgroup{label: "{{ section.grouper }}"}
                          -for skill in section.list reversed
                            %option{value: "{{ skill.code }}", id: "{{ skill.code }}"}
                              {{ skill.code }} - {{ skill.name }}

                .form-group
                  %button.btn.btn-primary{ng-click: "addSkillToTest({{ stage.id }})", id: "addSkillToTestButtonForStage{{ stage.id }}"}
                    Ajouter cette compétence

                -if forloop.last and forloop.counter >= 3
                  </div>
                  </div>

    .form-group
      %button.btn.btn-primary{type: "submit", ng-click: "addNewTest()"}
        Créer le test

  :css
    .well {
      padding-bottom: 19px;
    }
