-extends "base.haml"

-load bootstrap3

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li
      %a{href: "{% url 'professor:lesson_test_online_detail' lesson.pk test.pk %}"}
        Test
        =test.name
    %li.active
      Changer l'exercice pour {{ test_exercice.skill.code }}

-block content
  -if test_exercice.test.can_change_exercice
    %h3 Changer l'exercice pour la compétence : {{ test_exercice.skill.code }}
    %hr

    -if test_exercice.exercice
      %h3 Exercice actuellement sélectionné

      .panel.panel-primary
        .panel-heading
          Exercice n°
          =test_exercice.exercice.id
          sur
          =test_exercice.skill.code

        .panel-body
          -if not test_exercice.exercice.testable_online
            .alert.alert-warning
              Cet exercice devra être testé hors ligne

          -if test_exercice.exercice.context
            .well
              =test_exercice.exercice.context|safe

          -for question in test_exercice.exercice.get_questions
            -if question.description
              .well.question-description
                =question.description|safe
            -else
              -# Should never reach this error
              %div.alert.alert-danger
                Erreur : Pas d'énoncé
            -if question.source
              %p
                %b Source(s) :
              .well.question-source
                =question.source|safe
            -if question.indication
              %p
                %b Indication pour les professeurs :
              .well.question-indication
                =question.indication|safe

            -with answer=question.get_answer
              -include "professor/exercice/exercice_with_answers_rendering.haml"
    -else
      .boxclasse.container-fluid
        %p
          %i
            Il n'y a pas d'exercice sélectionné pour cette compétence

    %h3 Exercices disponibles
    %hr

    -if exercices > 1
      -for other_exercice in exercices
        -if other_exercice != test_exercice.exercice
          .panel.panel-success
            .panel-heading
              Exercice n°
              =other_exercice.id
              sur
              =test_exercice.skill.code

            .panel-body
              -if not other_exercice.testable_online
                .alert.alert-warning
                  Cet exercice devra être testé hors ligne

              -if other_exercice.context
                .well
                  =other_exercice.context|safe

              -for question in other_exercice.get_questions
                -if question.description
                  .well.question-description
                    =question.description|safe
                -else
                  -# Should never reach this error
                  %div.alert.alert-danger
                    Erreur : Pas d'énoncé
                -if question.source
                  %p
                    %b Source(s) :
                  .well.question-source
                    =question.source|safe
                -if question.indication
                  %p
                    %b Indication pour les professeurs :
                  .well.question-indication
                    =question.indication|safe

                -with answer=question.get_answer
                  -include "professor/exercice/exercice_with_answers_rendering.haml"

              %form{method: "POST"}
                -csrf_token
                %input{type: "hidden", name: "exercice_id", value: "{{ other_exercice.id }}"}
                %button.btn.btn-primary{type: "submit"}
                  Choisir cet exercice

    -else
      %p
        Nous n'avons pas d'autres questions disponibles pour cette compétence.

      %p
        %td.center{width: "20px"}
          %a.btn.btn-primary.btn-xs{href: "{% url 'professor:exercice_validation_form' %}#?for_test_exercice={{ test_exercice.test.pk }}&code={{ test_exercice.skill.code }}"}
            Écrire une question pour cette compétence

    %p
      %a{href: "{% url 'professor:lesson_test_online_exercices' lesson.pk test_exercice.test.pk %}"}
        Retourner sur la liste des exercices

  -else
    %h2 Au moins un élève a commencé le test, il n'est plus possible de changer les exercices.


-block javascript
  :javascript
    $(function() {
      {% for exercice in test_exercice.skill.exercice_set.all %}
      {% for _, question in exercice.get_questions.items %}
      {% if question.type == "graph" %}
      new Graph('graph-' + {{ forloop.counter0 }})
      {% endif %}
      {% endfor %}
      {% endfor %}
    });
