-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' object.lesson.id %}"}
        Classe
        =object.lesson.name
    %li.active
      Test
      =object.name

-block content
  %h3 Test {{ object.name }} de <i style="color: grey">{{ object.display_test_type }}</i> pour la classe <a href="{% url 'professor:lesson_detail' object.lesson.pk %}">{{ object.lesson.name }}</a>
  %hr
  %h4
    -if not test.running
      %span.label.label-danger
        Clôturé

  .ligneorange

  .container-fluid.boxclassetitle
    .pull-left
      %td.center{width: "20px"}
        %a.btn.btn-primary{href: "{% url 'professor:lesson_test_list' lesson.pk %}"}
          Retour aux tests
    .pull-right
      %td.center{width: "20px"}
        %form.inline{action: "{% url 'professor:lesson_test_online_close_open' lesson.pk test.pk %}", method: "post"}
          -csrf_token
          %button.btn.btn-default{type: "submit"}
            -if test.running
              Clôturer
            -else
              Rendre disponible
      %td.center{width: "20px"}
        %a.btn.btn-primary{href: "{% url 'professor:lesson_test_online_exercices' lesson.pk test.pk %}"}
          Modifier
      %td.center{width: "20px"}
        %a.btn.btn-danger{href: "{% url 'professor:lesson_test_delete' lesson.pk test.pk %}"}
          Effacer

  .ligneorangefine

  .boxclasse.container-fluid
    -if not test.fully_testable_online and object.testexercice_testable_offline.exists
      .alert.alert-warning
        %b Attention : ce test n'est pas entièrement faisable en ligne

    -if not test.fully_testable_online and object.testexercice_testable_offline.exists
      %h5
        À imprimer (non évaluable sur Oscar)
        %a.print-questions.btn.btn-sm.btn-primary{href: "#"}
          %span.glyphicon.glyphicon-print
        %a.btn.btn-sm.btn-success{href: "{% url 'professor:lesson_test_online_insert_results' lesson.pk object.pk %}"}
          Entrer les résultats
      %ul.heatmap-list
        -for test_exercice in object.testexercice_testable_offline
          %li
            %a.btn.btn-default.skill{type: "button", href: "{% url 'professor:lesson_skill_detail' object.lesson.pk test_exercice.skill.code %}"}
              %abbr{title: "{{ test_exercice.skill.name }}", style: "cursor: default; border: none"}= test_exercice.skill.code

            =test_exercice.skill.name

    %h5 Évaluable en ligne
    %h6.orange Compétences sélectionnées

    %ul.heatmap-list
      -for test_exercice in object.testexercice_testable_online
        %li
          %a.btn.btn-default.skill{type: "button", href: "{% url 'professor:lesson_skill_detail' object.lesson.pk test_exercice.skill.code %}"}
            %abbr{title: "{{ test_exercice.skill.name }}", style: "cursor: default; border: none"}= test_exercice.skill.code
          =test_exercice.skill.name

      -empty
        Il n'y a pas de compétences évaluables en ligne pour ce test.

    -if object.type == "skills-dependencies" or object.type == "dependencies"
      %h6.orange Prérequis des compétences sélectionnées
      %ul.heatmap-list
        -for test_exercice in object.testexercice_testable_online
          -for skill in test_exercice.skill.get_prerequisites_skills
            %li
              %a.btn.btn-default.skill{type: "button", href: "{% url 'professor:lesson_skill_detail' object.lesson.pk skill.code %}"}
                %abbr{title: "{{ skill.name }}", style: "cursor: default; border: none"}= skill.code
              =skill.name

    %h5 Réponse des élèves

    %table.table.table-bordered
      %thead
        %th{width: "20%"}
          Élève / Compétences
        -for i in object.testexercice_with_skills
          %th
            =i.skill.code
      -for test_student in object.teststudent_with_student
        %tr
          %td
            %a{href: "{% url 'professor:lesson_student_test' lesson.pk test_student.student.pk test_student.pk %}"}
              =test_student.student
          -for answer in test_student.get_maybe_answer_list
            -if answer
              %td{class: "{% if answer.evaluate == 1 %}success{% elif answer.evaluate == 0 %}danger{% elif answer.evaluate == -1 %}warning{% else %}default{% endif %}"}
            -else
              %td

-block javascript
  :javascript
    $(
      $(".print-questions").click(function(event) {
        event.preventDefault();
        $.get("{% url 'professor:lesson_test_online_print' lesson.pk object.pk %}").success(function(data) {
          var w = window.open();
          w.document.write(data);
          w.window.print();
          w.document.close();
        });
        return false;
      })
    )
