-extends "base.haml"

-block content
  %h2 Exercices sélectionnés pour le test <i>{{ object.name }}</i>
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:lesson_test_online_detail' lesson.pk object.pk %}"}
        Continuer
  %hr

  -for test_exercice in object.testexercice_set.all
    .panel.panel-default
      .panel-heading
        Exercice n°
        =test_exercice.exercice.id
        sur
        =test_exercice.skill.code

      .panel-body
        -if test_exercice.exercice
          -if not test_exercice.exercice.testable_online
            .alert.alert-warning
              Cet exercice devra être testé hors ligne

          -if test_exercice.exercice.content
            .well
              =test_exercice.exercice.content|safe

          -for label, question in test_exercice.exercice.get_questions.items
            -include "professor/exercice/exercice_with_answers_rendering.haml"

        -else
          Nous n'avons pas encore de questions pour cette compétence

  .center
    %a.btn.btn-lg.btn-primary{href: "{% url 'professor:lesson_test_online_detail' lesson.pk object.pk %}"}
      Continuer

  %br

  :css
    .hidden-math-form {
      display: inline;
    }

-block javascript
  :javascript
    $(function() {
      {% for test_exercice in object.testexercice_set.all %}
      {% for _, question in test_exercice.exercice.get_questions.items %}
      {% if question.type == "graph" %}
      new Graph('graph-' + {{ forloop.counter0 }})
      {% endif %}
      {% endfor %}
      {% endfor %}
    });
