-extends "base.haml"

-load bootstrap3
-load static

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li
      -if test.test
        %a{href: "{% url 'professor:lesson_test_online_detail' lesson.pk test.pk %}"}
          Test
          %span.test-name
            =test.name
      -else
        %a{href: "{% url 'professor:lesson_test_from_class_detail' lesson.pk test.pk %}"}
          Évaluation libre
          =test.name
    %li.active
      Modifier

-block content
  -# Temporarily removed
  -#.panel.panel-default
    .panel-heading
      Modifier le nom :
      %i.test-name {{ test.name }}

    .panel-body
      .form-group
        %label.control-label.col-sm-2 Nom
        %input.form-control{id: "new_name", type: "text", value: "{{ test.name }}"}
      {% buttons %}
        %a.button.btn.btn-primary.modify{id: "{{ test.id }}"}
          Modifier
        -if test.test
          %a.btn.btn-default{href: "{% url 'professor:lesson_test_online_detail' lesson.pk test.pk %}"}
            Annuler
        -else
          %a.btn.btn-default{href: "{% url 'professor:lesson_test_from_class_detail' lesson.pk test.pk %}"}
            Annuler
      {% endbuttons %}
      %p{id: "name_modified_message", style: "display:none"} Nom modifié !
  -if not test.can_change_exercice
    .alert.alert-warning
      %b Remarque :
      au moins un élève a commencé le test, il n'est plus possible de changer les exercices

  %h3
    Exercices sélectionnés pour le test
    %i.test-name {{ object.name }}
    %br

  -# Temporarily removed
  -#-if test.can_change_exercice
    .well
      .form-group
        %label.control-label
          Ajout de compétences -
          = test.lesson.stage
        .form-group
          %select.form-control{id: "skills_to_add"}
            -regroup test.lesson.stage.skills_by_id by section as sections
            -for section in sections
              %optgroup{label: "{{ section.grouper }}"}
                -for skill in section.list reversed
                  -if skill not in test.skills.all
                    %option{value: "{{ skill.code }}", id: "{{ skill.id }}"}
                      {{ skill.code }} - {{ skill.name }}
      .form-group
        %a.btn.btn-primary.add-skill{id: "{{test.id}}", title: "Ajouter la compétence sélectionnée à ce test"}
          Ajouter une compétence
  -#%hr

  -for skill in test.skills.all
    .well
      %h6.orange.line-min{id: "display_skill_{{skill.id}}"}
        Compétence {{ skill.code }} :
        %b {{ skill.name }}
        -if test.can_change_exercice
          %p
            -# Temporarily removed
            -#-if skill.context_set.all
              %a.btn.btn-primary.add-question{id: "{{skill.id}}_{{test.id}}", title: "Ajouter une question pour cette compétence"}
                Ajouter une question
            %a.btn.btn-danger.delete-skill{id: "{{skill.id}}_{{test.id}}", title: "Supprimer cette compétence du test et toutes les questions qui y sont liées"}
              Supprimer cette compétence
      -for test_exercice in test.testexercice_set.all
        -if test_exercice.skill == skill
          -# ID set to delete a question, class set to delete questions linked to a deleted skill
          .panel.panel-default{id: "display_context_{{test_exercice.id}}", class: "skill-{{skill.id}}"}
            %a.anchor{name: "{{ test_exercice.id }}"}
            .panel-heading.subpanel
              Question n°
              =test_exercice.exercice.id
              sur
              =test_exercice.skill.code

              .pull-right
                -if test_exercice.test.can_change_exercice
                  -if test_exercice.skill.context_set.count > 1
                    %td.center{width: "20px"}
                      %a.btn.btn-primary.btn-xs{href: "{% url 'professor:lesson_test_online_change_exercice' lesson.pk test.pk test_exercice.pk %}", data-toggle: "tooltip", data-placement: "top", title: "Remplacer par une autre question tirée des questions disponible dans Oscar"}
                        remplacer
                  -if test_exercice.exercice
                    %td.center{width: "20px"}
                      %a.btn.btn-primary.btn-xs{href: "{% url 'professor:exercice_adapt_test_exercice' test_exercice.pk %}", data-toggle: "tooltip", data-placement: "top", title: "Modifier la question. Cela ne modifiera la question que pour ce test."}
                        modifier
                -if test_exercice.test.can_change_exercice and test_exercice.exercice
                  %td.center{width: "20px"}
                    %a.btn.btn-primary.btn-xs{href: "{% url 'professor:exercice_validation_form' %}#?for_test_exercice={{ test_exercice.pk }}&code={{ test_exercice.skill.code }}", data-toggle: "tooltip", data-placement: "top", title: "Écrire une nouvelle question pour tester cette compétence"}
                      nouveau
                -# Temporarily removed
                -#-if test_exercice.test.can_change_exercice and test_exercice.exercice
                  %td.center{width: "20px"}
                    %a.btn.btn-danger.btn-xs.delete-question{id: "{{test_exercice.id}}", data-toggle: "tooltip", data-placement: "top", title: "Supprimer la question"}
                      supprimer

            .panel-body
              -if test_exercice.exercice
                -if not test_exercice.exercice.testable_online
                  .alert.alert-warning
                    Cet exercice devra être testé hors ligne

                -if test_exercice.exercice.context
                  .well.exercice-content
                    =test_exercice.exercice.context|safe

                -for question in test_exercice.exercice.get_questions
                  -if question.description
                    .well.question-description
                      =question.description|safe
                  -else
                    -# Should never reach this error
                    %div.alert.alert-danger
                      Erreur : Pas d'énoncé
                  -if question.source
                    %p
                      %b Source(s) :
                    .well.question-source
                      =question.source|safe
                  -if question.indication
                    %p
                      %b Indication pour les professeurs :
                    .well.question-indication
                      =question.indication|safe

                  -with answer=question.get_answer
                    -include "professor/exercice/exercice_with_answers_rendering.haml"

              -else
                %p
                  Nous n'avons pas encore de questions pour cette compétence

                -if test_exercice.test.can_change_exercice and test_exercice.skill.context_set.count > 0
                  %p
                    Mais il y en a des disponibles :
                    %a.btn.btn-primary.btn-xs{href: "{% url 'professor:lesson_test_online_change_exercice' lesson.pk test.pk test_exercice.pk %}"}
                      en choisir un


                -else
                  %p
                    %a.btn.btn-primary.btn-xs{href: "{% url 'professor:exercice_validation_form' %}#?for_test_exercice={{ test_exercice.pk }}&code={{ test_exercice.skill.code }}"}
                      Écrire une question pour cette compétence

  .center
    %a.btn.btn-lg.btn-primary{href: "{% url 'professor:lesson_test_online_detail' lesson.pk object.pk %}"}
      Accéder au récapitulatif du test

  %br

-block javascript
  :javascript
    $(function() {
      {% for test_exercice in object.testexercice_set.all %}
      {% for _, question in test_exercice.exercice.get_questions.items %}
      {% if question.type == "graph" %}
      new Graph('graph-' + {{ forloop.counter0 }})
      {% endif %}
      {% endfor %}
      {% endfor %}
    });
  %script{src: "https://code.jquery.com/jquery.min.js"}
  %script{src: "{% static 'js/professor_modify_test.js' %}"}
