-extends "base.haml"

-block content
  %h3 Résultats de l'évaluation hors ligne du test
    %i= test.name
  %hr

  %form{method: "post", action: ""}
    -csrf_token
    %table.table.table-striped.table-bordered
      %col{width: "120px"}
      -for width in test.testexercice_testable_offline
        %col{width: "1"}
      %tr
        %th Élèves
        -for test_exercice in test.testexercice_testable_offline
          %th
            .center
              =test_exercice.skill.code
              %br
              =test_exercice.skill.name
      -for test_student in test.teststudent_with_student
        %tr
          %td= test_student.student
          -for test_exercice, answer in test_student.test_exercice_answer_for_offline_test
            %td
              .center
                .btn-group-vertical{data-toggle: "buttons"}
                  -if answer and answer.correct
                    %label.btn.btn-default.good.active
                      %input{type: "radio", name: "{{ test_student.student.id }}_{{ test_exercice.id }}", value: "good_{{ test_student.student.id }}_{{ test_exercice.id }}", autocomplete: "off", checked: "checked"}
                        réponse correcte
                  -else
                    %label.btn.btn-default.good
                      %input{type: "radio", name: "{{ test_student.student.id }}_{{ test_exercice.id }}", value: "good_{{ test_student.student.id }}_{{ test_exercice.id }}", autocomplete: "off"}
                        réponse correcte

                  -if answer != None and answer.correct != None and answer.correct != True
                    %label.btn.btn-default.bad.active
                      %input{type: "radio", name: "{{ test_student.student.id }}_{{ test_exercice.id }}", value: "bad_{{ test_student.student.id }}_{{ test_exercice.id }}", autocomplete: "off", checked: "checked"}
                        réponse incorrecte
                  -else
                    %label.btn.btn-default.bad
                      %input{type: "radio", name: "{{ test_student.student.id }}_{{ test_exercice.id }}", value: "bad_{{ test_student.student.id }}_{{ test_exercice.id }}", autocomplete: "off"}
                        réponse incorrecte

                  -if not answer or answer.correct == None
                    %label.btn.btn-default.unknown.active
                      %input{type: "radio", name: "{{ test_student.student.id }}_{{ test_exercice.id }}", value: "unknown_{{ test_student.student.id }}_{{ test_exercice.id }}", autocomplete: "off", checked: "checked"}
                        pas encore fait
                  -else
                    %label.btn.btn-default.unknown
                      %input{type: "radio", name: "{{ test_student.student.id }}_{{ test_exercice.id }}", value: "unknown_{{ test_student.student.id }}_{{ test_exercice.id }}", autocomplete: "off"}
                        pas encore fait

    %button.btn.btn-primary{type: "submit"}
      Valider
    %a.btn.btn-default{href: "{% url 'professor:lesson_test_online_detail' lesson.pk test.pk %}"}
      Encoder plus tard

-block javascript
  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}

  :javascript
    $(function() {
      var color_good = function() {
        var btn = $(this)
        btn.addClass("btn-success");

        var td = btn.parent().parent().parent();
        td.addClass("success");
        td.removeClass("warning");

        var bad_btn = btn.parent().find(".bad");
        bad_btn.removeClass("btn-warning");
      }

      var color_bad = function() {
        var btn = $(this)
        btn.addClass("btn-warning");

        var td = btn.parent().parent().parent();
        td.addClass("warning");
        td.removeClass("success");

        var good_btn = btn.parent().find(".good");
        good_btn.removeClass("btn-success");
      }

      var color_unknown = function() {
        var btn = $(this)

        var td = btn.parent().parent().parent();
        td.removeClass("success");
        td.removeClass("warning");

        var good_btn = btn.parent().find(".good");
        good_btn.removeClass("btn-success");

        var bad_btn = btn.parent().find(".bad");
        bad_btn.removeClass("btn-warning");
      }

      $(".good").click(color_good);
      $(".bad").click(color_bad);
      $(".unknown").click(color_unknown);

      $(".good.active").each(color_good);
      $(".bad.active").each(color_bad);
      $(".unknow.active").each(color_unknow);

    })
