-if content
  .well.exercice-content
    =content|safe

%form{method: "POST"}
  -csrf_token
  -for label, question in questions.items
    .form-group
      %label{for: "{{ forloop.counter0 }}"}= label|safe
      -if question.type == "text"
        %input.form-control{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", type: "text"}
      -elif question.type == "math"
        %span
          %textarea.keyboard
          %span.mathquill
          %input.form-control.hidden-math-form{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", type: "text"}
      -elif question.type == "radio"
        -with name=forloop.counter0
          -for option in question.answers
            .radio
              %label
                %input{type: "radio", value: "{{ forloop.counter0 }}", name: "{{ name }}"}
                =option
      -elif question.type == "checkbox"
        -with name=forloop.counter0
          -for option in question.answers
            .checkbox
              %label
                %input{type: "checkbox", value: "{{ forloop.counter0 }}", name: "{{ name }}"}
                =option
      -else
        =question.type

  %input.btn.btn-primary{type: "submit", value: "Répondre"}

  :css
    body {
      padding-bottom: 200px;
    }
