-extends "base.haml"

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'student_dashboard' %}"} Oscar
    %li.active
      Test
      =test_exercice.test

  -if not test_exercice.exercice
    %h1 Test de la compétence {{ test_exercice.skill.code }} mais nous n'avons pas encore d'exercice
    %hr

    %center
      %form{method: "POST"}
        -csrf_token
        %button.btn.btn-success.btn-lg{type: "submit", name: "value", value: "validate"}
          Marquer la compétence comme maitrisé

        %button.btn.btn-danger.btn-lg{type: "submit", name: "value", value: "unvalidate"}
          Marquer la compétence comme à apprendre

  -else
    .panel.panel-default
      .panel-heading
        Exercice sur
        =test_exercice.skill.code

      .panel-body
        -with content=test_exercice.exercice.content questions=test_exercice.exercice.get_questions
          -include "examinations/exercice_rendering.haml"
