-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'student_dashboard' %}"} Oscar
    %li.active
      Test
      =test_exercice.test

-block content
  .panel.panel-default
    .panel-heading
      Question n° {{ test_exercice.exercice.id }} sur
      =test_exercice.skill.code

    .panel-body
      -# Does not work if we don't rename context in another name (here: context_questions)
      -with context_questions=test_exercice.exercice.context questions=test_exercice.exercice.get_questions
        -if context_questions
          .well
            =context_questions|safe
        -include "examinations/exercice_rendering.haml"

-block javascript
  :javascript
    $(function() {
      console.log("renderMathquil");
      renderMathquil($(".mathquill"), function(MQ, index, mq) {
          var input = $($(mq).parent().find("input")[0]);

          var mathquill = MQ.MathField(mq, {
                handlers: {
                    edit: function() {
                        input.val(mathquill.latex());
                        console.log(input.val());
                    }
                }
            });

          var keyboard = $($(mq).parent().children()[0]);

          return [mathquill, keyboard]
      });

      {% for question in test_exercice.exercice.get_questions %}
      {% if question.get_type == "graph" %}
      var graph = new Graph('graph-' + {{ forloop.counter0 }})

      {% for answer in question.get_answers %}
      // assuming points for now
      graph.addAvailableGraphentry("{{ answer.graph.type }}")
      {% endfor %}

      {% endif %}
      {% endfor %}
    });
