-extends "base.haml"

-load crispy_forms_tags

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'student_dashboard' %}"} Oscar
    %li.active
      Test
      =test_student.test

-block content
  .panel.panel-default
    .panel-body
      %p Félicitations, tu as terminé le test "{{ test_student.test.name }}" !

      -if not pool_form
        %p
          %a{href: "{% url 'student_dashboard' %}"} Revenir à ma page d'accueil

  -if pool_form
    .panel.panel-default
      .panel-body
        -if pool_form.errors
          .alert.alert-warning
            %b Attention:
            Il manque des réponses au sondage

        %p Sondage

        %p
          Oscar est un site web en développement. C'est grâce à tes remarques
          que nous pouvons l'améliorer pour en faire un outil que tu aimes. C'est
          pourquoi nous te demandons ton avis ! Les réponses sont anonymes.
          N'hésite pas à nous dire tout ce que tu penses. Tous les commentaires
          (positifs et négatifs) nous aident beaucoup !

        %center
          %p
            ☆ ☆ ☆  Merci ☆ ☆ ☆

        %p L'équipe Oscar

        %hr

        -crispy pool_form
