-extends "base.haml"

-block content
  %h1 Test:
    =test.name
  %hr

  %center
    %form{method: "POST", action: "{% url 'student_start_test' test_student.id %}"}.form-group
      -csrf_token
      %button.btn.btn-lg.btn-primary{type: "submit"}
        Commencer le test
