-extends "base.haml"

-load static

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:exercice_list' %}"} Oscar
        Questions
    %li
      Question n°
      =exercice.id

-block content
  -if not exercice.approved
    %div.alert.alert-warning
      Exercice en attente d'approbation

  %h3 Question n°
    =exercice.id
    sur
    =exercice.skill.code
    -if user.is_superuser or exercice.added_by == user
      %a{href: "{% url 'professor:exercice_update' exercice.id %}"}
        %img.icon{src: "{% static 'img/icons/modify.png' %}", data-toggle: "tooltip", data-placement: "top", title: "modifier"}
  %hr
  %h4
    =exercice.skill.name


  .ligneorange

  .container-fluid.boxclassetitle
    .pull-right
      %a.btn.btn-sm.btn-primary{href: "{% url 'professor:exercice_list' %}"}
        Voir toutes les questions

  .ligneorangefine

  .boxclasse.container-fluid
    -if exercice.content
      .well.exercice-content
        =exercice.content|safe

    -for label, question in exercice.get_questions.items
      -include "professor/exercice/exercice_with_answers_rendering.haml"

-block javascript
  :javascript
    $(function() {
      {% for _, question in exercice.get_questions.items %}
      {% if question.type == "graph" %}
      new Graph('graph-' + {{ forloop.counter0 }})
      {% endif %}
      {% endfor %}
    });
