-extends "base.haml"

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:exercice_list' %}"} Oscar
        Questions
    %li
      Question n°
      =exercice.id

  -if not exercice.approved
    %div.alert.alert-warning
      Exercice en attente d'approbation

  %h2 Question n°
    =exercice.id
    sur
    =exercice.skill.code
    %small
      =exercice.skill.name
    .pull-right
      -if user.is_superuser or exercice.added_by == user
        %a.btn.btn-sm.btn-success{href: "{% url 'professor:exercice_update' exercice.id %}"}
          Éditer
      %a.btn.btn-sm.btn-primary{href: "{% url 'professor:exercice_list' %}"}
        Voir toutes les questions

  %hr

  -if exercice.content
    .well
      =exercice.content|safe

  -for label, question in exercice.get_questions.items
    -include "professor/exercice/exercice_with_answers_rendering.haml"
