-extends "base.haml"
-load lesson_tags

-load static

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:exercice_list' %}"} Oscar
        Questions
    %li
      Question n°
      =context.id

-block content
  -if not context.approved
    %div.alert.alert-warning
      Exercice en attente d'approbation

  %h3 Question n°
    =context.id
    sur
    =context.skill.code
    -if user.is_superuser or context.added_by == user
      %a{href: "{% url 'professor:exercice_update' context.id %}"}
        %img.icon{src: "{% static 'img/icons/modify.png' %}", data-toggle: "tooltip", data-placement: "top", title: "modifier"}
  %hr
  %h4
    =context.skill.name


  .ligneorange

  .container-fluid.boxclassetitle
    .pull-right
      %a.btn.btn-sm.btn-primary{href: "{% url 'professor:exercice_list' %}"}
        Voir toutes les questions

  .ligneorangefine

  .boxclasse.container-fluid
    -if context.context
      .well.context-context
        =context.context|safe

    -if context.get_questions
      -for question in context.get_questions
        -if question.description
          %p
            %strong=question.description|safe|encode_utf8
        -else
          -# Should never reach this error
          %div.alert.alert-danger
            Erreur : Pas d'énoncé
        -if question.source
          %p
            %b Source(s) :
          .well.question-source
            =question.source|safe
        -if question.indication
          %p
            %b Indication pour les professeurs :
          .well.question-indication
            =question.indication|safe
        -with answer=question.get_answer
          -include "professor/exercice/exercice_with_answers_rendering.haml"
    -else
      Aucune question n'est reliée à ce contexte !

-block javascript
  :javascript
    $(function() {
      {% for question in context.get_questions %}
      {% if question.get_answer.type == "graph" %}
      new Graph('graph-' + {{ forloop.counter0 }})
      {% endif %}
      {% endfor %}
    });
