-extends "base.haml"

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      Questions

  %h2 Questions
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:exercice_validation_form' %}"}
        Ajouter une question
  %hr

  -regroup exercice_list by skill as exercices_by_skills

  -for skill in exercices_by_skills
    %h3
      =skill.grouper.code
      %small
        =skill.grouper.name
    -for exercice in skill.list
      %ul
        %li
          %a{href: "{% url 'professor:exercice_detail' exercice.pk %}"}
            Question n°
            =exercice.id
          -if not exercice.approved
            %span.label.label-warning
              en attente d'approbation

  %h2 Compétences sans questions

  %ul
    -for skill in skills_without_exercices
      %li
        =skill.code
        \-
        =skill.name
