-extends "base.haml"

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:exercice_list' %}"}
        Exercices
    %li.active
      Formulaire de validation du format d'un exercice

  .alert.alert-warning
    %b Attention :
    ce formulaire ne sauve pas votre travail pour l'instant, je vous conseille d'utiliser une extension navigateur pour le sauver automatiquement tel que Lazarus <a href="https://addons.mozilla.org/en-Us/firefox/addon/lazarus-form-recovery/">pour firefox</a> ou <a href="https://chrome.google.com/webstore/detail/lazarus-form-recovery/loljledaigphbcpfhfmgopdkppkifgno">pour chrome</a>.

  .panel.panel-default
    .panel-heading
      Formulaire pour valider un exercice

    .panel-body
      .form-group
        %label Compétence
        %select#skill-code.form-control
          %option{value: ""}
          -for stage in stage_list
            -if stage.name
              %optgroup{label: "{{ stage.name }}"}
                -for skill in stage.skills.all
                  %option{value: "{{ skill.code }}"}
                    =skill.code
                    \-
                    =skill.name


      .form-group
        %label Fichier HTML
        %textarea#exercice-html.form-control{rows: 10}

      .form-group
        %label Fichier YAML
        %textarea#exercice-yaml.form-control{rows: 16}

      .form-group
        %button#validate-yaml.btn.btn-primary
          Vérifier
        %button#submit-pull-request.btn.btn-primary{style: "display: none"}
          Proposer à Oscar

      #yaml-validation-result

      #exercice-rendering-panel.panel.panel-default{style: "display: none"}
        .panel-heading
          Rendu de l'exercice

        .panel-body

          #exercice-rendering-html.well{style: "display: none"}

          #exercice-rendering-yaml

  %b Exemple d'un exercice
  <pre>{% include "professor/exercice/validate_form/example_exercice" %}</pre>

-block javascript
  :javascript
    $(function() {
      $("#validate-yaml").on("click", function() {
        var content = $("#exercice-yaml").val();
        $.post("{% url 'professor:exercice_validation_form_validate_exercice' %}", {"yaml": content})
          .success(function(data) {
          if (data.yaml.result == "error") {
            $("#yaml-validation-result")
              .html('<div class="alert alert-danger"> <b>Erreur:</b> ' + data.yaml.message + '</b></div>');
            $("#exercice-rendering-panel").hide();
            $("#pull-request").hide();
          } else {
            $("#yaml-validation-result")
              .html('<div class="alert alert-success">' + data.yaml.message + '</b></div>');

            $("#exercice-rendering-panel").show();
            $("#exercice-rendering-yaml").html(data.rendering);
            $('#exercice-rendering-yaml input[type="submit"]').addClass("disabled");
            var html = $("#exercice-html").val()
            if (html) {
              $("#exercice-rendering-html").html(html);
              $("#exercice-rendering-html").show();
            }
            $("#submit-pull-request").show();
          }
          })
      })

      $("#submit-pull-request").on("click", function() {
        var yaml = $("#exercice-yaml").val();
        var html = $("#exercice-html").val()
        var skill_code = $("#skill-code").val()

        // TODO: complain if no yaml or no skill code

        $.post("{% url 'professor:exercice_validation_form_pull_request' %}", {"yaml": yaml, "html": html, "skill_code": skill_code})
          .success(function(data) {
          })
      })
    })
