-extends "base.haml"
-load static

-block head
  %script{type: "text/javascript", src: "{% static 'js/professor_validate_exercice.js' %}"}

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:exercice_list' %}"}
        Questions
    %li.active
      -if exercice
        Formulaire de modification d'une question
      -else
        Formulaire de proposition d'une question

  .panel.panel-default{ng-app: "oscar", ng-controller: "validateExerciceController"}
    .panel-heading
      -if exercice
        Formulaire de modification d'une question
      -else
        Formulaire de proposition d'une question
      .pull-right
        %a.btn.btn-primary.btn-xs{href: "{% url 'professor:exercice_list' %}"}
          Questions
        %a.btn.btn-success.btn-xs{href: "{% url 'professor:skill_list' %}"}
          Compétences et ressources

    .panel-body
      .form-group
        %label Compétence
        %select#skill-code.form-control{ng-model: "skillCode"}
          %option{value: ""}
          -for stage in stage_list
            -if stage.name
              %optgroup{label: "{{ stage.name }}"}
                -for skill in stage.skills.all
                  %option{value: "{{ skill.code }}"}
                    =skill.code
                    \-
                    =skill.name

      .form-group.checkbox
        %ul.list-group
          %li.list-group-item.list-group-item-info
            %label
              %input{type: "checkbox", ng-model: "testable_online"}
              Cette question est utilisable en ligne


      .form-group
        %label Image (optionnel)
        %input{ng-model: "image", multiple: "multiple", type: "file", onchange: "angular.element(this).scope().uploadFile(this.files)"}

      .form-group
        %label Énoncé
        %textarea#exercice-html.form-control{rows: 10, ng-model: "html", placeholder: "Syntaxe html disponible, exemple: <b>gras</b> <i>italique</i>... Pour utiliser du latex mettez le entre \( et \) ou $$ et $$"}

        %p.help-block
          Pour ajouter des formules mathématiques dans vos énoncés, utilisez
          \\(\LaTeX\). Le site myscript vous permet de facilement avoir le code \(\LaTeX\)
          d'une formule à partir d'un dessin que vous tracez :
          <a href="https://webdemo.myscript.com/views/math.html">https://webdemo.myscript.com/views/math.html</a>.
          %br
          Copiez ensuite le code \(\LaTeX\) dans l'énoncé, en ajoutant les symboles
          <span>\(</span> au début et <span>\)</span> à la fin.  Ex.: <i><span>\(</span>code latex<span>\)</span></i>

      %form.form-group{ng-submit: "validateExercice()"}
        %ul.list-group{ng-if: "testable_online"}
          %li.list-group-item{ng-repeat: "question in questions", ng-init: "topIndex = $index.toString()"}
            .form-horizontal
              .form-group
                %label.control-label.col-sm-2 Énoncé de la sous question
                .col-sm-9
                  %input.form-control{type: "text", ng-model: "question.instructions", ng-required: "true"}
                .col-sm-1
                  %button.btn.btn-danger{ng-click: "removeQuestion(question)", type: "button"}
                    %span.glyphicon.glyphicon-remove
              .form-group
                %label.control-label.col-sm-2 Type de la question
                .col-sm-10
                  %select.form-control{ng-model: "question.type", ng-required: "true", ng-change: "onChangeQuestionType(topIndex, question)"}
                    %option{value: ""}
                    %option{value: "text"} Réponse textuelle exacte
                    %option{value: "math-simple"} Réponse mathématique simple
                    %option{value: "math-advanced"} Réponse mathématique avancée
                    %option{value: "radio"} Une seule réponse unique possible parmis toutes (radio)
                    %option{value: "checkbox"} Question à choix multiples (checkbox)

            %ul.list-group
              %li.list-group-item{ng-repeat: "answer in question.answers"}
                .form-horizontal
                  .form-group
                    %label.col-sm-2.control-label Réponse possible :
                    .col-sm-9
                      %input.form-control{type: "text", ng-if: "!question.type.startsWith(\"math\")", ng-model: "answer.text", ng-required: "true"}
                      %span{ng-if: "question.type == \"math-simple\"", ng-required: "true"}
                        %textarea.keyboard
                        %span.mathquill{class: "mathquill-{& topIndex &}", data-keyboard-type: "{& question.type &}"}
                      %span{ng-if: "question.type == \"math-advanced\"", ng-required: "true"}
                        %textarea.keyboard
                        %span.mathquill{class: "mathquill-{& topIndex &}", data-keyboard-type: "{& question.type &}"}
                    .col-sm-1
                      %button.btn.btn-danger.btn-sm{ng-click: "removeAnswer(question, answer)", type: "button"}
                        %span.glyphicon.glyphicon-remove
                  .form-group.no-bottom{ng-if: "question.type != \"text\" && ! question.type.startsWith(\"math\")"}
                    %label.control-label.col-sm-2 Réponse correcte ?
                    .col-sm-1
                      %input.form-control{type: "checkbox", ng-change: "question.type == \"radio\" && answer.correct === true && onChangeRadio(question, answer)", ng-model: "answer.correct"}

            %button.btn.btn-success.btn-sm{ng-click: "addAnswer(topIndex, question)", type: "button"}
              %span.glyphicon.glyphicon-plus
              nouvelle réponse possible



        .form-group
          %button.btn.btn-success{ng-click: "addQuestion()", type: "button"}
            %span.glyphicon.glyphicon-plus
            nouvelle question

        .form-group
          %button#validate-yaml.btn.btn-primary{type: "submit"}
            Prévisualiser
          %button#submit-pull-request.btn.btn-primary{ng-click: "proposeToOscar()", ng-if: "exerciceIsValid", ng-required: "exerciceIsValid", type: "button"}
            -if exercice
              Enregistrer
            -else
              Proposer à Oscar

      #yaml-validation-result{ng-bind-html: "yamlValidationResult"}

      #exercice-rendering-panel.panel.panel-default{ng-if: "exerciceIsValid"}
        .panel-heading
          Rendu de la question

        .panel-body

          #exercice-rendering-html.well{ng-if: "htmlRendering != \"\" || base64img != \"\""}
            %img{ng-if: "base64img", src: "{& base64img &}"}
            %div{ng-bind-html: "htmlRendering"}

          #exercice-rendering-yaml{ng-if: "yamlRendering != \"\"", ng-bind-html: "yamlRendering"}

  :css
    body {
      padding-bottom: 200px;
    }

    .hidden-math-form {
      display: inline;
    }
