-extends "base.haml"
-load static

-block head
  %script{type: "text/javascript", src: "{% static 'js/professor_validate_exercice.js' %}"}

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:exercice_list' %}"}
        Exercices
    %li.active
      Formulaire de validation du format d'un exercice

  .alert.alert-warning
    %b Attention :
    ce formulaire ne sauve pas votre travail pour l'instant, je vous conseille d'utiliser une extension navigateur pour le sauver automatiquement tel que Lazarus <a href="https://addons.mozilla.org/en-Us/firefox/addon/lazarus-form-recovery/">pour firefox</a> ou <a href="https://chrome.google.com/webstore/detail/lazarus-form-recovery/loljledaigphbcpfhfmgopdkppkifgno">pour chrome</a>.

  .panel.panel-default{ng-app: "oscar", ng-controller: "validateExerciceController"}
    .panel-heading
      Formulaire pour valider un exercice

    .panel-body
      .form-group
        %label Compétence
        %select#skill-code.form-control{ng-model: "skillCode"}
          %option{value: ""}
          -for stage in stage_list
            -if stage.name
              %optgroup{label: "{{ stage.name }}"}
                -for skill in stage.skills.all
                  %option{value: "{{ skill.code }}"}
                    =skill.code
                    \-
                    =skill.name


      .form-group
        %label Fichier HTML
        %textarea#exercice-html.form-control{rows: 10, ng-model: "html"}

      .form-group
        %ul.list-group{ng-repeat: "question in questions"}
          %li.list-group-item
            %label Énoncé
            %input{type: "text", ng-model: "question.instructions"}
            %label Type de la question
            %select{ng-model: "type"}
              %option{value: ""}
              %option{value: "text"} Champ libre
              %option{value: "radio"} Réponse unique possible
              %option{value: "checkbox"} QCM

            %ul.list-group{ng-repeat: "answer in question.answers"}
              %li.list-group-item
                %label Réponse possible :
                %input{type: "text", ng-model: "answer.text"}
                %div{ng-if: "question.type != \"text\""}
                  %label Réponse correcte ?
                  %input{type: "checkbox", ng-model: "answer.correct"}

              %button.btn.btn-default.btn-sm{ng-click: "removeAnswer(question, answer)"}
                Supprimer la réponse
            %button.btn.btn-default.btn-sm{ng-click: "addAnswer(question)"}
              Ajouter une réponse

            %button.btn.btn-default{ng-click: "removeQuestion(question)"}
              Supprimer la question


        %button.btn.btn-default{ng-click: "addQuestion()"}
          Rajouter une autre question

        %label Fichier YAML
        %textarea#exercice-yaml.form-control{rows: 16, ng-model: "yaml"}

      .form-group
        %button#validate-yaml.btn.btn-primary{ng-click: "validateExercice()"}
          Vérifier
        %button#submit-pull-request.btn.btn-primary{ng-click: "proposeToOscar()", ng-if: "exerciceIsValid"}
          Proposer à Oscar

      #yaml-validation-result{ng-bind-html: "yamlValidationResult"}

      #exercice-rendering-panel.panel.panel-default{ng-if: "exerciceIsValid"}
        .panel-heading
          Rendu de l'exercice

        .panel-body

          #exercice-rendering-html.well{ng-if: "htmlRendering != \"\"", ng-bind-html: "htmlRendering"}

          #exercice-rendering-yaml{ng-if: "yamlRendering != \"\"", ng-bind-html: "yamlRendering"}

  %b Exemple d'un exercice
  <pre>{% include "professor/exercice/validate_form/example_exercice" %}</pre>
