.navbar-inverse {
    background-color: white;
    border-color: #F58025;
}

.navbar-inverse .navbar-brand {
    color: #787878;
}

.navbar-inverse .navbar-nav > li > a {
    color: #787878;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #F58025;
    text-decoration: none;
    background-color: white;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #F58025;
    text-decoration: none;
    background-color: white;
}

.navbar-inverse .navbar-toggle {
    background-color: #F58025;
}

.well {
    padding-bottom: 9px;
}

.legend + .legend {
    margin-top: 10px;
}

.legend div {
    width: 75px;
}

.legend-list {
    list-style-type: none;
    padding-left: 0;
}

.breadcrumb {
    margin-top: 10px;
}
