.navbar-inverse {
    background-color: white;
    border-color: #F58025;
}

.navbar-inverse .navbar-brand {
    color: #787878;
}

.navbar-inverse .navbar-nav > li > a {
    color: #787878;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #F58025;
    text-decoration: none;
    background-color: white;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #F58025;
    text-decoration: none;
    background-color: white;
}

.navbar-inverse .navbar-toggle {
    background-color: #F58025;
}

.well {
    padding-bottom: 9px;
}

.legend + .legend {
    margin-top: 10px;
}

.legend div {
    width: 75px;
}

.legend-list {
    list-style-type: none;
    padding-left: 0;
}

.breadcrumb {
    margin-top: 10px;
}

.center {
    text-align: center;
}

.answers-table {
    width: 100%;
}

.answers-table td {
    padding: 10px;
}

.answers-panel {
    padding: 0px;
}

.right-border {
    border-right: 1px #ddd solid;
}

.full-width {
    width: 100%;
}

.skill {
    width: 105px;
    margin: 5px;
}

.skill:hover {
    cursor: default;
}

.mastered_not_enough, .mastered_not_enough:hover {
    background-color: white;
}

.mastered_25, .mastered_25:hover {
    background-color: #BB1225;
    color: white;
}

.mastered_50, .mastered_50:hover {
    background-color: #F25B25;
    color: white;
}

.mastered_75, .mastered_75:hover {
    background-color: #FFED25;
}

.mastered_100, .mastered_100:hover {
    background-color: #47E347;
}

.heatmap-list {
    list-style-type: none;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-success {
    background-color: #5CB85C;
}

.right-space {
    margin-right: 4px;
}

.selected-skill {
    margin-right: 3px;
    margin-bottom: 3px;
}

.selected-skill:hover {
    background-color: #B90000;
    border-color: #950000;
}

.selected-skill:active {
    background-color: #950000 !important;
    border-color: #740000 !important;
}

.exercice-content img {
    max-width: 100%;
}

.no-bottom {
    margin-bottom: 0px;
}

.keyboard {
    display: none;
}

.ui-keyboard-cos span {
    font-size: 12px;
}

.ui-keyboard-sin span {
    font-size: 12px;
}

.ui-keyboard-tan span {
    font-size: 12px;
}

.ui-keyboard-infty span {
    font-size: 0px;
}

.ui-keyboard-infty span:after {
    content: '\221E';
    font-size: 19px;
}

.ui-keyboard-times span {
    font-size: 0px;
}

.ui-keyboard-times span:after {
    content: '\274C';
    font-size: 19px;
}

.ui-keyboard-pi span {
    font-size: 0px;
}

.ui-keyboard-pi span:after {
    content: '\03A0';
    font-size: 19px;
}

.ui-keyboard-neq span {
    font-size: 0px;
}

.ui-keyboard-neq span:after {
    content: '\2260';
    font-size: 19px;
}

.ui-keyboard-leq span {
    font-size: 0px;
}

.ui-keyboard-leq span:after {
    content: '\2264';
    font-size: 19px;
}

.ui-keyboard-geq span {
    font-size: 0px;
}

.ui-keyboard-geq span:after {
    content: '\2265';
    font-size: 19px;
}

.ui-keyboard-int span {
    font-size: 0px;
}

.ui-keyboard-int span:after {
    content: '\222B';
    font-size: 19px;
}

.ui-keyboard-frac span {
    background-image: url("/static/img/keyboard/math-advanced.png");
    background-position: -12px -5px;
    text-indent: -99em;
    width: 1.2em;
}

.ui-keyboard-sqrt span {
    background-image: url("/static/img/keyboard/math-advanced.png");
    background-position: -203px -5px;
    text-indent: -99em;
    width: 1.2em;
}


.ui-keyboard-94 span {
    background-image: url("/static/img/keyboard/math-advanced.png");
    background-position: -108px -5px;
    text-indent: -99em;
    width: 1.2em;
}


.ui-keyboard-_ span {
    background-image: url("/static/img/keyboard/math-advanced.png");
    background-position: -155px -5px;
    text-indent: -99em;
    width: 1.2em;
}


.ui-keyboard-40-41 span {
    background-image: url("/static/img/keyboard/math-advanced.png");
    background-position: -300px -5px;
    text-indent: -99em;
    width: 1.2em;
}


/* position keyboard at bottom of the screen - jQuery UI isn't even loaded! */

.ui-keyboard {
    border-radius: 0;
    left: 0;
    top: auto;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.ui-keyboard div {
    font-size: 1.2em;
}

.mathquill {
    width: 100%;
}

#wrap {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.hidden-math-form {
    display: none;
}
