-extends "base.haml"
-load bootstrap3
-load static

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li= lesson.stage.name
    %li
      Classe
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        =lesson.name
    %li.active
      Ajouter des élèves

  %h3
    Ajouter des élève pour ma classe
    %i
      =lesson.name

  %form.form{action: "", method: "post", ng-app: "oscar", ng-controller: "severalStudentsController"}
    -csrf_token

    %ul.list-group
      %li.list-group-item{ng-repeat: "student in students"}
        .row
          .col-md-6
            .form-group{class: "{% if add_student_form.id_first_name.errors %}has-error{% elif add_student_form.data and add_student_form.id_first_name %}has-success{% endif %}"}
              %label.control-label{for: "id_first_name"}
                Prénom
              %input#id_first_name.form-control{type: "text", required: "", placeholder: "Prénom", name: "first_name_{& student &}", value: "{{ add_student_form.first_name.value|default:\"\" }}"}
              -for error in add_student_form.first_name.errors
                %span.help-block{style: "color: red"}= error

          .col-md-6
            .form-group{class: "{% if add_student_form.id_last_name.errors %}has-error{% elif add_student_form.data and add_student_form.id_last_name %}has-success{% endif %}"}
              %label.control-label{for: "id_last_name"}
                Nom
              %input#id_last_name.form-control{type: "text", required: "", placeholder: "Nom de famille", name: "last_name_{& student &}", value: "{{ add_student_form.last_name.value|default:\"\" }}"}
              -for error in add_student_form.last_name.errors
                %span.help-block{style: "color: red"}= error
      %li.list-group-item
        %button.btn.btn-success{tyle: "button", ng-click: "addAnotherStudent()"}
          %span.glyphicon.glyphicon-plus

    {% buttons %}
      %button.btn.btn-primary{type: "submit"}
        Ajouter mes élèves
    {% endbuttons %}

-block javascript
  %script{type: "text/javascript", src: "{% static 'js/professor_add_students.js' %}"}
