-extends "base.haml"
-load bootstrap3
-load static
-load compress

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li

      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Ajouter des élèves

-block content
  %h3
    Ajouter des élèves pour ma classe
    %i
      =lesson.name
  %hr

  .ligneorange

  .container-fluid.boxclassetitle
    %ul{class:"messages"}
      {% if messages %}
        {%for message in messages %}
          %li  {{ message }}
        {% endfor %}
      {% endif %}
  .ligneorangefine

  .boxclasse.container-fluid
    %form.form{action: "", method: "post", name: "xlsfile", enctype: "multipart/form-data"}
      -csrf_token

      %label{for: "file"}
        Importer une liste d'élèves :
      Téléchargez et remplissez
      %a{'href': "{% static 'student_list_template.xls'%}" } ce fichier
      pour ajouter des élèves.
      %input{type: "file", name: "csvfile"}
      .container-fluid.boxclassetitle

      {% buttons %}
        %button.btn.btn-primary{type: "submit"}
          Importer des élèves
      {% endbuttons %}


  .ligneorangefine


  .boxclasse.container-fluid
    %form.form{action: "", method: "post", name: "manual_add"}
      -csrf_token

      %label
        Ajouter des élèves manuellement

      %ul.list-group{ng-app: "oscar", ng-controller: "severalStudentsController"}
        %li.list-group-item{ng-repeat: "student in students"}
          .index
            {& $index + 1 &}
          .row
            .col-md-6
              .form-group
                %label.control-label.prenom{for: "id_first_name"}
                  Prénom
                %input#id_first_name.form-control{type: "text", required: "", placeholder: "Prénom", name: "first_name_{& student &}", value: ""}

            .col-md-6
              .form-group
                %label.control-label{for: "id_last_name"}
                  Nom
                %input#id_last_name.form-control{type: "text", required: "", placeholder: "Nom de famille", name: "last_name_{& student &}", value: ""}

          %button.btn.btn-danger.btn-sm.remove{type: "button", ng-click: "removeStudent(student)"}
            %span.glyphicon.glyphicon-remove

        %li.list-group-item
          %button.btn.btn-success{type: "button", ng-click: "addMoreStudent(1)"}
            %span.glyphicon.glyphicon-plus
            1

          %button.btn.btn-success{type: "button", ng-click: "addMoreStudent(5)"}
            %span.glyphicon.glyphicon-plus
            5

          %button.btn.btn-success{type: "button", ng-click: "addMoreStudent(10)"}
            %span.glyphicon.glyphicon-plus
            10

          %button.btn.btn-success{type: "button", ng-click: "addMoreStudent(20)"}
            %span.glyphicon.glyphicon-plus
            20

      {% buttons %}
        %button.btn.btn-primary{type: "submit"}
          Valider
      {% endbuttons %}

  :css
    .remove {
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 0px;
      border-bottom-left-radius: 3px;
      padding: 2px 6px;
    }

    .index {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 2px 6px;
      background-color: #777777;
      color: white;
      border-bottom-right-radius: 3px;
    }

    .prenom {
      padding-left: 15px;
    }

-block javascript
  -compress js
    %script{type: "text/javascript", src: "{% static 'js/professor_add_students.js' %}"}
