-extends "base.haml"
-load static
-load lesson_tags
-load compress

-block head
  -compress js
    %script{type: "text/javascript", src: "{% static 'js/professor_student.js' %}"}

-block javascript
  :javascript
    $(function () {
      $('[data-toggle="popover"]').popover({
        html: true
      })

      $('.skill').each(function(index, node) {
        node.setAttribute("data-content", node.nextSibling.nextSibling.innerHTML);
      })
    })


-block breadcrumb
  %ol.breadcrumb
    -with lesson=student.lesson_set.first
      %li
        %a{href: "{% url 'professor:dashboard' %}"} Oscar
      %li
        %a{href: "{% url 'professor:lesson_detail' lesson.id %}"}
          Classe
          =lesson.name
    %li.active
      Élève
      =student.user.first_name
      =student.user.last_name

-block content
  -with lesson=student.lesson_set.first
    %h3
      =student.user.first_name|title
      =student.user.last_name|title
      %a{href: "{% url 'professor:lesson_student_update' lesson.pk student.pk %}"}
        %img.icon{src: "{% static 'img/icons/modify.png' %}", data-toggle: "tooltip", data-placement: "top", title: "modifier"}
      %a{href: "{% url 'professor:lesson_student_delete' lesson.pk student.pk %}"}
        %img.icon{src: "{% static 'img/icons/delete.png' %}", data-toggle: "tooltip", data-placement: "top", title: "supprimer"}
    %hr
    %h4
      Identifiant :
      =student.user.username

    %ul.menu-tabs.nav.orange.nav-tabs
      %li.active{role: "presentation"}
        %a{href: "#tests"}
          Les tests
      %li{role: "presentation"}
        %a{href: "#recommendedSkills"}
          Compétences recommandées
      %li{role: "presentation"}
        %a{href: "#heatmap"}
          Vue globale de l'élève

    .ligneorange

    .container-fluid.boxclassetitle

    .ligneorangefine

    .container-fluid.boxclasse

      .tab-content
        #tests.tab-pane.active
          -if student.todo_tests or student.done_tests
            -if student.todo_tests
              .panel.panel-default
                .panel-heading
                  Tests à passer

                %ul.list-group
                  -for test_student in student.todo_tests
                    %li.list-group-item
                      -if test_student.get_state == "commencé"
                        %span.badge.badge-warning
                          commencé
                      -elif test_student.get_state == "fini"
                        %span.badge.badge-success
                          fini
                      %i.fa.fa-desktop.right-space{aria-hidden: "true"}
                      -if test_student.finished_at
                        =test_student.finished_at|date:"d/m/Y"
                      %a{href: "{% url 'professor:lesson_student_test' lesson.pk student.pk test_student.pk %}"}
                        =test_student.test.name
                      -if test_student.test.display_test_type
                        %i
                          =test_student.test.display_test_type

            -if student.done_tests
              .panel.panel-default
                .panel-heading
                  Tests passés

                %ul.list-group
                  -for test_student in student.done_tests
                    %li.list-group-item
                      -if test_student.finished_at
                        %span.badge
                          =test_student.finished_at|date:"d/m/Y"
                      -else
                        %span.badge.badge-warning
                          manqué
                      %i.fa.fa-desktop.right-space{aria-hidden: "true"}
                      %a{href: "{% url 'professor:lesson_student_test' lesson.pk student.pk test_student.pk %}"}
                        =test_student.test.name
                      -if test_student.test.display_test_type
                        %i
                          =test_student.test.display_test_type

          -else
            %p L'élève n'a pas encore de tests à passer ni de tests passés.

        #recommendedSkills.tab-pane
          -if student.has_recommended_skills
            %table.table
              -for stage in lesson.stages_in_unchronological_order
                -get_students_skills of student at stage rename "student_skills"
                -for student_skill in student_skills
                  -if student_skill.recommended_to_learn
                    %tr
                      %td.center
                        %a.right-space{type: "button", style: "border: black solid; width: 120px", href: '{% url "professor:skill_detail" student_skill.skill.code %}', class: "btn btn-warning"}
                          =student_skill.skill.code
                      %td
                        %a{href: '{% url "professor:skill_detail" student_skill.skill.code %}'}
                          {{ student_skill.skill.name }}
          -else
            %p L'élève n'a pas encore de compétences recommandées.

        #heatmap.tab-pane
          #accordion.panel-group{role: "tablist", aria-multiselectable: "true"}
            -for stage in lesson.stages_in_unchronological_order
              .panel.panel-default
                .panel-heading{role: "tab", id: "heading{{ stage.name|slugify }}"}
                  %h4.panel-title
                    %a{role: "button", data-toggle: "collapse", data-parent: "#accordion", href: "#collapse{{ stage.name|slugify }}", aria-expanded: "{% if forloop.counter == 1 %}true{% else %}false{% endif %}", aria-controls: "collapse{{ stage.name|slugify }}"}
                      Niveau {{ stage.name }}

                -regroup stage.skills_by_id by section as sections

                .panel-collapse.collapse{id: "collapse{{ stage.name|slugify }}", role: "tabpanel", aria-labelledby: "heading{{ stage.name|slugify }}", class: "{% if forloop.counter == 1 %}in{% endif %}"}
                  .panel-body
                    -for section in sections
                      %h5= section.grouper

                      %ul.heatmap-list
                        -get_students_skills of student at stage rename "student_skills"
                        -for student_skill in student_skills
                          -if student_skill.skill.section == section.grouper
                            %li
                              %a.btn.skill{type: "button", data-toggle: "popover", data-container: "body", data-placement: "bottom", tabindex: "0", data-trigger: "focus", title: "", data-content: '', style:'{% if student_skill.recommended_to_learn %}; border: black solid;{% endif %}', class: "btn btn-{% if student_skill.acquired %}success{% elif student_skill.tested %}warning{% else %}default{% endif %} skill"}
                                %abbr{title: "{{ student_skill.skill.name }}", style: "cursor: default; border: none"}= student_skill.skill.code
                              =student_skill.skill.name
                              %div{style: "display: none"}
                                %center
                                  %p
                                    %a{href: "{% url 'professor:skill_detail' student_skill.skill.code %}"} Détails de la compétence
                                  %p
                                    %form{action: "{% url 'professor:validate_student_skill' lesson.pk student_skill.id %}", method: "post"}
                                      -csrf_token
                                      %input.btn.btn-success{type: "submit", value: "Marquer comme acquise"}
                                  %p
                                    %form{action: "{% url 'professor:unvalidate_student_skill' lesson.pk student_skill.id %}", method: "post"}
                                      -csrf_token
                                      %input.btn.btn-warning{type: "submit", value: "Marquer comme non acquise"}
                                  %p
                                    %form{action: "{% url 'professor:default_student_skill' lesson.pk student_skill.id %}", method: "post"}
                                      -csrf_token
                                      %input.btn.btn-default{type: "submit", value: "Marquer comme non testée"}


  :javascript
    $(function() {
      if (document.location.hash) {
          hash = document.location.hash;
          document.location.hash = '';
          console.log(hash);
          $('.nav-tabs a[href="' + hash + '"]').tab('show');
      }
    })
