%html
-load static
  %head
    %title

  %link{href: "{% static 'css/print_students_password_page.css' %}", rel: "stylesheet", media: "print"}
  %link{href: "{% static 'css/print_students_password_page.css' %}", rel: "stylesheet"}

  %body
    %table
      -for student in students
        %tr
          %td{class: "{% if forloop.last %}last{% endif %}"}
            =student.last_name|capfirst
            =student.first_name|capfirst
          %td{class: "{% if forloop.last %}last{% endif %}"}
            identifiant :
            =student.username
          %td{class: "{% if forloop.last %}last{% endif %}"}
            code :
            =student.password
