-extends "base.haml"
-load static

-block head
  %script{type: "text/javascript", src: "{% static 'js/professor_student.js' %}"}

-block content
  %ol.breadcrumb
    -with lesson=student.lesson_set.first
      %li
        %a{href: "{% url 'professor:dashboard' %}"} Oscar
      %li= lesson.stage.name
      %li
        %a{href: "{% url 'professor:lesson_detail' lesson.id %}"}
          Classe
          =lesson.name
    %li
      %a{href: "{% url 'professor:student_detail' student.pk %}"}
        Élève
        =student.user.first_name
        =student.user.last_name
    %li.active
      modification

  %h1
    =student.user.first_name|title
    =student.user.last_name|title

  %hr

  %div{ng-app: "oscar"}
    %ul
      %li Nom d'utilisateur:
        =student.user.username
      %li Courriel:
        =student.get_email

    %h2 Authentification de l'élève

    %div{ng-controller: "regeneratePasswordController", ng-init: "studentId={{ student.id }}"}
      %form{ng-submit: "askForNewPassword()"}
        %p{ng-hide: "!password"}
          Générer un nouveau mot de passe pour cet élève:
          %span.label.label-default
            {& password &}

        %input.btn.btn-primary{type: "submit", value: "Générer un nouveau mot de passe pour cet élève"}
