-extends "base.haml"

-load bootstrap3

-block content
  %h1 Tableau de bord

  %h2 Mes classes

  %ul
    -for lesson in lessons
      %li
        %a{href: "{% url 'professor_lesson_detail_view' lesson.pk %}"}
          =lesson.name
          -if lesson.students__count
            \-
            =lesson.students__count
            élève{{ lesson.students__count|pluralize }}

  %h2 Ajouter une classe :

  %form.form{action: "", method: "post"}
    -csrf_token
    -bootstrap_form add_lesson_form
    {% buttons %}
      %button.btn.btn-primary{type: "submit"}
        Ajouter
    {% endbuttons %}

  %h2 Autres liens

  %ul
    %li
      %a{href: "{% url 'professor_exercice_list' %}"}
        Voir tous les exercices disponibles
