-extends "base.haml"

-load bootstrap3

-block head
  %script{type: "text/javascript", src: "{{ STATIC_URL }}js/professor_lesson.js"}

  :javascript
    context = {
      lessonId: {{ lesson.id }}
    };

-block content
  %h2 Classe :
    =lesson.name

  .row
    .col-md-6
      %div{ng-app: "oscar", ng-controller: "createTestController"}
        %h3 Tests :

        %ul
          %li{ng-repeat: "test in tests"}
            {& test.name &}
            %span.label.label-info{ng-repeat: "skill in test.skills", style: "margin-right: 3px"}
              {& skill.code &}
          %p{ng-if: "tests.length == 0"}
            %i
              Vous n'avez pas encore de tests pour cette classe.

        .panel.panel-default
          .panel-heading
            Ajouter un test

          .panel-body
            %form.form
              .form-group
                %label.control-label Compétences dont le test testera les prérequis :
                %span.label.label-info{ng-repeat: "skill in toTestSkills", style: "margin-right: 3px"}
                  {& skill &}

              .form-group
                %select.form-control{ng-model: "currentlySelectedSkill"}
                  %option{ng-repeat: "skill in skills", value: "{& skill.code &}"}
                    {& skill.code &} - {& skill.name &}

              .form-group
                %button.btn.btn-primary{ng-click: "addSkillToTest()"}
                  Ajouter cette compétence

              .form-group
                %label.control-label{for: "test_name"} Nom du test
                %input#test_name.form-control{type: "text", ng-model: "name"}

              .form-group
                %button.btn.btn-primary{type: "submit", ng-click: "addNewTest()"}
                  Créer le test

    .col-md-6
      %h3 Élèves :

      %ul
        -for student in lesson.students.all
          %li
            %a{href: "{% url 'professor_student_detail_view' student.pk %}"}= student
        -empty
          %p
            %i
              Vous n'avez pas encore d'élèves dans cette classe.

      .panel.panel-default
        .panel-heading
          Ajouter un élève

        .panel-body
          %form.form{action: "", method: "post"}
            -csrf_token

            .row
              .col-md-6
                .form-group{class: "{% if add_student_form.id_last_name.errors %}has-error{% elif add_student_form.data and add_student_form.id_last_name %}has-success{% endif %}"}
                  %label.control-label{for: "id_last_name"}
                    Nom
                  %input#id_last_name.form-control{type: "text", required: "", placeholder: "Nom", name: "last_name"}
                  -for error in add_student_form.id_last_name.errors
                    %span.help-block= error

              .col-md-6
                .form-group{class: "{% if add_student_form.id_first_name.errors %}has-error{% elif add_student_form.data and add_student_form.id_first_name %}has-success{% endif %}"}
                  %label.control-label{for: "id_first_name"}
                    Prénom
                  %input#id_first_name.form-control{type: "text", required: "", placeholder: "Prénom", name: "first_name"}
                  -for error in add_student_form.id_first_name.errors
                    %span.help-block= error

            .form-group{class: "{% if add_student_form.id_email.errors %}has-error{% elif add_student_form.data and add_student_form.id_email %}has-success{% endif %}"}
              %label.control-label{for: "id_email"}
                Courriel (optionnel)
              %input#id_email.form-control{type: "text", placeholder: "Courriel", name: "email"}

              -for error in add_student_form.id_email.errors
                %span.help-block= error

            {% buttons %}
              %button.btn.btn-primary{type: "submit"}
                Ajouter
            {% endbuttons %}


      %h3 Autre :

      %ul
        %li
          %form{method: "POST", action: "{% url 'professor_students_password_page' lesson.pk %}"}
            -csrf_token
            %p
              Générer une page à imprimer avec les informations de connections pour tous les élèves.
            %p
              %b
                Attention, cela modifiera le mot de passe de TOUS les élèves.
            %input.btn.btn-danger{type: "submit", value: "Générer"}
