-extends "base.haml"

-load bootstrap3

-block head
  %script{type: "text/javascript", src: "{{ STATIC_URL }}js/professor_lesson.js"}

  :javascript
    context = {
      lessonId: {{ lesson.id }}
    };

-block content
  %h1 Cours:
    =lesson.name

  %div{ng-app: "oscar", ng-controller: "createTestController"}
    %h2 Tests:

    %ul
      %li{ng-repeat: "test in tests"}
        {& test.name &}

    %h2 Ajouter un test:

    %form.form
      %h3 Compétences dont le test testera les dépendances:
      .form-group
        %select.form-control{ng-model: "currentlySelectedSkill"}
          %option{ng-repeat: "skill in skills", value: "{& skill.code &}"}
            {& skill.code &} - {& skill.name &}

      .form-group
        %button.btn.btn-primary{ng-click: "addSkillToTest()"}
          Ajouter cette compétence

      .form-group
        %label.control-label{for: "test_name"} Nom du test
        %input#test_name.form-control{type: "text", ng-model: "name"}

      .form-group
        %button.btn.btn-primary{type: "submit", ng-click: "addNewTest()"}
          Créer le test

  %h2 Élèves:

  %ul
    -for student in lesson.students.all
      %li
        %a{href: "{% url 'professor_student_detail_view' student.pk %}"}= student

  %h2 Ajouter un élève:

  %form.form{action: "", method: "post"}
    -csrf_token
    -bootstrap_form add_student_form
    {% buttons %}
      %button.btn.btn-primary{type: "submit"}
        Ajouter
    {% endbuttons %}
