-extends "base.haml"

-load bootstrap3

-block content
  %h1 Cours:
    =lesson.name

  %h2 Élèves:

  %ul
    -for student in lesson.students.all
      %li
        %a{href: "{% url 'professor_student_detail_view' student.pk %}"}= student

  %h2 Ajouter un élève:

  %form.form{action: "", method: "post"}
    -csrf_token
    -bootstrap_form add_student_form
    {% buttons %}
      %button.btn.btn-primary{type: "submit"}
        Ajouter
    {% endbuttons %}
