-extends "base.haml"

-load bootstrap3

-block head
  %script{type: "text/javascript", src: "{{ STATIC_URL }}js/professor_lesson.js"}

  :javascript
    context = {
      lessonId: {{ lesson.id }}
    };

-block content
  %h2 Classe :
    =lesson.name

  .row
    .col-md-6
      %div{ng-app: "oscar", ng-controller: "createTestController"}
        %h3 Tests :

        %ul{ng-if: "tests.length != 0"}
          %li{ng-repeat: "test in tests"}
            %a{href: "/professor/test/{& test.id &}/"}
              {& test.name &}
            %i
              {& test.type &}
            %span.label.label-info{ng-repeat: "skill in test.skills", style: "margin-right: 3px; display: inline-block;"}
              {& skill.code &}
        %p{ng-if: "tests.length == 0"}
          %i
            Vous n'avez pas encore de test pour cette classe.

        .panel.panel-default
          .panel-heading
            Ajouter un test

          .panel-body
            %form.form
              .form-group
                %label.control-label Ce test portera sur :
                .radio
                  %label
                    %input{ng-model: "testType", type: "radio", value: "skills"} les compétences sélectionnées
                .radio
                  %label
                    %input{ng-model: "testType", type: "radio", value: "dependencies"} les prérequis des compétences sélectionnées
                .radio
                  %label
                    %input{ng-model: "testType", type: "radio", value: "skills-dependencies"} les compétences sélectionnées et leurs prérequis

              .form-group
              -if lesson.stage.level < 4
                %label.control-label Socle de compétences :
                %span.label.label-info{ng-repeat: "skill in toTestSkills", style: "margin-right: 3px"}
                  {& skill &}

                .form-group
                  %select.form-control{ng-model: "currentlySelectedSkill1"}
                    -regroup skills by stage as stage_skills
                    -for stage in stage_skills
                      %optgroup{label: "{{ stage.grouper }}"}
                        -for skill in stage.list
                          %option{value: "{{ skill.code }}"}
                            {{ skill.code }} - {{ skill.name }}

                .form-group
                  %button.btn.btn-primary{ng-click: "addSkillToTest(1)"}
                    Ajouter cette compétence


              -else
                .row
                  .col-md-6
                    %label.control-label Socle de compétences :
                    .form-group
                      %select.form-control{ng-model: "currentlySelectedSkill1"}
                        -regroup skills by stage as stage_skills
                        -for stage in stage_skills
                          -if stage.grouper.level < 4
                            %optgroup{label: "{{ stage.grouper }}"}
                              -for skill in stage.list
                                %option{value: "{{ skill.code }}"}
                                  {{ skill.code }} - {{ skill.name }}

                    .form-group
                      %button.btn.btn-primary{ng-click: "addSkillToTest(1)"}
                        Ajouter cette compétence

                  .col-md-6
                    %label.control-label Compétences ultérieures :

                    .form-group
                      %select.form-control{ng-model: "currentlySelectedSkill2"}
                        -regroup skills by stage as stage_skills
                        -for stage in stage_skills
                          -if stage.grouper.level >= 4
                            %optgroup{label: "{{ stage.grouper }}"}
                              -for skill in stage.list
                                %option{value: "{{ skill.code }}"}
                                  {{ skill.code }} - {{ skill.name }}

                    .form-group
                      %button.btn.btn-primary{ng-click: "addSkillToTest(2)"}
                        Ajouter cette compétence

                %p
                  %span.label.label-info{ng-repeat: "skill in toTestSkills", style: "margin-right: 3px"}
                    {& skill &}


              .form-group
                %label.control-label{for: "test_name"} Nom du test
                %input#test_name.form-control{type: "text", ng-model: "name"}

              .form-group
                %button.btn.btn-primary{type: "submit", ng-click: "addNewTest()"}
                  Créer le test

    .col-md-6
      %h3 Élèves :

      %ul
        -for student in lesson.students.all
          %li
            %a{href: "{% url 'professor_student_detail_view' student.pk %}"}= student
        -empty
          %p
            %i
              Vous n'avez pas encore d'élèves dans cette classe.

      .panel.panel-default
        .panel-heading
          Ajouter un élève

        .panel-body
          %form.form{action: "", method: "post"}
            -csrf_token

            .row
              .col-md-6
                .form-group{class: "{% if add_student_form.id_last_name.errors %}has-error{% elif add_student_form.data and add_student_form.id_last_name %}has-success{% endif %}"}
                  %label.control-label{for: "id_last_name"}
                    Nom
                  %input#id_last_name.form-control{type: "text", required: "", placeholder: "Nom de famille", name: "last_name"}
                  -for error in add_student_form.id_last_name.errors
                    %span.help-block= error

              .col-md-6
                .form-group{class: "{% if add_student_form.id_first_name.errors %}has-error{% elif add_student_form.data and add_student_form.id_first_name %}has-success{% endif %}"}
                  %label.control-label{for: "id_first_name"}
                    Prénom
                  %input#id_first_name.form-control{type: "text", required: "", placeholder: "Prénom", name: "first_name"}
                  -for error in add_student_form.id_first_name.errors
                    %span.help-block= error

            .form-group{class: "{% if add_student_form.id_email.errors %}has-error{% elif add_student_form.data and add_student_form.id_email %}has-success{% endif %}"}
              %label.control-label{for: "id_email"}
                Courriel (optionnel)
              %input#id_email.form-control{type: "text", placeholder: "Courriel", name: "email"}

              -for error in add_student_form.id_email.errors
                %span.help-block= error

            {% buttons %}
              %button.btn.btn-primary{type: "submit"}
                Ajouter
            {% endbuttons %}


      %h3 Autre :

      %ul
        %li
          %form{method: "POST", action: "{% url 'professor_students_password_page' lesson.pk %}"}
            -csrf_token
            %p
              Générer une page à imprimer avec les informations de connexion pour tous les élèves.
            %p
              %b
                Attention! Cela modifiera le mot de passe de TOUS les élèves.
            %input.btn.btn-danger{type: "submit", value: "Générer"}
