-extends "base.haml"

-block javascript
  %script{src: "{{ STATIC_URL }}js/mermaid.full.js"}

-block content
  %h1
    =skill.code
    \-
    =skill.name
  %hr

  %p
    %b Niveau:
    =skill.level

  %p
    %b Étape:
    =skill.stage

  %p
    %b Rubrique:
    =skill.section

  %p
    =skill.description

  %h2 Liens de dépendances:

  -if skill.depends_on.all
    %ul
      -for dependance in skill.depends_on.all
        %li
          %a{href: "{% url 'professor_skill_detail_view' dependance.code %}"}
            {{ dependance.code }}: {{ dependance.name }}
  -else
    %p
      Cette compétence n'a pas de prérequis.

  %h2 Est un prérequis de:

  -if skill.skill_set.all
    %ul
      -for dependance in skill.skill_set.all
        %li
          %a{href: "{% url 'professor_skill_detail_view' dependance.code %}"}
            {{ dependance.code }}: {{ dependance.name }}
  -else
    %p
      Cette compétence n'est un prérequis pour aucune autre compétence.

  -if skill.skill_set.exists or skill.depends_on.exists
    .mermaid
      graph BT;
        -for i in skill.mermaid_graph
          =i
