-extends "base.haml"

-block javascript
  %script{src: "{{ STATIC_URL }}js/mermaid.full.js"}

-block content
  %h1
    =skill.code
    \-
    =skill.name
  %hr

  .row
    .col-md-9
      %p
        %b Niveau:
        =skill.level

      %p
        %b Étape:
        =skill.stage

      %p
        %b Rubrique:
        =skill.section

      %p
        =skill.description

      %h2 Compétence(s) prérequise(s):

      -if skill.depends_on.all
        %ul
          -for dependance in skill.depends_on.all
            %li
              %a{href: "{% url 'professor_skill_detail_view' dependance.code %}"}
                {{ dependance.code }}: {{ dependance.name }}
      -else
        %p
          Cette compétence n'a pas de prérequis.

      %h2 Compétence(s) dépendante(s):

      -if skill.skill_set.all
        %ul
          -for dependance in skill.skill_set.all
            %li
              %a{href: "{% url 'professor_skill_detail_view' dependance.code %}"}
                {{ dependance.code }}: {{ dependance.name }}
      -else
        %p
          Aucune compétence ne dépend de celle-ci.

      %h2 Matériel éducatif

      %a.btn.btn-primary{href: "{% url 'professor_skill_edit_pedagogical_ressources' skill.code %}"}
        Voir et éditer le matériel éducatif pour cette compétence

    .col-md-3
      -if skill.skill_set.exists or skill.depends_on.exists
        .mermaid
          graph BT;
            -for i in skill.mermaid_graph
              =i
