-extends "base.haml"

-block content
  %h1
    =skill.code
    \-
    =skill.name
  %hr

  %p
    %b Niveau:
    =skill.level

  %p
    %b Étape:
    =skill.stage

  %p
    %b Rubrique:
    =skill.section

  %p
    =skill.description
