-extends "base.haml"

-block head
  %script{type: "text/javascript", src: "{{ STATIC_URL }}js/professor_student.js"}

-block javascript
  :javascript
    $(function () {
      $('[data-toggle="popover"]').popover({
        html: true
      })
    })


-block content
  %div{ng-app: "oscar"}
    %h1
      =student.user.first_name|title
      =student.user.last_name|title

    %hr

    %ul
      %li Nom d'utilisateur:
        =student.user.username
      %li Email:
        =student.get_email

    %h2 authentification de l'élève

    %div{ng-controller: "regeneratePasswordController", ng-init: "studentId={{ student.id }}"}
      %form{ng-submit: "askForNewPassword()"}
        %p{ng-hide: "!password"}
          Nouveau mot de passe:
          %span.label.label-default
            {& password &}

        %input.btn.btn-primary{type: "submit", value: "Regenerer un nouveau mot de passe pour cet élève"}

    %h2 Suit les cours suivants:

    %ul
      -for lesson in student.lesson_set.all
        %li
          %a{href: "{% url 'professor_lesson_detail_view' lesson.pk %}"}= lesson.name

    %h2 Empreinte:

    -regroup skills by skill.level as levels

    -for level in levels
      %h5
        Niveau {{ level.grouper }}

      %table
        -for student_skill in level.list
          -if forloop.first
            <tr>
          -elif forloop.counter0|divisibleby:12
            </tr><tr>
          %td{style: "border: solid #D3D3D3 1px; width: 100px; padding: 10px"}
            %a{type: "button", data-toggle: "popover", data-container: "body", data-placement: "bottom", tabindex: "0", data-trigger: "focus", title: "Modification de la compétence", data-content: '<center><a href="{% url "professor_skill_detail_view" student_skill.skill.code %}">Détails de la compétence</a><br><br><button class="btn btn-success">Marquer comme acquise</button><br><br><button class="btn btn-warning">Marquer comme non-acquise</button><br><br><button class="btn btn-default">Marquer comme inconnu</button></center>'}
              =student_skill.skill.code

          -if forloop.last
            </tr>
