%html
  %head
    %title

  :css
    body {
      margin: 20px;
    }
    table {
      width: 100%;
    }
    td {
      border-bottom: dashed 3px black;
      padding: 20px;
      width: 33%
    }
    td.last {
      border-bottom: none;
    }

  %body
    %table
      -for student in students
        %tr
          %td{class: "{% if forloop.last %}last{% endif %}"}
            =student.last_name|capfirst
            =student.first_name|capfirst
          %td{class: "{% if forloop.last %}last{% endif %}"}
            identifiant :
            =student.username
          %td{class: "{% if forloop.last %}last{% endif %}"}
            mot de passe :
            =student.password
