-extends "base.haml"

-block content
  %h2 Test '{{ object.name }}' pour la classe {{ object.lesson.name }}
  %hr

  %h3 Compéténces dont on test les pre-requis :
  %ul
    -for skill in object.skills.all
      %li
        =skill.code
        \-
        =skill.name

  %h3 Élèves inscrit à ce test :
  %ul
    -for test_student in object.teststudent_set.all
      %li= test_student.student
        %span.label{class: "label-{% if test_student.get_state == 'fini' %}success{% elif test_student.get_state == 'started' %}warning{% else %}danger{% endif %}"}= test_student.get_state
