-extends "base.haml"

-block content
  %h2 Test '{{ object.name }}' pour la classe {{ object.lesson.name }}
    %small= object.display_test_type
  %hr

  %h3 Compétences dont on teste les prérequis :
  %ul
    -for skill in object.skills.all
      %li
        %a{href: "{% url 'professor_skill_detail_view' skill.code %}"}
          =skill.code
          \-
          =skill.name

  %h3 Élèves inscrits à ce test :
  %ul
    -for test_student in object.teststudent_set.all
      %li
        %a{href: "{% url 'professor_student_detail_view' test_student.student.pk %}"}
          =test_student.student
        %span.label{class: "label-{% if test_student.get_state == 'fini' %}success{% elif test_student.get_state == 'started' %}warning{% else %}danger{% endif %}"}= test_student.get_state

  %h3 Compétences testées avec l'exercice sélectionné :

  %ul
    -for test_exercice in object.testexercice_set.all
      %li Compétence <a href="{% url 'professor_skill_detail_view' test_exercice.skill.code %}">{{ test_exercice.skill.code }}</a> testée par
        -if test_exercice.exercice
          l'exercice numéro <a href="{% url 'professor_exercice_detail' test_exercice.exercice.pk %}">{{ test_exercice.exercice.pk }}</a>
        -else
          %b
            aucun exercice disponible pour l'instant
