-extends "bootstrap3/bootstrap3.html"
-load static

-block bootstrap3_title
  Oscar

-block bootstrap3_extra_head
  %script{type: "text/javascript", src: "{% static 'js/angular.js' %}"}
  %script{type: "text/javascript", src: "{% static 'js/angular-cookies.js' %}"}
  %script{type: "text/javascript", async: None, src: "//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"}


  %link{href: "{% static 'css/style.css' %}", rel: "stylesheet"}
  %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel: "stylesheet"}

  %link{rel: "icon", type: "image/png", href: "{% static 'img/favicon.png' %}"}

  :css
    body {
        padding-top: 51px; /*for navbar*/
    }

  -block head


-block bootstrap3_content
  .navbar.navbar-inverse.navbar-fixed-top.navbar-bold{data-spy: "affix", data-offset-top: "1000"}
    .navbar-inner
      .container
        .navbar-header
          %button.hidden-md.hidden-lg{type: "button", class: "navbar-toggle collapsed", data-toggle: "collapse", data-target: "#toCollapse"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.navbar-brand{href: "/"}
            <span style="color: #F58025">O</span>scar
        %ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
          %li
            %a{href: "{% url 'logout' %}"}
              Déconnexion
        #toCollapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.hidden-md.hidden-lg
            %li
              %a{href: "{% url 'logout' %}"}
                Déconnexion


  .container
    -block content

-block bootstrap3_extra_script
  %script{type: "text/javascript", src: "{% static 'js/base.js' %}"}
  -block javascript
