-extends "bootstrap3/bootstrap3.html"
-load static

-block bootstrap3_title
  Oscar

-block bootstrap3_extra_head
  %script{type: "text/javascript", src: "{% static 'js/jquery.min.js' %}"}
  %script{type: "text/javascript", src: "{% static 'js/angular.js' %}"}
  %script{type: "text/javascript", src: "{% static 'js/angular-cookies.js' %}"}


  %link{href: "{% static 'css/keyboard.css' %}", rel: "stylesheet"}
  %link{href: "{% static 'css/mathquill.css' %}", rel: "stylesheet"}
  %link{href: "{% static 'css/jquery-ui.css' %}", rel: "stylesheet"}
  %link{href: "{% static 'css/mathquill.css' %}", rel: "stylesheet"}
  %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel: "stylesheet"}
  %link{href: "https://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css", rel: "stylesheet", type: "text/css"}
  %link{rel: "stylesheet", type: "text/css", href: "//fonts.googleapis.com/css?family=Open+Sans"}

  %link{rel: "icon", type: "image/png", href: "{% static 'img/favicon.png' %}"}
  %link{href: "{% static 'css/style.css' %}", rel: "stylesheet"}

  -block head


-block bootstrap3_content
  %div{class: "fond {% if user.student %}fond-student{% endif %}"}
    .navbar.navbar-inverse.navbar-fixed-top.navbar-bold{data-spy: "affix", data-offset-top: "1000"}
      .navbar-inner
        .container
          .navbar-header
            %button.hidden-md.hidden-lg{type: "button", class: "navbar-toggle collapsed", data-toggle: "collapse", data-target: "#toCollapse"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand.navbar-brand{href: "/"}
              <span style="color: #F58025">O</span>scar
            -if user.professor
              .nav-global-shortcuts
                %a.global-shortcut.home{href: "{% url 'professor:dashboard' %}"}
                  %img{src: "{% static 'img/icons/Home.png' %}"}
                %a.global-shortcut{href: "https://framateam.org/oscarpilote/"}
                  %img{src: "{% static 'img/icons/forum-white.png' %}"}
                %a.global-shortcut{href: "{% url 'professor:skill_list' %}"}
                  %img{src: "{% static 'img/icons/ressource-white.png' %}"}
          %ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
            %li
              %a.icon.logout{href: "{% url 'logout' %}"}
                -#%img{src: "{% static 'img/icons/logout.png' %}"}
          #toCollapse.collapse.navbar-collapse
            %ul.nav.navbar-nav.hidden-md.hidden-lg
              %li
                %a.icon.logout{href: "{% url 'logout' %}"}
                  -# %img{src: "{% static 'img/icons/logout.png' %}"}

    -block breadcrumb

    .container.centralcontainer
      -block content

    .container.centralcontainer-student
      -block content-student

    #footer
      .copyright
        Vous souhaitez contribuer à l’amélioration d’Oscar ?
        %br
        Contactez-nous sur support@oscar.education

-block bootstrap3_extra_script
  %script{type: "text/javascript", src: "{% static 'js/base.js' %}"}
  %script{type: "text/javascript", src: "{% static 'js/jquery.keyboard.js' %}"}
  %script{type: "text/javascript", src: "{% static 'js/jquery.mousewheel.js' %}"}
  %script{type: "text/javascript", src: "{% static 'js/jquery.keyboard.extension-typing.js' %}"}
  %script{type: "text/javascript", src: "{% static 'js/mathquill.js' %}"}
  %script{type: "text/javascript", async: None, src: "//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"}
  %script{type: "text/javascript", src: "{% static 'js/math_keyboard.js' %}"}
  %script{type: "text/javascript", src: "https://jsxgraph.uni-bayreuth.de/distrib/jsxgraphcore.js"}
  %script{type: "text/javascript", src: "{% static 'js/graph_base_functions.js' %}"}

  -block javascript
