-extends "base.haml"

-block content
  %h2 Ajouter un nouveau test
  %hr

  .row
    .col-md-4.col-md-offset-2
      .panel.panel-default
        .panel-heading
          Test en ligne

        .panel-body
          %p
            Le test en ligne est un test qui se déroulera entièrement dans
            l'interface web d'Oscar, aussi bien sa création que les réponses des
            élèves.

          %br

          .center
            %a.btn.btn-primary.center{href: "{% url 'professor:lesson_test_online_add' lesson.pk %}"}
              Ajouter un test en ligne

    .col-md-4
      .panel.panel-default
        .panel-heading
          Évaluation libre

        .panel-body
          %p{style: "height: 60px"}
            L'évaluation sert à mettre en ligne le résultat d'un test qui aura
            été effectué préalablement en classe.

          %br

          .center
            %a.btn.btn-primary{href: "{% url 'professor:lesson_test_from_class_add' lesson.pk %}"}
              Ajouter une évaluation libre
