-extends "base.haml"
-load static

-block head
  %script{type: "text/javascript", src: "{% static 'js/professor_lesson.js' %}"}

  :javascript
    context = {
      lessonId: {{ lesson.id }}
    };

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li= lesson.stage.name
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Ajouter un test

  %div#alerts

  %div{ng-app: "oscar", ng-controller: "createTestController"}
    .panel.panel-default
      .panel-heading
        Ajouter un test

      .panel-body
        %form.form
          .row
            .col-md-6
              .form-group
                %label.control-label Ce test portera sur :
                .radio
                  %label
                    %input{ng-model: "testType", type: "radio", value: "skills"} les compétences sélectionnées
                .radio
                  %label
                    %input{ng-model: "testType", type: "radio", value: "dependencies"} les prérequis des compétences sélectionnées
                .radio
                  %label
                    %input{ng-model: "testType", type: "radio", value: "skills-dependencies"} les compétences sélectionnées et leurs prérequis

            .col-md-6
              .form-group
                %label.control-label Socle de compétences :
                .form-group
                  %select.form-control{ng-model: "currentlySelectedSkill1"}
                    -for stage in stages
                      %optgroup{label: "{{ stage.name }}"}
                        -for skill in stage.skills.all
                          %option{value: "{{ skill.code }}"}
                            {{ skill.code }} - {{ skill.name }}

                .form-group
                  %button.btn.btn-primary{ng-click: "addSkillToTest(1)"}
                    Ajouter cette compétence

          %p
            %span.label.label-info{ng-repeat: "skill in toTestSkills", style: "margin-right: 3px", title: "{& skill.name &}" }
              {& skill &}


          .form-group
            %label.control-label{for: "test_name"} Nom du test
            %input#test_name.form-control{type: "text", ng-model: "name"}

          .form-group
            %button.btn.btn-primary{type: "submit", ng-click: "addNewTest()"}
              Créer le test
