-extends "base.haml"

-block content
  .row.choose-test
    .col-md-5.col-md-offset-1
      .panel.panel-default
        .panel-heading
          Test en ligne

        .panel-body
          %p
            Le test en ligne est un test qui se déroulera dans l'interface web
            d'Oscar, aussi bien sa création que les réponses des élèves.

          %p
            %i
              Les compétences qui ne sont pas testables en ligne seront testées
              sur papier (questions à imprimer)

          %br

          .center
            %a.btn.btn-primary.center{href: "{% url 'professor:lesson_test_online_add' lesson.pk %}"}
              Ajouter un test en ligne

    .col-md-5
      .panel.panel-default
        .panel-heading
          Encoder un test fait hors ligne

        .panel-body
          %p{style: "height: 111px"}
            L'évaluation libre sert à mettre en ligne le résultat d'un test qui aura
            été effectué préalablement en classe.

          %br

          .center
            %a.btn.btn-primary{href: "{% url 'professor:lesson_test_from_class_add' lesson.pk %}"}
              Ajouter une évaluation libre
