-extends "base.haml"
-load static
-load bootstrap3
-load compress

-block head
  -compress js
    %script{type: "text/javascript", src: "{% static 'js/professor_student.js' %}"}

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li
      -if test.test
        %a{href: "{% url 'professor:lesson_test_online_detail' lesson.pk test.pk %}"}
          Test
          =test.name
      -else
        %a{href: "{% url 'professor:lesson_test_from_class_detail' lesson.pk test.pk %}"}
          Évaluation libre
          =test.name
    %li.active
      supprimer
      -if test.test
        le test
      -else
        l'évaluation libre

-block content
    .center
      %form.form{method: "POST", action: ""}
        -csrf_token
        %p
          %button.btn.btn-danger.btn-lg{type: "submit"}
            -if test.test
              Supprimer le test
            -else
              Supprimer l'évaluation libre
            %i
              =test.name

      %p
        -if test.test
          %a.btn.btn-lg.btn-default{href: "{% url 'professor:lesson_test_online_detail' lesson.pk test.pk %}"}
            Annuler
        -else
          %a.btn.btn-lg.btn-default{href: "{% url 'professor:lesson_test_from_class_detail' lesson.pk test.pk %}"}
            Annuler
