-extends "base.haml"

-block content
  %ol.breadcrumb
    %li= object.lesson.stage.name
    %li
      %a{href: "{% url 'professor:lesson_detail' object.lesson.id %}"}
        Classe
        =object.lesson.name
    %li.active
      Test
      =object.name

  %h2 Test {{ object.name }} de <i style="color: grey">{{ object.display_test_type }}</i> pour la classe <a href="{% url 'professor:lesson_detail' object.lesson.pk %}">{{ object.lesson.name }}</a>
    .pull-right
      %td.center{width: "20px"}
        %a.btn.btn-default
          Clôturer
      %td.center{width: "20px"}
        %a.btn.btn-default{href: "{% url 'professor:lesson_test_update' lesson.pk test.pk %}"}
          modifier
      %td.center{width: "20px"}
        %a.btn.btn-danger{href: "{% url 'professor:lesson_test_delete' lesson.pk test.pk %}"}
          Effacer

  %hr

  %h3 Compétences sélectionnées
  %ul.heatmap-list
    -for skill in object.skills.all
      %li
        %a.btn.btn-default.skill{type: "button", href: "{% url 'professor:lesson_skill_detail' object.lesson.pk skill.code %}"}
          %abbr{title: "{{ skill.name }}", style: "cursor: default; border: none"}= skill.code

        =skill.name

  -if object.prerequisistes
    %h3 Compétences prérequises
    %ul.heatmap-list
      -for skill in object.prerequisistes
        %li
          %a.btn.btn-default.skill{type: "button", href: "{% url 'professor:lesson_skill_detail' object.lesson.pk skill.code %}"}
            %abbr{title: "{{ skill.name }}", style: "cursor: default; border: none"}= skill.code

          =skill.name

  %h3 Réponse des élèves

  %table.table.table-bordered
    %thead
      %th{width: "20%"}
        Élève / Compétences
      -for i in object.testexercice_set.all
        %th
          =i.skill.code
    -for test_student in object.teststudent_set.all
      %tr
        %td
          %a{href: "{% url 'professor:lesson_student_test' lesson.pk test_student.student.pk test_student.pk %}"}
            =test_student.student
        -for answer in test_student.answer_set.all
          %td{class: "{% if answer.correct %}success{% else %}danger{% endif %}"}
