-extends "base.haml"
-load static

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Liste des tests

-block content
  %h3 {{ lesson.name }}
  %hr

  %ul.menu-tabs.nav.orange.nav-tabs
    %li{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Mes élèves
    %li.active{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_test_list' lesson.pk %}"}
        Mes Tests
    %li{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_detail' lesson.pk %}#heatmap"}
        Vue globale de la classe

  .ligneorange

  .container-fluid.boxclassetitle
    .pull-right
      %a{href: "{% url 'professor:lesson_test_add' lesson.pk %}"}
        %img.icon{src: "{% static 'img/icons/add.png' %}", data-toggle: "tooltip", data-placement: "top", title: "ajouter un test"}


  .ligneorangefine

  .boxclasse.container-fluid
    %b
      %u
        Légende :
    %table
      %tr
        %td{width:"15%"}
          %span.label.label-info
            Mettre en ligne
        %td{width:"70%"}
            Le test n'est pas encore disponible pour les étudiants et est encore modifiable.
      %tr
        %td{width:"15%"}
          %span.label.label-success
            En ligne
        %td{width:"70%"}
            Le test est non modifiable et accessible aux élèves.
      %tr
        %td{width:"15%"}
          %span.label.label-danger
            Clôturé
        %td{width:"70%"}
          Le test n'est plus accessible et peut être modifié uniquement si aucun élève ne l'a commencé.

  .boxclasse.container-fluid
    -if all_tests.exists
      %table.table
        -for basetest in all_tests
          %tr
            %td{width: "30px"}
              =basetest.created_at|date:"d/m/Y"

            -if basetest.test
              %td{width: "8px"}
                %small Numérique
              %td
                %a{href: "{% url 'professor:lesson_test_online_detail' lesson.pk basetest.pk %}"}
                  =basetest.name
              %td
                -if not basetest.test.enabled
                  %form.inline{action: "{% url 'professor:lesson_test_online_enable' lesson.pk basetest.pk %}", method: "post"}
                    -csrf_token
                    %button.hidden-button{type: "submit", data-toggle: "tooltip", data-placement: "top", onclick: "return confirm(\"Attention : le test ne sera plus modifiable si un élève le commence. Mettre tout de même le test en ligne ?\")"}
                      %span.label.label-info
                        Mettre en ligne
                -elif not basetest.test.running
                  %span.label.label-danger
                    Clôturé
                -else
                  %span.label.label-success
                    En ligne

              %td.align-right
                %form.inline{action: "{% url 'professor:lesson_test_online_close_open' lesson.pk basetest.pk %}", method: "post"}
                  -csrf_token
                  %button.hidden-button{type: "submit", data-toggle: "tooltip", data-placement: "top", title: "{% if basetest.test.running %}clôturer{% else %}rendre disponible{% endif %}"}
                    -if basetest.test.running
                      %img.icon{src: "{% static 'img/icons/not-available.png' %}"}
                    -else
                      %img.icon{src: "{% static 'img/icons/accessible.png' %}"}
                %a{href: "{% url 'professor:lesson_test_update' lesson.pk basetest.pk %}"}
                  %img.icon{src: "{% static 'img/icons/modify.png' %}", data-toggle: "tooltip", data-placement: "top", title: "modifier"}
                %a{href: "{% url 'professor:lesson_test_delete' lesson.pk basetest.pk %}"}
                  %img.icon{src: "{% static 'img/icons/delete.png' %}", data-toggle: "tooltip", data-placement: "top", title: "supprimer"}

            -else
              %td{width: "8px"}
                %small Papier
              %td
                %a{href: "{% url 'professor:lesson_test_from_class_detail' lesson.pk basetest.pk %}"}
                  =basetest
              %td
                -if not basetest.testfromclass.testskillfromclass_set.exists
                  %span.label.label-warning
                    pas encore encodé

              %td.align-right
                -if not basetest.testfromclass.testskillfromclass_set.exists
                  %a{href: "{% url 'professor:lesson_test_from_class_fill' lesson.pk basetest.pk %}"}
                    %img.icon{src: "{% static 'img/icons/encode.png' %}", data-toggle: "tooltip", data-placement: "top", title: "l´encoder"}
                %a{href: "{% url 'professor:lesson_test_update' lesson.pk basetest.pk %}"}
                  %img.icon{src: "{% static 'img/icons/modify.png' %}", data-toggle: "tooltip", data-placement: "top", title: "modifier"}
                %a{href: "{% url 'professor:lesson_test_delete' lesson.pk basetest.pk %}"}
                  %img.icon{src: "{% static 'img/icons/delete.png' %}", data-toggle: "tooltip", data-placement: "top", title: "supprimer"}

    -else
      %p
        Cette classe ne comporte pas encore de tests.
        %a{href: "{% url 'professor:lesson_test_add' lesson.pk %}"}
          Ajouter un test

