-load crispy_forms_tags
-load lesson_tags
-load static
-load bootstrap3
%h5 Cours
%b Videos
%img{src: "{% static 'img/khanacademy-logo.png' %}", width: "143px"}
-if user.professor
  %button.show-form.btn.btn-primary.btn-sm{"data-target": "#khan-form"}
    Ajouter une vidéo

%a.btn.btn-xs.btn-info{href: "https://fr.khanacademy.org/math", target: "_blank"}
  Aller sur la section math

-for video in lesson_resource_khanacademy
  %center
    <iframe height="480" frameborder="0" width="100%" mozallowfullscreen="" webkitallowfullscreen="" allowfullscreen="" src="https://www.youtube.com/embed/{{ video.1.youtube_id }}?enablejsapi=1&amp;html5=1&amp;wmode=transparent&amp;modestbranding=1&amp;rel=0&amp;fs=1&amp;showinfo=0&amp;autoplay=0&amp;" data-translatedyoutubelang="fr" data-translatedyoutubeid="{{ video.youtube_id }}" data-youtubeid="{{ video.youtube_id }}" type="text/html" class="player"></iframe>
      %p
        %a{href: "https://fr.khanacademy.org/v/{{ video.1.slug }}", target: "_blank"}
          =video.1.title|default:"Vidéo KhanAcademy"

      -if user.professor
        %form.remove-form{method: "POST", action: "{% url 'professor:remove_pedagogical_ressources' type base.id 'khanacademy' video.0 %}"}
          -csrf_token
          %button.btn.btn-danger.btn-xs.delete{type: "submit"}
            supprimer
-# Display similar or identic videos, specify which skill/coder is concerned

-if user.professor
  %form#khan-form{method: "POST", style: "display: none", action: "{% url 'professor:update_pedagogical_ressources' type base.id %}"}
    -csrf_token
	  %input{type: "hidden", value: "lesson_khanacademy", name: "form_type"}
	  %input{type: "hidden", value: "{{ request.user.pk }}", name: "added_by"}
	  %input{type: "hidden", value: "lesson_resource", name: "section"}
	  %p
	    L'URL fournie doit être de la forme : "https://fr.khanacademy.org/.../v/...". Exemple
	   %a{href:"https://fr.khanacademy.org/math/pre-algebra/pre-algebra-factors-multiples/pre-algebra-prime-numbers/v/prime-numbers"}
	    ici
	  %label
	    URL
	  %input{type: "url", placeholder: "http:// ...", name: "url"}
	  %p
	    %input.btn.btn-primary{type: "submit", value: "Ajouter"}

%hr
%b
  Cours
%img{src: "{% static 'img/sesamath-logo.png' %}", width: "143px", style: "padding-bottom: 15px;"}
-if user.professor
  %button.show-form.btn.btn-primary.btn-sm{data-target: "#sesamath-manuel-form", style: "{% if sesamath_reference_form.errors %}display: none{% endif %}"}
    Ajouter

  %a.btn.btn-xs.btn-info{href: "http://manuel.sesamath.net/index.php?page=telechargement", target: "_blank"}
    aller sur la section manuels et cahiers

  .panel.panel-default
    %table.table
      -for sesamath in lesson_resource_sesamath
        %tr{style: "position: relative"}
          %td.center
            %a{href: "{{ sesamath.1.on_oscar }}", target: "_blank"}
              =sesamath.1.title
          %td.center
            =sesamath.1.classe
          %td.center
            =sesamath.1.year

          %td{width: "100px"}
            -if user.professor
              %form.remove-form{method: "POST", action: "{% url 'professor:remove_pedagogical_ressources' type base.id 'sesamath' sesamath.0 %}"}
                -csrf_token
                %button.btn.btn-danger.btn-xs.delete{type: "submit"}
                  supprimer

  -if user.professor
    %form{method: "POST", id: "sesamath-manuel-form", style: "{% if not sesamath_reference_form.errors %}display: none{% endif %}", action: ""}
      -csrf_token

      %input{type: "hidden", value: "sesamath_reference", name: "form_type"}
      %input{type: "hidden", value: "{{ request.user.pk }}", name: "added_by"}
      %input{type: "hidden", value: "lesson_resource", name: "section"}


      .form-group
        %ul.dropdown-menu{role: "menu", aria-labelledby: "dropdownMenu", style: "display: block; position: static; margin-bottom: 5px; max-width: 50%;"}
          -regroup sesamath_references_manuals by classe as classes
          -for classe in classes
            %li.dropdown-submenu
              %a{tabindex: "-1", href: "#"}= classe.grouper
              %ul.dropdown-menu
                -regroup classe.list by chapitre as chapitres
                  -for chapitre in chapitres
                    -for ref in chapitre.list
                      %li
                        %a{href: "javascript:selectionSesamathReference({{ ref.id }}, \"{{ ref.title }}\", \"{{ ref.on_oscar }}\", \"manuel\")"}
                          -if chapitre.grouper
                            =chapitre.grouper
                            \-
                          -if ref.section_kind and ref.section_kind != "-"
                            [{{ ref.section_kind.strip }}]
                          =ref.title

          -for error in sesamath_reference_form.ref_pk.errors
            %span.help-block= error

        %span.help-block= sesamath_reference_form.errors

      .form-group
        .input-group
          .input-group-addon Ressource sélectionnée :
          %input.form-control{id: "ref_pk_title_manuel", type: "text", value: "", name: "ref_pk_title", disabled: None}

      %input.form-control{type: "text", id: "ref_pk_manuel", value: "", name: "ref_pk", style: "display: none"}

      .panel.panel-default{id: "sesamath_pdf_manuel", style: "display: none"}
        .panel-heading
          Aperçu
        .panel-body
          %object{data: "", type: "application/pdf", width: "100%", height: "600px"}
            %iframe{src: "", style: "border: none;", width: "100%", height: "600px"}
              Votre navigateur ne permet pas de voir des fichiers PDFs,
              %a{href: "/pdf/sample-3pp.pdf"}
                télécharger le PDF pour le voir

      .form-group
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

-# Display similar or identic sesamath resource, specify which skill/coder is concerned

%hr
%b Autres

-if user.professor
  %button.show-form.btn.btn-sm.btn-primary{data-target: "#my_resource-form"}
    Ajouter
  .panel.panel-default{style: "display: none", id: "my_resource-form"}
      .panel-heading= title
      .panel-body
        %form{method: "POST", enctype: "multipart/form-data", action: ""}
          -csrf_token

          -if resource_form.errors
            =resource_form.errors
          %input{type: "hidden", value: "my_resource", name: "form_type"}
          %input{type: "hidden", value: "lesson_resource", name: "section"}
          %input{type: "hidden", value: "{{ request.user.pk }}", name: "added_by"}
          .col-md-6
            -include "professor/skill/update_pedagogical_resources/media/title_field.haml"
          .col-md-6
            -include "professor/skill/update_pedagogical_resources/media/kind_field.haml"
          %div.align-right
            %button.btn.btn-success.addMore.btn-links{type: "button", "data-target":"link"}
              %span.glyphicon.glyphicon-plus
              Ajouter un lien
              %span.badge
                0
            %button.btn.btn-success.addMore.btn-files{type: "button", "data-target":"file"}
              %span.glyphicon.glyphicon-plus
              Ajouter un fichier
              %span.badge
                0
          %div{id:'form_resource'}
            %ul.list-group
              -include "professor/skill/update_pedagogical_resources/media/link_fields.haml"
            %ul.list-group
              -include "professor/skill/update_pedagogical_resources/media/file_fields.haml"
          %p
          %div
            -include "professor/skill/update_pedagogical_resources/media/text_field.haml"
          %button.btn.btn-primary{type: "submit"}
            Valider

%ul.list-group
  -for resource in lesson_resources
    %li.list-group-item
      %h5=resource.content.title
        -#%small.badge= resource.content.kind
      %p.list-group-text
        -if resource.content.comment
          %p.small=resource.content.comment|safe
        -for item in resource.content.resources
          -if item.link|cut:" "|length > 0 or  item.file|cut:" "|length > 0
            .panel.panel-default
              %table.table
                %tbody
                  %tr
                    %td
                      -if item.optionalName
                        -if item.link|cut:" "|length > 0 and item.mediaType == "link"
                          %small.badge
                            lien
                          %a{href: "{{ item.link }}", target: "_blank"}
                            {{item.optionalName}}
                        -if item.file|cut:" "|length > 0 and item.mediaType == "file"
                           %small.badge
                            fichier
                          %a{href: "{{ MEDIA_URL }}{{ item.file }}", target: "_blank"}
                            {{item.optionalName}}
                      -else
                        -if item.link|cut:" "|length > 0 and item.mediaType == "link"
                          %small.badge
                            lien
                          %a{href: "{{ item.link }}", target: "_blank"}
                            {{item.link}}
                        -if item.file|cut:" "|length > 0 and item.mediaType == "file"
                          %small.badge
                            fichier
                          %a{href: "{{ MEDIA_URL }}{{ item.file }}", target: "_blank"}
                            {{item.file}}
                    -if user.professor

        %form.remove-form{method: "POST", action: "{% url 'professor:remove_pedagogical_ressources' type base.id 'resource' resource.id %}"}
          -csrf_token
          %button.btn.btn-danger.btn-xs.delete{type: "submit"}
            supprimer



%h5 Ressources similaires & identiques
-with type=type add=False resource_khanacademy_coder=sori_coder_lesson_resource_khanacademy resource_khanacademy_skills=sori_skills_lesson_resource_khanacademy
  -if resource_khanacademy_coder or resource_khanacademy_skills
    -include "professor/skill/update_pedagogical_resources/khanacademy.haml"

-with type=type add=False resource_sesamath_coder=sori_coder_lesson_resource_sesamath resource_sesamath_skills=sori_skills_lesson_resource_sesamath
  -if resource_sesamath_coder or resource_sesamath_skills
    -include "professor/skill/update_pedagogical_resources/sesamath.haml"

-with type=type add=False resource_lesson_coder=sori_coder_lesson_resources resource_lesson_skills=sori_skills_lesson_resources
  -if resource_lesson_coder or resource_lesson_skills
    -include "professor/skill/update_pedagogical_resources/other.haml"
