-load static
-load bootstrap3

%h5 Autres ressources

-if user.professor
  %button.show-form.btn.btn-sm.btn-primary{data-target: "#other_resource-form"}
    Ajouter
  .panel.panel-default{style: "display: none", id: "other_resource-form"}
      .panel-heading= title
      .panel-body
        %form{method: "POST", enctype: "multipart/form-data", action: ""}
          -csrf_token

          -if resource_form.errors
            =resource_form.errors
          %input{type: "hidden", value: "my_resource", name: "form_type"}
          %input{type: "hidden", value: "other_resource", name: "section"}
          %input{type: "hidden", value: "{{ request.user.pk }}", name: "added_by"}
          .col-md-6
            -include "professor/skill/update_pedagogical_resources/media/title_field.haml"
          .col-md-6
            -include "professor/skill/update_pedagogical_resources/media/kind_field.haml"
          %div.align-right
            %button.btn.btn-success.addMore.btn-links{type: "button", "data-target":"link"}
              %span.glyphicon.glyphicon-plus
              Ajouter un lien
              %span.badge
                0
            %button.btn.btn-success.addMore.btn-files{type: "button", "data-target":"file"}
              %span.glyphicon.glyphicon-plus
              Ajouter un fichier
              %span.badge
                0
          %div{id:'form_resource'}
            %ul.list-group
              -include "professor/skill/update_pedagogical_resources/media/link_fields.haml"
            %ul.list-group
              -include "professor/skill/update_pedagogical_resources/media/file_fields.haml"
          %p
          %div
            -include "professor/skill/update_pedagogical_resources/media/text_field.haml"
          %button.btn.btn-primary{type: "submit"}
            Valider
%ul.list-group
  -for resource in other_resources
   %li.list-group-item
      %h5=resource.content.title
        -#%small.badge= resource.content.kind
      %p.list-group-text
        -if resource.content.comment
          %p.small=resource.content.comment|safe
        -for item in resource.content.resources
          -if item.link|cut:" "|length > 0 or  item.file|cut:" "|length > 0
            .panel.panel-default
              %table.table
                %tbody
                  %tr
                    %td
                      -if item.optionalName
                        -if item.link|cut:" "|length > 0 and item.mediaType == "link"
                          %small.badge
                            lien
                          %a{href: "{{ item.link }}", target: "_blank"}
                            {{item.optionalName}}
                        -if item.file|cut:" "|length > 0 and item.mediaType == "file"
                           %small.badge
                            fichier
                          %a{href: "{{ MEDIA_URL }}{{ item.file }}", target: "_blank"}
                            {{item.optionalName}}
                      -else
                        -if item.link|cut:" "|length > 0 and item.mediaType == "link"
                          %small.badge
                            lien
                          %a{href: "{{ item.link }}", target: "_blank"}
                            {{item.link}}
                        -if item.file|cut:" "|length > 0 and item.mediaType == "file"
                          %small.badge
                            fichier
                          %a{href: "{{ MEDIA_URL }}{{ item.file }}", target: "_blank"}
                            {{item.file}}
                    -if user.professor

        %form.remove-form{method: "POST", action: "{% url 'professor:remove_pedagogical_ressources' type base.id 'resource' resource.id %}"}
          -csrf_token
          %button.btn.btn-danger.btn-xs.delete{type: "submit"}
            supprimer



%h5 Ressources similaires & identiques
-with type=type add=False resource_lesson_coder=sori_coder_other_resources resource_lesson_skills=sori_skills_other_resources
  -if resource_lesson_coder or resource_lesson_skills
    -include "professor/skill/update_pedagogical_resources/other.haml"
