-load crispy_forms_tags
-load lesson_tags


%h5 Ressources personnelles
          %small pour mes élèves uniquement
          %button.show-form.btn.btn-sm.btn-primary{data-target: "#personal_resource-form"}
            Ajouter

%ul.list-group
  -for resource in personal_resources
    %li.list-group-item
      %h4.list-group-item-heading= resource.content.title
        -if resource.content.author
          par
          %i
            =resource.content.author
        %small= resource.content.kind
      %p.list-group-text
        -if resource.content.comment
          =resource.content.comment|safe
      .row
        -if resource.content.resources.link|cut:" "|length > 0 or  resource.content.resoures.file|cut:" "|length > 0
          %div{class: "col-md-{% if resource.content.resources.link|cut:' '|length > 0 and resource.content.resoures.file|cut:' '|length > 0 %}6{% else %}12{% endif %}"}
                %h5 Fichiers

              .list-group
                 
                %a.list-group-item{href: "{{ MEDIA_URL }}{{ resource.content.resources.file }}"}
                  %span.badge= resource.content.resources.type
                  -if resource.content.resources.optionalName
                    =resource.content.resources.optionalName
                  -else
                   // =file.file.name|clean_file_name
      -if resource.content.resources.link|cut:" "|length > 0
        %div{class: "col-md-{% if resource.content.resources.file|cut:' '|length > 0 %}6{% else %}12{% endif %}"}
              %h5 Liens
              %a.list-group-item{href: "{{ resource.content.resources.link }}", target: "_blank"}
                %span.badge= resource.content.resources.type
                //=resource.content.resources.optionalName|default:resource.content.resoures.link

      -if user.professor and resource.added_by == request.user
        %a.btn.btn-danger.btn-sm.remove.delete{href: "{% url 'professor:remove_pedagogical_ressources' 'resource' resource.id %}"}
          supprimer


         