-load static

.well.sesamath-well
  %h3
    =title
    %img{src: "{% static 'img/sesamath-logo.png' %}", width: "143px", style: "padding-bottom: 15px;"}
    %button.show-form.btn.btn-primary.btn-sm{data-target: "#sesamath-{{ kind }}-form", style: "{% if sesamath_reference_form.errors %}display: none{% endif %}"}
      Ajouter

    %a.btn.btn-xs.btn-info{href: "http://manuel.sesamath.net/index.php?page=telechargement", target: "_blank"}
      aller sur la section manuels et cahiers

  %ul
    -for sesamath in resources
      %li
        %a{href: "{{ sesamath.reference.on_oscar }}", target: "_blank"}
          =sesamath.reference.title

        -if sesamath.added_by == request.user
          \-
          %form.remove-form{method: "POST", action: "{% url 'professor:skill_remove_pedagogical_ressources' 'sesamath' sesamath.id %}"}
            -csrf_token
            %button.btn.btn-danger.btn-xs.delete{type: "submit"}
              supprimer

  %form{method: "POST", id: "sesamath-{{ kind }}-form", style: "{% if not sesamath_reference_form.errors %}display: none{% endif %}", action: "{% url 'professor:skill_update_pedagogical_ressources' object.code %}"}
    -csrf_token

    %input{type: "hidden", value: "sesamath_reference", name: "form_type"}
    %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}
    %input{type: "hidden", value: "{{ request.user.pk }}", name: "added_by"}

    .form-group
      %ul.dropdown-menu{role: "menu", aria-labelledby: "dropdownMenu", style: "display: block; position: static; margin-bottom: 5px; max-width: 50%;"}
        -regroup references by classe as classes
        -for classe in classes
          %li.dropdown-submenu
            %a{tabindex: "-1", href: "#"}= classe.grouper
            %ul.dropdown-menu
              -regroup classe.list by chapitre as chapitres
                -for chapitre in chapitres
                  -for ref in chapitre.list
                    %li
                      %a{href: "javascript:selectionSesamathReference({{ ref.id }}, \"{{ ref.title }}\", \"{{ ref.on_oscar }}\", \"{{ kind }}\")"}
                        -if chapitre.grouper
                          =chapitre.grouper
                          \-
                        -if ref.section_kind and ref.section_kind != "-"
                          [{{ ref.section_kind.strip }}]
                        =ref.title

        -for error in sesamath_reference_form.ref_pk.errors
          %span.help-block= error

      %span.help-block= sesamath_reference_form.errors

    .form-group
      .input-group
        .input-group-addon Ressource sélectionnée :
        %input.form-control{id: "ref_pk_title_{{ kind }}", type: "text", value: "", name: "ref_pk_title", disabled: None}

    %input.form-control{type: "text", id: "ref_pk_{{ kind }}", value: "", name: "ref_pk", style: "display: none"}

    .panel.panel-default{id: "sesamath_pdf_{{ kind }}", style: "display: none"}
      .panel-heading
        Aperçu
      .panel-body
        %object{data: "", type: "application/pdf", width: "100%", height: "600px"}
          %iframe{src: "", style: "border: none;", width: "100%", height: "600px"}
            Votre navigateur ne permet pas de voir des fichiers PDFs,
            %a{href: "/pdf/sample-3pp.pdf"}
              télécharger le PDF pour le voir
          .


    .form-group
      %input.btn.btn-primary{type: "submit", value: "Ajouter"}
