-extends "base.haml"

-load student_tags

-block breadcrumb
  -with lesson=user.student.lesson_set.first
    %ol.breadcrumb
      %li.active
        %a{href: "{% url 'student_dashboard' %}"}
          Classe
          =lesson.name

-block content
  %h2 Tests passés
  %hr

  %ul
    -for student_test in user.student.teststudent_set.all
      -if student_test.finished
        %li
          {{ student_test.test.created_at|date:"d/m/Y" }}
          = student_test.test.name
